<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>FAQ</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/faq.css}"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script type="text/javascript">
	 function showContent(faq){
		var index = faq.getAttribute("idx");
		var id = "#faqcontent"+index;
		var img = "#faqimg"+index;
		
		if($(id).css("display") == "block") {
			$(id).css("display", "none");
			$(img).attr("src", "/assets/more2.png");
		}
		else {
			$(id).css("display", "block");
			$(img).attr("src", "/assets/close.png");
		} 
	}
	
	$(function() {
		$("#searchbtn").click(function() {
			var keyword = $("#keyword").val();
			if(keyword!=null && keyword!='') {
				url = "/FAQ/"+keyword;
			}
			else {
				url = "/FAQ";
			}
			location.href = url;
		})
	})	 
  </script>
</head>
<body>
<div class="faq" layout:fragment="content">
  <div class="main">	
	  <!-- location div 시작 -->
	  <div class="location">
	      <a th:href="@{/mainPage}" class="home" th:text="홈"></a>
	      <img class="nexticon" src="/assets/icon-YJu.png"/>
	      <div class="community">FAQ</div>
	      <img class="nexticon2" src="/assets/icon-YJu.png"/>
	      <div class="freelist_text">FAQ</div>
	  </div>
	  <!-- location div 끝 -->
	  
	  <div class="title">FAQ</div>
		<!-- main_searchbar div 시작 -->
	  <div class="main_searchbar">
		  <!--main_searchtext div 시작-->
		  <div class="main_searchtext">
			  <input type="text" name="keyword" id="keyword" placeholder="검색어를 입력하세요.">
		  	  <!-- searchbtn button 시작 -->
		      <button class="searchbtn" id="searchbtn">
		        <img class="search_icon" src="/assets/icon-YCy.png"/>
		      </button>
			  <!-- searchbtn button 끝 -->
		  </div>
		  <!--main_searchtext div 끝-->
	  </div>
		<!-- main_searchbar div 끝 -->
		
		
	  <div class="div_content">
		  
		  <th:block th:each="f:${list}">
		  <!-- div_faq 시작 -->
		  <div class="div_faq">
			  <div class="faq_top" th:idx="${f.faqno}" onclick="showContent(this)">
				  <div class="faqtitle" th:text="${f.faqtitle}"></div>
				  <div class="faqmore">
					  <img class="more_img" th:id="'faqimg'+${f.faqno}" src="/assets/more2.png" />
				  </div>
			  </div>
			  <div class="faqcontent" th:idx="${f.faqno}" th:id="'faqcontent'+${f.faqno}"  th:text="${f.faqcontent}"></div>
		  </div>
		  <!-- div_faq 끝 -->
		  </th:block>
	  </div>
	  
  </div>
</div>
</body>