<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	<!--오픈톡 띄우기-->
	function opentalk(){
		console.log("눌렸어");
		// 새 창을 띄우기 위한 옵션 설정
        var windowFeatures = 'width=385px,height=395px';
        // 새 창 열기
        var newWindow = window.open('/opentalk', '_blank', windowFeatures);
        // 새 창이 차단되었을 경우 알림
        if (!newWindow) {
            alert('팝업 차단 기능이 활성화되어 있습니다. 새 창이 열리지 않을 수 있습니다.');
        }
	}
</script>
</head>
<body>
	<h2>메인</h2>
	<a th:href="@{/mainPage}" th:text="홈메인페이지"></a>
	<hr />
	<h2>행사</h2>
	<a th:href="@{/event/domesticconcertlist}" th:text="국내공연목록"></a><br />
	<a th:href="@{/event/koreaconcertlist}" th:text="내한공연목록"></a><br />
	<a th:href="@{/event/musicallist}" th:text="뮤지컬목록"></a><br />
	<a th:href="@{/event/playlist}" th:text="연극목록"></a><br />
	<a th:href="@{/event/festivallist}" th:text="페스티벌목록"></a><br />
	<hr />
	<h2>게시판</h2>
	<a th:href="@{/boards/board/freelist/1}" th:text="자유게시판"></a>
	<h2>오픈톡</h2>
	<button onclick="opentalk()">오픈톡</button>
	<a th:href="@{/opentalk}" th:text="오픈톡"></a>
</body>
</html>