<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>opentalk</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/opentalk.css"/>
</head>
<body>
<div class="opentalk-vXb">
  <div class="opentalktitle-RUM">오픈톡</div>
  <div class="frameopentalk-hgm">
    <div class="opentalk-d4d">
      <div class="talk1-N2D">
        <div class="profile-Vcd">
          <img class="ellipse-8-26m" src="./assets/ellipse-8-cDF.png"/>
          <img class="iconprofile-xFK" src="./assets/iconprofile-m69.png"/>
          <div class="name-VFF">name</div>
        </div>
        <div class="talkcontent-Npq">Lorem ipsum dolor sit amet consectetur. Porttitor nibh ullamcorper adipiscing tellus. In nibh sociis rhoncus nunc.</div>
      </div>
      <div class="talk2-toB">
        <div class="profile-2uP">
          <img class="ellipse-8-Mgm" src="./assets/ellipse-8-zd7.png"/>
          <img class="iconprofile-JM7" src="./assets/iconprofile-iuF.png"/>
          <div class="name-SiD">name</div>
        </div>
        <div class="talkcontent-YFT">Lorem ipsum dolor sit amet consectetur. Porttitor nibh ullamcorper adipiscing tellus. In nibh sociis rhoncus nunc.</div>
      </div>
    </div>
  </div>
  <div class="divinputtalk-F9s">
    <img class="profile-zdF" src="./assets/profile-nXB.png"/>
    <div class="inputtalk-vmo">내용을 입력하세요.</div>
    <img class="iconheart-eho" src="./assets/iconheart-twb.png"/>
  </div>
</div>
</body>