<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>검색결과</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/searchresult.css}"/>
</head>
<body>
<!-- searchresult 시작 -->
<div class="searchresult" layout:fragment="content">

  <div class="maintitle">검색결과</div>
  
  <!-- div_main 시작 -->
  <div class="div_main">
    <div class="event_txt">행사 상세</div>
    
    <!-- div_event 시작 -->
    <div class="div_event">
	  <!-- event 시작 -->
      <div class="event">
        <div class="event_img"></div>
        <!-- event_content 시작 -->
        <div class="event_content">
          <div class="event_type">공연 종류</div>
          <div class="event_name">공연 이름</div>
        </div>
        <!-- event_content 끝 -->
      </div>
      <!-- event 끝 -->

      <!-- event 시작 -->
      <div class="event">
        <div class="event_img"></div>
        <!-- event_content 시작 -->
        <div class="event_content">
          <div class="event_type">공연 종류</div>
          <div class="event_name">공연 이름</div>
        </div>
        <!-- event_content 끝 -->
      </div>
      <!-- event 끝 -->
      
      <!-- event 시작 -->
      <div class="event">
        <div class="event_img"></div>
        <!-- event_content 시작 -->
        <div class="event_content">
          <div class="event_type">공연 종류</div>
          <div class="event_name">공연 이름</div>
        </div>
        <!-- event_content 끝 -->
      </div>
      <!-- event 끝 -->
      
      <!-- event 시작 -->
      <div class="event">
        <div class="event_img"></div>
        <!-- event_content 시작 -->
        <div class="event_content">
          <div class="event_type">공연 종류</div>
          <div class="event_name">공연 이름</div>
        </div>
        <!-- event_content 끝 -->
      </div>
      <!-- event 끝 -->
    </div>
    <!-- div_event 끝 -->
    
    <!-- div_more 시작 -->
    <div class="div_more">
      <div class="more_txt">더보기</div>
      <img class="btndoublenext" src="./assets/btndoublenext-Loj.png"/>
    </div>
    <!-- div_more 끝 -->
    
    
    <div class="div_line">
    </div>
    <div class="div_line2">
    </div>
    <div class="div_line3">
    </div>
    
    
<!--
    <div class="item--h2q">
      <div class="item--Dms">더보기</div>
      <img class="btndoublenext-kG1" src="./assets/btndoublenext-aiV.png"/>
    </div>
    <div class="item--tND">
      <div class="item--QrM">더보기</div>
      <img class="btndoublenext-YBs" src="./assets/btndoublenext-idw.png"/>
    </div>-->
    
    <div class="board_txt">게시판</div>
    
    <!-- board_head 시작 -->
    <div class="board_head">
      <div class="head_color"></div>
      
      <!-- head_txts 시작 -->
      <div class="head_txts">
        <div class="bno_txt">글번호</div>
        <div class="title_txt">제목</div>
        <div class="regdate_txt">작성일</div>
        <div class="id_txt">ID</div>
        <div class="hit_txt">조회수</div>
        <div class="likes_txt">좋아요</div>
      </div>
      <!-- head_txts 끝 -->
    </div>
    <!-- board_head 끝 -->
   
    <!-- div_board 시작 -->
    <div class="div_board">
	  <!-- board 시작 -->
      <div class="board">
        <div class="dno">276</div>
        <div class="title">고척돔 공연 후기 (0)</div>
        <div class="regdate">2023-07-13</div>
        <div class="userid">teddie</div>
        <div class="hit">3</div>
        <div class="wish">3</div>
      </div>
      <!-- board 끝 -->
      
      <!-- board 시작 -->
      <div class="board">
        <div class="dno">276</div>
        <div class="title">고척돔 공연 후기 (0)</div>
        <div class="regdate">2023-07-13</div>
        <div class="userid">teddie</div>
        <div class="hit">3</div>
        <div class="wish">3</div>
      </div>
      <!-- board 끝 -->
      
      <!-- board 시작 -->
      <div class="board">
        <div class="dno">276</div>
        <div class="title">고척돔 공연 후기 (0)</div>
        <div class="regdate">2023-07-13</div>
        <div class="userid">teddie</div>
        <div class="hit">3</div>
        <div class="wish">3</div>
      </div>
      <!-- board 끝 -->
      
      <!-- board 시작 -->
      <div class="board">
        <div class="dno">276</div>
        <div class="title">고척돔 공연 후기 (0)</div>
        <div class="regdate">2023-07-13</div>
        <div class="userid">teddie</div>
        <div class="hit">3</div>
        <div class="wish">3</div>
      </div>
      <!-- board 끝 -->
    </div>
    <!-- div_board 끝 -->
        
    <!-- div_more 시작 -->
    <div class="div_more">
      <div class="more_txt">더보기</div>
      <img class="btndoublenext" src="./assets/btndoublenext-Loj.png"/>
    </div>
    <!-- div_more 끝 -->
    
    
    
    
    
    <div class="FAQ_txt">FAQ</div>
    
    <!-- FAQ_head 시작 -->
    <div class="FAQ_head">
	  <!-- div_FAQ 시작 -->
      <div class="div_FAQ">
        <div class="faqno_txt">글번호</div>
        <div class="category_txt">카테고리</div>
        <div class="faqcategory_txt">제목</div>
      </div>
      <!-- div_FAQ 끝 -->
    </div>
    <!-- FAQ_head 끝 -->
    
    <!-- div_faq 시작 -->
    <div class="div_faq">
		
	  <!-- faq 시작 -->
      <div class="faq">
          <div class="faqno">12</div>
          <div class="faqcategory">동행</div>
          <div class="faqtitle">블랙리스트는 따로 없나요?</div>
      </div>
      <!-- faq 끝 -->
      
      <!-- faq 시작 -->
      <div class="faq">
          <div class="faqno">12</div>
          <div class="faqcategory">동행</div>
          <div class="faqtitle">블랙리스트는 따로 없나요?</div>
      </div>
      <!-- faq 끝 -->
      
      <!-- faq 시작 -->
      <div class="faq">
          <div class="faqno">12</div>
          <div class="faqcategory">동행</div>
          <div class="faqtitle">블랙리스트는 따로 없나요?</div>
      </div>
      <!-- faq 끝 -->
      
      <!-- faq 시작 -->
      <div class="faq">
          <div class="faqno">12</div>
          <div class="faqcategory">동행</div>
          <div class="faqtitle">블랙리스트는 따로 없나요?</div>
      </div>
      <!-- faq 끝 -->
      
    </div>
    <!-- div_faq 끝 -->
    
  </div>
  <!-- div_main 끝 -->
</div>
<!-- searchresult 끝-->
</body>
</html>