<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>검색결과</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/searchresult.css}"/>
  <style>
	  .eventlist {
		  display: block;
	  }
  </style>
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script type="text/javascript">
	 function gotoBoardDetail(bcategory, bno){
		if(bcategory == "자유") {
			location.href="/boards/board/freeDetail?boardno="+bno;
		}
		else if(bcategory == "동행") {
			location.href="/boards/board/togetherDetail?boardno="+bno;
		}
		else {
			location.href="/boards/review/reviewDetail?reviewno="+bno;
		}
	//	
	} 
  </script>
  
</head>
<body>
<!-- searchresult 시작 -->
<div class="searchresult" layout:fragment="content">

  <div class="maintitle">검색결과</div>
  
  <!-- div_main 시작 -->
  <div class="div_main">
    <div class="event_txt">행사 상세</div>

    <!-- eventlist 시작 -->
    <div class="eventlist">
    <!-- div_event 시작 -->
	    <div class="div_event">
		    <th:block th:if="${event_list_size == 0}">
				<div class="no_result">일치하는 결과가 없습니다.</div>
		    </th:block>

		  <!-- event 시작 -->
		  <th:block th:each=" e : ${event_list}">
	      <div class="event" th:onclick="'location.href=\'' + @{/event/eventdetail(eventno=${e.eventno})} + '\''">
	        <img class="event_img" th:src="${e.eventfname == null ? '/images/togetready.png' : '/images/' + e.eventfname}" alt="행사 이미지"></img>
	        <!-- event_content 시작 -->
	        <div class="event_content">
			  <th:block th:if="${e.categoryno == 1}">
	        	  <div class="event_type" th:text="국내공연"></div>
	          </th:block>
	          <th:block th:if="${e.categoryno == 2}">
	        	  <div class="event_type" th:text="내한공연"></div>
	          </th:block>
	          <th:block th:if="${e.categoryno == 3}">
	        	  <div class="event_type" th:text="뮤지컬"></div>
	          </th:block>
	          <th:block th:if="${e.categoryno == 4}">
	        	  <div class="event_type" th:text="연극"></div>
	          </th:block>
	          <th:block th:if="${e.categoryno == 5}">
	        	  <div class="event_type" th:text="페스티벌"></div>
	          </th:block>
	          <div class="event_name" th:text="${e.eventname}"></div>
	        </div>
	        <!-- event_content 끝 -->
	      </div>
      	  </th:block>

	      <!-- event 끝 -->
		
      
      
      </div>
    <!-- div_event 끝 -->


    
    </div>
	<!-- eventlist 끝 -->
    
    <div class="div_line">
    </div>
    <div class="div_line2">
    </div>
    <div class="div_line3">
    </div>
    
    
<!--
    <div class="item--h2q">
      <div class="item--Dms">더보기</div>
      <img class="btndoublenext-kG1" src="./assets/btndoublenext-aiV.png"/>
    </div>
    <div class="item--tND">
      <div class="item--QrM">더보기</div>
      <img class="btndoublenext-YBs" src="./assets/btndoublenext-idw.png"/>
    </div>-->
    
    <div class="board_txt">게시판</div>
    
    <th:block th:if="${board_list_size == 0}">
		<div class="no_result_board">일치하는 결과가 없습니다.</div>
    </th:block>

    
    <!-- board_head 시작 -->
    <th:block th:if="${board_list_size != 0}">

	    <div class="board_head">
	      <div class="head_color"></div>
	      
	      <!-- head_txts 시작 -->
	      <div class="head_txts">
	        <div class="bno_txt">글번호</div>
	        <div class="title_txt">제목</div>
	        <div class="regdate_txt">작성일</div>
	        <div class="id_txt">ID</div>
	        <div class="hit_txt">조회수</div>
	        <div class="likes_txt">좋아요</div>
	      </div>
	      <!-- head_txts 끝 -->
	    </div>
	    <!-- board_head 끝 -->
	   
	    <!-- div_board 시작 -->
	    <div class="div_board">
		  <!-- board 시작 -->
		  <th:block th:each="b : ${list}">
	      <div class="board" th:bcategory="${b.bcategory}" th:bno="${b.boardno}" th:onclick="gotoBoardDetail(this.getAttribute('bcategory'), this.getAttribute('bno'))">
	        <div class="bno" th:text="${b.boardno}"></div>
	        <div class="title" th:text="${b.boardtitle}"></div>
	        <div class="regdate" th:text="${b.regdate}"></div>
	        <div class="userid" th:text="${b.nickname}"></div>
	        <div class="hit" th:text="${b.boardhit}"></div>
	        <div class="wish" th:text="${b.boardlikes}"></div>
	      </div>
		  </th:block>
	      <!-- board 끝 -->
	      
	    </div>
	    <!-- div_board 끝 -->
	        

 	</th:block>

    
    <div class="FAQ_txt">FAQ</div>
    
    <!-- FAQ_head 시작 -->
    <div class="FAQ_head">
	  <!-- div_FAQ 시작 -->
      <div class="div_FAQ">
        <div class="faqno_txt">글번호</div>
        <div class="category_txt">카테고리</div>
        <div class="faqcategory_txt">제목</div>
      </div>
      <!-- div_FAQ 끝 -->
    </div>
    <!-- FAQ_head 끝 -->
    
    <!-- div_faq 시작 -->
    <div class="div_faq">
		
	  <!-- faq 시작 -->
      <div class="faq">
          <div class="faqno">12</div>
          <div class="faqcategory">동행</div>
          <div class="faqtitle">블랙리스트는 따로 없나요?</div>
      </div>
      <!-- faq 끝 -->
      
      <!-- faq 시작 -->
      <div class="faq">
          <div class="faqno">12</div>
          <div class="faqcategory">동행</div>
          <div class="faqtitle">블랙리스트는 따로 없나요?</div>
      </div>
      <!-- faq 끝 -->
      
      <!-- faq 시작 -->
      <div class="faq">
          <div class="faqno">12</div>
          <div class="faqcategory">동행</div>
          <div class="faqtitle">블랙리스트는 따로 없나요?</div>
      </div>
      <!-- faq 끝 -->
      
      <!-- faq 시작 -->
      <div class="faq">
          <div class="faqno">12</div>
          <div class="faqcategory">동행</div>
          <div class="faqtitle">블랙리스트는 따로 없나요?</div>
      </div>
      <!-- faq 끝 -->
      
    </div>
    <!-- div_faq 끝 -->
    
<!--     div_more 시작 
    <div class="div_more3">
      <div class="more_txt">더보기</div>
      <img class="btndoublenext" src="./assets/btndoublenext-HJq.png"/>
    </div>
     div_more 끝 -->
    
  </div>
  <!-- div_main 끝 -->
</div>
<!-- searchresult 끝-->
</body>
</html>