<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>mypage</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet"> 
 <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/editmypage.css}"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script type="text/javascript">
	  		//--------gnb드롭다운
	//마우스가 올라오면 드롭다운
	 function showDropDown() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'visible';
      }
	//gnb에 마우스가 벗어나면 드롭다운 없애기
     function hideDropDown() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'hidden';
     }
    //gnb에 마우스가 벗어나도 드롭다운에 마우스가 올라오면 드롭다운 그대로 유지
     function cancelHide() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'visible';
     }
     
    //--------------오픈톡
	//버튼 선택시 오픈톡 새창 띄우기
	function opentalk(){
		// 새 창을 띄우기 위한 옵션 설정
        var windowFeatures = 'width=550px,height=550px';
        // 새 창 열기
        var newWindow = window.open('/opentalk', '_blank', windowFeatures);
        // 새 창이 차단되었을 경우 알림
        if (!newWindow) {
            alert('팝업 차단 기능이 활성화되어 있습니다. 새 창이 열리지 않을 수 있습니다.');
        }
	}	

	$(function() {
		$(".registration_text").click(function() {
			$(".clicked").css("color", "#a5a5a5");
			$(".registration_text").css("color", "black");
		})

	})
	
	function editpic(){
		// 새 창을 띄우기 위한 옵션 설정
        var windowFeatures = 'width=500px,height=400px';
        // 새 창 열기
        var newWindow = window.open('/member/editpic', '_blank', windowFeatures);
        // 새 창이 차단되었을 경우 알림
        if (!newWindow) {
            alert('팝업 차단 기능이 활성화되어 있습니다. 새 창이 열리지 않을 수 있습니다.');
        }
	}	
	
	function chkpwd(){
		// 새 창을 띄우기 위한 옵션 설정
        var windowFeatures = 'width=450px,height=270px';
        // 새 창 열기
        var newWindow = window.open('/member/changepwd', '_blank', windowFeatures);
        // 새 창이 차단되었을 경우 알림
        if (!newWindow) {
            alert('팝업 차단 기능이 활성화되어 있습니다. 새 창이 열리지 않을 수 있습니다.');
        }
	}	
	
	function getAuthNum(){
		alert("인증번호가 발송되었습니다.");
		$(".authentication").css("display", "flex");

		var data = {
				email: $("#email").val()
		};
		
		$.ajax({
			url:"/vaildEmail",
			data: data,
			success:function(n) {
				sendNUM = eval(n); // 숫자로 변환
			}
		});	
	}	
	
	function checkAuthNum(){
		userNUM = eval($("#authnum").val());
		var data = {
				email: $("#email").val()
		};
		if(userNUM == sendNUM) {
			alert("인증되었습니다.");
			$.ajax({
				url:"/changeEmail",
				success:function(num) {
					$("#chkemail").val(num);
				}
			});	
		}else {
			alert("인증에 실패하였습니다.");
			$("#email").val("");
			$(".authentication").css("display", "none");
		}
	}

  </script>
  <style></style>
</head>
<body>
<!--mypage 시작-->
<div class="mypage" layout:fragment="content">
	
   <!--회원정보 수정이 있는 경우 msg 띄우고, 창 이동 -->
   <th:block th:if="${msg}!=null">
		<script>
			top.alert("[[${msg}]]");
		</script>
	</th:block>
	<th:block th:if="${pagehref}!=null">
		<script>
			top.location.href = '[[${pagehref}]]';
		</script>
	</th:block>
	
	
  <!--div_main 시작-->
  <div class="div_main">
	<!--main_top 시작-->
    <div class="main_top">
	  <!--headerframe 시작-->
      <div class="headerframe">
        <div class="home" onclick="location.href='/mainPage'">홈</div>
        <img class="nexticon" src="/assets/icon-YJu.png"/>
        <!--div_root 시작-->
        <div class="div_root">
          <div class="mypage_text" onclick="location.href='/member/mypage'">마이페이지</div>
          <img class="nexticon2" src="/assets/icon-YJu.png"/>
        </div>
        <!--div_root 끝-->
        <div class="myinfo_text">회원정보수정</div>
      </div>
      <!--headerframe 끝-->
      
      <!--div_filter 시작-->
      <div class="div_filter">
        <div class="registration_text clicked">회원정보</div>
        <div class="middleline">
        </div>
        <div class="message_text">쪽지함</div>
        <div class="middleline2">
        </div>
        <div class="like_text">관심목록</div>
      </div>
      <!--div_filter 끝-->
    </div>
    <!--main_top 끝-->
    
    <div class="title">정보수정</div>

    
    <!--div_myinfo 시작-->
    <form method="post" action="/member/editmypage">
    <div class="div_myinfo">
		<div class="div_img">
			<img class="profile_img" src="/profileImage/profile.png"/>
            <img class="pencilline" src="/assets/pencilline-TAy.png"/>
            <a class="a_myinfo" onclick="editpic()" th:text="사진수정" target="_blank"></a>
		</div>
      
      <!--information 시작-->
      <div class="information">
		<!--div_id 시작-->  
        <div class="div_id">
          <div class="id_text">아이디</div>
          <div class="userid" th:text="${session.m.id}"></div>
        </div>
        <!--div_id 끝-->  
        
        <!--div_name 시작--> 
        <div class="div_name">
          <div class="name_text">이름</div>
          <div class="username" th:text="${session.m.name}"></div>
        </div>
        <!--div_name 끝-->
        
        
        <!--div_nickname 시작--> 
        <div class="div_nickname">
          <div class="nickname_text">닉네임</div>
          <input type="text" name="nickname" class="usernickname" th:value="${session.m.nickname}"/>
        </div>
        <!--div_nickname 끝-->
        
<!--        div_pwd 시작 
        <div class="div_pwd">
          <div class="pwd_text">비밀번호</div>
          <input type="password" name="pwd" class="userpwd" th:value="${session.m.pwd}"/>
          <div class="btnchangepwd" onclick="showchkpwd()">변경</div>
        </div>
        div_pwd 끝
        
        div_chkpwd 시작 
        <div class="div_chkpwd">
          <div class="chkpwd_text">비밀번호 확인</div>
          <input type="password" name="chkpwd" class="userchkpwd"/>
        </div>
        div_chkpwd 끝-->
        
        <!--div_email 시작-->
        <div class="div_email">
          <div class="email_text">이메일</div>
          <input type="text" name="email" id="email" class="useremail" th:value="${session.m.email}"/>
          <div class="btnsubmit" onclick="getAuthNum()">인증요청</div>
        </div>
        <!--div_email 끝-->


		<!--authentication 시작-->
        <div class="authentication">
		  <div class="authnum_text">인증번호</div>
          <input type="text" name="authnum" id="authnum" class="authnum"/>
          <div class="btncheck" onclick="checkAuthNum()">인증확인</div>
		</div>
		<!--authentication 끝-->
        
        <!--div_birth 시작-->
        <div class="div_birth">
          <div class="birth_text">생년월일</div>
          <div class="userbirth" th:text="${session.m.birth}"></div>
        </div>
        <!--div_birth 끝-->
        
        <!--div_gender 시작-->
        <div class="div_gender">
          <div class="gender_text">성별</div>
          <div class="usergender" th:text="${session.m.gender}"></div>
        </div>
        <!--div_gender 끝-->
      </div>
      <!--information 끝-->
      
      <!--div_btns 시작-->
      <div class="div_btns">
        <div class="btnchangepwd" onclick="chkpwd()">비밀번호 변경</div>
        <input type="submit" value="회원정보 수정" class="updateinfobtn"/>
        <input type="hidden" name="chkemail" id="chkemail" value="0">

      </div>
      <!--div_btns 끝-->
    </div>
   </form>

    <!--div_myinfo 끝 -->
  </div>
  <!--div_main 끝-->
</div>
<!--mypage 끝-->
</body>
</html>