<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>보낸 쪽지</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="/styles/messageboxsend.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script>
	  // 팝업 닫기
	  function closePopup() {
	    window.close();
	  }
  </script>
</head>
<body>
<div class="messageboxsend-fu3">
  <div class="line-28-ZUd">
  </div>
  <div class="line-29-FcM">
  </div>
  <div class="line-30-xFs">
  </div>
  <div class="item--nw3">받는사람</div>
  <div class="item--Hso">보낸시간</div>
  <div class="id1234--11B" th:text="${message.member.nickname}"></div>
  <div class="yy-mm-dd-00-00-heh" th:text="${message.regdate}"></div>
  <div class="item--ot5" th:text="${message.mcontent}"></div>
  <div class="frame-48-nZf">
    <div class="btnsend-uuB">삭제하기</div>
    <div class="btnback-ni5" onclick="closePopup()">취소</div>
  </div>
  <div class="line-30-fms">
  </div>
</div>
</body>