<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>message_box_receive</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/messageboxreceive.css"/>
</head>
<body>
<div class="messageboxreceive-rGq">
  <div class="line-28-LSu">
  </div>
  <div class="line-29-SF3">
  </div>
  <div class="line-30-YYy">
  </div>
  <div class="item--FyB">받은쪽지</div>
  <div class="item-0-50-h4V">
    <span class="item-0-50-h4V-sub-0">0</span>
    <span class="item-0-50-h4V-sub-1">/50</span>
  </div>
  <div class="id1234--4hf">김소정(id_1234 / 닉네임)</div>
  <div class="yy-mm-dd-00-00-x2M">YY-MM-DD [00:00]</div>
  <div class="item--FGM">안녕하세요.</div>
  <div class="line-30-wQ5">
  </div>
  <div class="item--epH">보낸사람</div>
  <div class="item--v17">보낸시간</div>
  <div class="frame-48-PQV">
    <div class="btnsend-GDP">답장하기</div>
    <div class="btnback-Vrq">취소</div>
  </div>
</div>
</body>