<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>받은 쪽지</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" th:href="@{/styles/messageboxreceive.css}"/>
</head>
<body>
<div class="messageboxreceive-rGq">
  <div class="line-29-SF3">
  </div>
  <div class="line-30-YYy">
  </div>
  <div class="id1234--4hf" th:text="${senderNickname}"></div>
  <div class="yy-mm-dd-00-00-x2M" th:text="${message.regdate}"></div>
  <div class="item--FGM" th:text="${message.mcontent}"></div>
  <div class="line-30-wQ5">
  </div>
  <div class="item--epH">보낸사람</div>
  <div class="item--v17">보낸시간</div>
  <div class="frame-48-PQV">
    <div class="btnsend-GDP">답장하기</div>
    <div class="btnback-Vrq">취소</div>
  </div>
</div>
</body>