<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>보낸 쪽지함</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet"> 
<link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/styles/mypagemessagesend.css}"/>
<script th:inline="javascript">
	// 팝업 열기 함수
	function openMessagePopup() {
	    // 팝업창을 여는 코드를 작성합니다.
	    window.open('/member/messagesend', 'messagePopup', 'width=510,height=430');
	}
	
	function openSentMessagePopup(mno) {
	    const url = '/member/messageboxsend?mno=' + mno;
	    window.open(url, 'messagePopup', 'width=510,height=430');
	}
	
	//체크박스+삭제버튼을 통한 삭제 기능
	function deleteMessages() {
	    const selectedMessageIds = [];
	    const messageCheckboxes = document.querySelectorAll('input[name="messageCheckbox"]:checked');
	    
	    messageCheckboxes.forEach(function (checkbox) {
	        selectedMessageIds.push(checkbox.value);
	    });

	    if (selectedMessageIds.length > 0 && confirm('선택한 쪽지를 삭제하시겠습니까?')) {
	        // 선택한 쪽지 ID를 AJAX를 통해 서버로 전송하여 삭제합니다.
	        $.ajax({
	            type: 'POST',
	            url: '/member/deletemessages',
	            data: {
	                messageIds: selectedMessageIds // messageIds를 올바르게 설정해야 합니다.
	            },
	            traditional: true, // 배열 파라미터 전송을 위한 설정
	            success: function (data) {
	                alert(data);
	                location.reload(); // 삭제 후 페이지 새로고침
	            },
	            error: function () {
	                alert('쪽지 삭제에 실패하였습니다.');
	            }
	        });
	    }
	}

	//휴지통 이미지 클릭을 통한 1개 삭제 기능
    function deleteMessage(mno) {
        if (confirm('쪽지를 삭제하시겠습니까?')) {
            $.ajax({
                type: 'POST',
                url: '/member/deletemessage',
                data: {
                    mno: mno
                },
                success: function (data) {
                    alert(data);
                    // 페이지 리로딩 또는 쪽지 목록 다시 불러오기 등의 동작 수행
                    location.reload();
                },
                error: function () {
                    alert('쪽지 삭제에 실패하였습니다.');
                }
            });
        }
    }
    
    //전체 체크박스 선택 기능
    document.addEventListener('DOMContentLoaded', function () {
	    const selectAllCheckbox = document.getElementById('selectAllCheckbox');
	    const messageCheckboxes = document.querySelectorAll('input[name="messageCheckbox"]');
	    
	    selectAllCheckbox.addEventListener('change', function () {
	        const isChecked = selectAllCheckbox.checked;
	        messageCheckboxes.forEach(function (checkbox) {
	            checkbox.checked = isChecked;
	        });
	    });
	});
</script>
</head>
<body>
<div class="mypagemessagesend-nho" layout:fragment="content">
  <div class="main-Vms">
    <div class="headerframe-SSD">
	  <a th:href="@{/mainPage}">
      	<div class="home-mjP">홈</div>
      </a>
      <img class="icon-gbT" src="/assets/icon-Zr9.png"/>
      <div class="auto-group-y3hj-zs3">
		<a th:href="@{/member/mypage}">
        	<div class="mypage-k5X">마이페이지</div>
        </a>
        <img class="icon-4c1" src="/assets/icon-3yB.png"/>
      </div>
      <div class="message-brq">쪽지함</div>
    </div>
    <div class="divmain-oi1">
      <div class="auto-group-ujdf-MUd">
        <div class="filter-EYR">
		  <a th:href="@{/member/mypage}">
          	<div class="registration-wxd">회원정보</div>
          </a>
          <div class="middleline-Gk1">
          </div>
          <a th:href="@{/member/mypagemessage}">
          	<div class="message-cYy">쪽지함</div>
          </a>
          <div class="middleline-9J1">
          </div>
          <a th:href="@{/member/mypagelike}">
          	<div class="like-sUu">관심목록</div>
          </a>
        </div>
        
        <div class="title">쪽지함</div>
        
        <div class="messagebtn-wzZ">
		  <a th:href="@{/member/mypagemessage}">
          	<div class="receivebtn-55B">받은 쪽지함</div>
          </a>
         <div class="sendbtn-ZFF">보낸 쪽지함</div>
        </div>
      </div>
      <div class="divlist-QFs">
        <div class="messagelist-ZPf">
          <div class="messagelistth-6uP">
            <div class="name-bbF">
              <div class="btncheck-jBf">
                <!--<div class="rectangle-137-4jj">-->
					<input type="checkbox" id="selectAllCheckbox" class="rectangle-137-4jj">
                <!--</div>-->
              </div>
              <!--<div class="num-Cqw">번호</div>-->
              <div class="sendid-wHj">받는사람</div>
              <div class="senddate-47T">보낸 날짜</div>
              <div class="content-7rR">내용</div>
              <div class="delete-ak1">삭제</div>
            </div>
          </div>
          
          <!--보낸 쪽지 목록-->
          <div class="messagelist-Gsj">
			  
            <div class="message-puF" th:each="message : ${messagePage.content}">
              <div class="auto-group-kpwf-wU5">
                <div class="btncheck-FDs">
                  <!--<div class="rectangle-137-yvZ">-->
					  <input type="checkbox" name="messageCheckbox" th:value="${message.mno}" class="rectangle-137-yvZ">
                  <!--</div>-->
                </div>
                <!--<div class="num-W9o" th:text="${message.mno}">0000</div>-->
                <div class="id-Da1" th:text="${message.member.nickname}">test</div>
                <div class="date-kZw" th:text="${message.regdate}">YYYY-MM-DD</div>
                <div class="content-pph" th:text="${message.isDeletedBySender} ? '이 쪽지는 삭제되었습니다.' : ${message.mcontent}" 
     th:onclick="|openSentMessagePopup('${message.mno}')|">보낸 쪽지함 내용입니다.</div>

                <img class="delete-Lo3" src="/assets/delete-mhT.png" th:onclick="deleteMessage([[${message.mno}]])" />
              </div>
            </div>
          </div>
        </div>
        <div class="writebtn-qzh">
		  <!-- '삭제' 버튼 추가 -->
		  <div class="deletebtn" onclick="deleteMessages()">삭제</div>
          <!--<img class="item--oAq" src="/assets/-7bP.png"/>-->
          <div class="middleline-Gk1"></div>
          <div class="item--LRf" onclick="openMessagePopup()">쪽지쓰기</div>
        </div>
      </div>
      
      <!--페이징 번호 출력-->
		<div class="paging-zFK">
		  <!-- 이전 첫 페이지로 이동하는 버튼 -->
		  <a th:if="${messagePage.hasPrevious()}" th:href="@{/member/mypagemessagesend(page=0)}">
		    <img class="btndoubleprevious-hfX" src="/assets/btndoubleprevious-K7f.png"/>
		  </a>
		  <!-- 이전 페이지로 이동하는 버튼 -->
		  <a th:if="${messagePage.hasPrevious()}" th:href="@{/member/mypagemessagesend(page=${messagePage.previousPageable().pageNumber})}">
		    <img class="btnprevious-nKb" src="/assets/btnprevious-MiZ.png"/>
		  </a>
		  
		  <!-- 페이지 번호 출력 -->
		    <div th:each="pageNum : ${#numbers.sequence(0, messagePage.totalPages-1)}" class="item-th" 
		    th:classappend="${pageNum == currentPage} ? 'currentPage' : ''">
		        <a th:href="@{/member/mypagemessagesend(page=${pageNum})}" th:text="${pageNum + 1}"></a>
		    </div>
		  
		  <!-- 다음 페이지로 이동하는 버튼 -->
		  <a th:if="${messagePage.hasNext()}" th:href="@{/member/mypagemessagesend(page=${messagePage.nextPageable().pageNumber})}">
		    <img class="btnnext-ieV" src="/assets/btnnext-EP3.png"/>
		  </a>
		  <!-- 다음 마지막 페이지로 이동하는 버튼 -->
		  <a th:if="${messagePage.hasNext()}" th:href="@{/member/mypagemessagesend(page=${messagePage.totalPages-1})}">
		    <img class="btndoublenext-SaV" src="/assets/btndoublenext-Rtm.png"/>
		  </a>
		</div>

    </div>
  </div>
</div>
</body>
</html>