<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>mypage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A500"/>
  <link rel="stylesheet" href="./styles/mypage.css"/>
</head>
<body>
<div class="mypage-vVX">
  <div class="header-Pe1">
    <p class="logo-ucM">
    컬쳐
    <br/>
    모아
    </p>
    <div class="searchbar-2BB">
      <div class="searchicon-wow">
        <img class="iconsearch-TnH" src="./assets/iconsearch-Vs7.png"/>
      </div>
      <div class="searchtext-kmP">검색어를 입력하세요.</div>
      <div class="divsearch-Nnm">
      </div>
    </div>
    <div class="login-JwK">로그인</div>
    <div class="signup-ma1">회원가입</div>
  </div>
  <div class="gnb-ted">
    <div class="divintro-1jF">소개</div>
    <div class="divevent-KV3">행사소식</div>
    <div class="divcommunity-bhT">커뮤니티</div>
    <div class="divfaq-4b3">FAQ</div>
    <div class="divmypage-mEZ">마이페이지</div>
    <div class="divopentalk-eZF">
      <img class="iconopentalk-Lws" src="./assets/iconopentalk-JY9.png"/>
      <div class="opentalk-h1j">오픈톡</div>
    </div>
    <div class="divmessage-abK">
      <img class="iconmessage-sKX" src="./assets/iconmessage-SPb.png"/>
      <div class="message-oDB">쪽지</div>
    </div>
  </div>
  <div class="main-Vbo">
    <div class="auto-group-dpkm-fFP">
      <div class="headerframe-nqo">
        <div class="home-hSy">홈</div>
        <img class="icon-DgD" src="./assets/icon-YzM.png"/>
        <div class="auto-group-fhbf-MnR">
          <div class="mypage-6zu">마이페이지</div>
          <img class="icon-Dpd" src="./assets/icon-qAy.png"/>
        </div>
        <div class="myinfo-LeM">회원정보</div>
      </div>
      <div class="filter-44Z">
        <div class="registration-P6q">회원정보</div>
        <div class="middleline-WSM">
        </div>
        <div class="message-eoT">쪽지함</div>
        <div class="middleline-m7P">
        </div>
        <div class="like-tSu">관심목록</div>
      </div>
    </div>
    <div class="divmyinfo-BB7">
      <img class="profile-VSh" src="./assets/profile-NoK.png"/>
      <div class="information-h2y">
        <div class="divid-EHo">
          <div class="idtitle-Biq">아이디</div>
          <div class="id-g9o">teddie123</div>
        </div>
        <div class="divmickname-NoK">
          <div class="nicknametitle-jNy">닉네임</div>
          <div class="nickname-G81">teddie</div>
          <div class="updatebtn-QV7">
            <img class="pencilline-Y5X" src="./assets/pencilline-TAy.png"/>
            <div class="item--QdX">수정</div>
          </div>
        </div>
        <div class="divemail-fJZ">
          <div class="emailtitle-Day">이메일</div>
          <div class="email-8hw">green3potato@gmail.com</div>
          <div class="updatebtn-2YR">
            <img class="pencilline-xBB" src="./assets/pencilline-wfP.png"/>
            <div class="item--fLV">수정</div>
          </div>
        </div>
        <div class="divbirth-ksj">
          <div class="birthtitle-tyw">생년월일</div>
          <div class="birth-Enu">YYYY-MM-DD</div>
          <div class="updatebtn-abs">
            <img class="pencilline-v9w" src="./assets/pencilline-Nd7.png"/>
            <div class="item--aEV">수정</div>
          </div>
        </div>
        <div class="divgender-ha1">
          <div class="gendertitle-rSu">성별</div>
          <div class="item--a81">여</div>
        </div>
      </div>
      <div class="divbtn-cqP">
        <div class="updateinfobtn-yvq">비밀번호 수정</div>
        <div class="deleteinfobtn-U6u">회원 탈퇴</div>
      </div>
    </div>
  </div>
</div>
</body>