<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>받은 쪽지함</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet"> 
<link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/styles/mypagemessage.css}"/>
<script th:inline="javascript">
	//쪽지 보내기 팝업 열기 함수
	function openSendMessagePopup() {
		var id="";
	    // 팝업창을 여는 코드를 작성합니다.
	    window.open('/member/messagesend?id='+id, 'messagePopup', 'width=510,height=430');
	}
	//받은 쪽지 1개 내용 팝업 열기 함수
	function openReceivedMessagePopup(mno) {
	    const url = '/member/messageboxreceive?mno=' + mno;
	    window.open(url, 'messagePopup', 'width=510,height=430');
	}


	
	//체크박스+삭제버튼을 통한 삭제 기능
	function deleteMessages() {
	    const selectedMessageIds = [];
	    const messageCheckboxes = document.querySelectorAll('input[name="messageCheckbox"]:checked');
	    
	    messageCheckboxes.forEach(function (checkbox) {
	        selectedMessageIds.push(checkbox.value);
	    });
	
	    if (selectedMessageIds.length > 0 && confirm('선택한 쪽지를 삭제하시겠습니까?')) {
	        // 선택한 쪽지 ID를 AJAX를 통해 서버로 전송하여 삭제합니다.
	        $.ajax({
	            type: 'POST',
	            url: '/member/deletemessages',
	            data: {
	                messageIds: selectedMessageIds // messageIds를 올바르게 설정해야 합니다.
	            },
	            traditional: true, // 배열 파라미터 전송을 위한 설정
	            success: function (data) {
	                alert(data);
	                location.reload(); // 삭제 후 페이지 새로고침
	            },
	            error: function () {
	                alert('쪽지 삭제에 실패하였습니다.');
	            }
	        });
	    }
	}

	//휴지통 클릭을 통한 1개 삭제 기능
    function deleteMessage(mno) {
        if (confirm('쪽지를 삭제하시겠습니까?')) {
            $.ajax({
                type: 'POST',
                url: '/member/deletemessage',
                data: {
                    mno: mno
                },
                success: function (data) {
                    alert(data);
                    // 페이지 리로딩 또는 쪽지 목록 다시 불러오기 등의 동작 수행
                    location.reload();
                },
                error: function () {
                    alert('쪽지 삭제에 실패하였습니다.');
                }
            });
        }
    }
    
    //전체 체크박스 선택 기능
    document.addEventListener('DOMContentLoaded', function () {
    const selectAllCheckbox = document.getElementById('selectAllCheckbox');
    const messageCheckboxes = document.querySelectorAll('input[name="messageCheckbox"]');
    
    selectAllCheckbox.addEventListener('change', function () {
        const isChecked = selectAllCheckbox.checked;
        messageCheckboxes.forEach(function (checkbox) {
            checkbox.checked = isChecked;
        });
    });
});
</script>
</head>
<body>
<div class="mypagemessage-Y2V" layout:fragment="content">
  <div class="main-KcD">
    <div class="headerframe-fg5">
	  <a th:href="@{/mainPage}">
      	<div class="home-ao3">홈</div>
      </a>
      <img class="icon-XCV" src="/assets/icon-3Jh.png"/>
      <div class="auto-group-1swr-2Q9">
		<a th:href="@{/member/mypage}">
        	<div class="mypage-aAm">마이페이지</div>
        </a>
        <img class="icon-697" src="/assets/icon-3Jh.png"/>
      </div>
      <a th:href="@{/member/mypagemessage}">
      	<div class="message-RhB">쪽지함</div>
      </a>
    </div>
    <div class="divmain-85o">
      <div class="auto-group-wxay-UQZ">
        <div class="filter-nw3">
		  <a th:href="@{/member/mypage}">
          	<div class="registration-MDT">회원정보</div>
          </a>
          <div class="middleline-eyF">
          </div>
          <a th:href="@{/member/mypagemessage}">
          	<div class="message-n3s">쪽지함</div>
          </a>
          <div class="middleline-ueH">
          </div>
          <a th:href="@{/member/mypagelike}">
          	<div class="like-rZX">관심목록</div>
          </a>
        </div>
        
         <div class="title">쪽지함</div>

        
        <div class="messagebtn-xsT">
      	<div class="receivebtn-tFK">받은 쪽지함</div>
          <a th:href="@{/member/mypagemessagesend}">
          	<div class="sendbtn-ugD">보낸 쪽지함</div>
          </a>
        </div>
      </div>
      <div class="divlist-CQR">
        <div class="listth-Xhb">
          <div class="name-U73">
            <div class="btncheck-RHB">
              <!--<div class="rectangle-137-j2y">-->
				  <input type="checkbox" id="selectAllCheckbox" class="rectangle-137-j2y">
              <!--</div>-->
            </div>
            <!--<div class="num-rtH">번호</div>-->
            <div class="sendid-o2q">보낸사람</div>
            <div class="date-u5s">받은 날짜</div>
            <div class="content-S5o">내용</div>
            <div class="delete-NVF">삭제</div>
          </div>
        </div>
        
        <!--받은 쪽지 목록-->
        <div class="messagelist-HcD">
		  <!-- Thymeleaf iteration over the list of messages -->
		  <div th:if="${messagePage.empty}" class="no-messages">쪽지가 없습니다.</div>
		  <div class="message-P9T" th:each="message : ${messagePage.content}">
		    <div class="auto-group-jmvt-7bF">
		      <div class="btncheck-rYq">
		        <!--<div class="rectangle-137-C6u">-->
		          <input type="checkbox" name="messageCheckbox" th:value="${message.mno}" class="rectangle-137-C6u">
		        <!--</div>-->
		      </div>
		      <!-- Display the message details -->
		      <!--<div class="num-7Ds" th:text="${message.mno}">0000</div>-->
		      <div class="id-Qyf" th:text="${senderNicknames[message.mid]}">test</div>
		      <div class="receivedate-Ypy" th:text="${message.regdate}">YYYY-MM-DD</div>
		      <div class="content-s6Z" th:text="${message.isDeletedByReceiver} ? '이 쪽지는 삭제되었습니다.' : ${message.mcontent}" 
		      th:onclick="|openReceivedMessagePopup('${message.mno}')|">받은 쪽지함 내용입니다.</div>
		      <img class="deletebtn-kg9" src="/assets/deletebtn.png" th:onclick="deleteMessage([[${message.mno}]])" />
		    </div>
		  </div>
		</div>

        <div class="writebtn-Sos">
		    <!-- '삭제' 버튼 추가 -->
		    <div class="deletebtn" onclick="deleteMessages()">삭제</div>
		    <!--<img class="item--yYu" src="/assets/-UXb.png"/>-->
		    <div class="middleline-eyF"></div>
		    <!-- 쪽지쓰기 버튼에 팝업 이벤트 추가 -->
		    <div class="item--iFb" onclick="openSendMessagePopup()">쪽지쓰기</div>
		</div>
      </div>
      
      <!-- 페이징 처리 부분 -->
		<div class="paging-oXw" th:if="${messagePage.totalPages > 0}">
			<!-- 이전 첫 페이지로 이동하는 버튼 -->
		    <a th:if="${messagePage.hasPrevious()}" th:href="@{/member/mypagemessage(page=0)}">
		        <img class="btndoubleprevious-JDo" src="/assets/btndoubleprevious-W89.png"/>
		    </a>
		    <!-- 이전 페이지로 이동하는 버튼 -->
		    <a th:if="${messagePage.hasPrevious()}" th:href="@{/member/mypagemessage(page=${messagePage.previousPageable().pageNumber})}">
		        <img class="btnprevious-ckH" src="/assets/btnprevious-4eV.png"/>
		    </a>
		    
		    <!-- 페이지 번호 출력 -->
		    <div th:each="pageNum : ${#numbers.sequence(0, messagePage.totalPages - 1)}" class="item-th"
		         th:classappend="${pageNum == currentPage} ? 'currentPage' : ''">
		        <a th:href="@{/member/mypagemessage(page=${pageNum})}" th:text="${pageNum + 1}"></a>
		    </div>
		    
		    <!-- 다음 페이지로 이동하는 버튼 -->
		    <a th:if="${messagePage.hasNext()}" th:href="@{/member/mypagemessage(page=${messagePage.nextPageable().pageNumber})}">
		        <img class="btnnext-E2u" src="/assets/btnnext-EuF.png"/>
		    </a>
		    <!-- 다음 마지막 페이지로 이동하는 버튼 -->
		    <a th:if="${messagePage.hasNext()}" th:href="@{/member/mypagemessage(page=${messagePage.totalPages - 1})}">
		        <img class="btndoublenext-AhF" src="/assets/btndoublenext-PcV.png"/>
		    </a>
		</div>

    </div>
  </div>
</div>
</body>