<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>관심목록</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+CJK+KR%3A400%2C500"/>
  <link rel="stylesheet" th:href="@{/styles/mypagelike.css}"/></head>
</head>
<body>
<div class="mypagelike-exZ" layout:fragment="content">
  <div class="main-iEu">
    <div class="auto-group-97pd-fvq">
      <div class="headerframe-Q7j">
		<a th:href="@{/mainPage}">
        	<div class="home-jQu">홈</div>
        </a>
        <img class="icon-Fu3" src="/assets/icon-d5T.png"/>
        <div class="auto-group-nbuu-C3b">
          <div class="mypage-Wa5">마이페이지</div>
          <img class="icon-EFB" src="/assets/icon-d5T.png"/>
        </div>
        <a th:href="@{/member/mypagelike}">
        	<div class="message-xws">관심목록</div>
        </a>
      </div>
      <div class="filter-6oB">
		<a th:href="@{/member/mypage}">
        	<div class="registration-C5X">회원정보</div>
        </a>
        <div class="middleline-vGR">
        </div>
        <a th:href="@{/member/mypagemessage}">
        	<div class="message-Enu">쪽지함</div>
        </a>
        <div class="middleline-a65">
        </div>
        <a th:href="@{/member/mypagelike}">
        	<div class="like-XGD">관심목록</div>
        </a>
      </div>
      
      <div class="title">관심목록</div>

    </div>
    
    <!--main -->
    <div class="divmain-S8H">
	  <!-- 관심목록 공연 리스트-->
      <div class="posterlist-Aa5">
		<!-- 공연리스트-->
        <div class="eventlist-im7">
		  <!--공연하나
          <div class="poster01-T3P">
            <div class="poster-z3K">
            </div>
            <div class="diveventcontent-gRw">
              <div class="auto-group-95w7-d6H">
                <div class="frameeventstate-M2H">공연 종류</div>
                <div class="eventname-n7b">공연 이름</div>
              </div>
              <img class="heart-UWD" src="/assets/heart-8Bb.png"/>
            </div>
          </div>
          -->
        <!-- 각 행 별로 반복,여행 정보 4(?)줄 담긴 거 1줄씩 row 에 담음 -->
		<div class="row1-dt5" th:each="row : ${rows}">
		  <!-- 한 행에 4개의 열을 출력,1줄에 담긴 최대4개 중에서 1개의 이벤트 정보를 e 에 담음. -->
		  <div class="divposter-At1" th:each="e : ${row}">
		    <div class="posterimage-8K3"><!-- 1개의 이벤트의 포스터 처리-->
		      <a th:href="@{/event/eventdetail(eventno=${e.eventno})}"> <!-- (이벤트 번호) 주고,(공연정보)+(상태 반환) -->
		        <!-- eventfname이 null인 경우 togetready.png를 출력, 그렇지 않은 경우 eventfname을 출력 -->
		        <img th:src="${e.eventfname == null ? '/images/togetready.png' : '/images/' + e.eventfname}" alt="행사 이미지" class="posterimage-8K3"/>
		      </a>
		    </div>
		    <div class="eventtitle-Gw3"><!-- 공연상태,공연 이름 처리-->
		      <div class="diveventcategory-dWh" th:text="${e.eventState}">공연 종료</div>
		      <!-- 수정된 부분: 행사 이름에 링크를 추가하고 eventno를 매개변수로 넘겨줍니다. -->
		      <a class="eventname-i2M" th:href="@{/event/eventdetail(eventno=${e.eventno})}" th:text="${e.eventname}">
		      </a>
		    </div>
		  </div><!-- 1줄 속 1개 처리 끝-->
		</div><!-- 4(?)줄 속 1줄 처리 끝-->
        
        </div>
        <!-- -->
      <!--페이징 -->
      <div class="auto-group-qxmp-2T3">
        <div class="bottomline-MkD">
        </div>
        <!-- 페이징-->
        <div class="paging-F4u">
			
        <!-- 처음으로 버튼 -->
		<a th:if="${currentPage > 1}" th:href="@{/member/mypagelike(page=1)}">
		  <img class="btndoubleprevious-gWm" src="/assets/btndoubleprevious-zc9.png"/>
		</a>
		<!-- 이전 버튼 -->
		<a th:if="${currentPage > 1}" th:href="@{/member/mypagelike(page=${currentPage - 1})}">
		  <img class="btnprevious-pN5" src="/assets/btnprevious-fUm.png"/>
		</a>
		<!-- 페이지 숫자 출력 및 클릭 가능한 링크로 설정 -->
		<div class="div_page" th:if="${totalPages > 1}">
		  <th:block th:with="startPage=${(currentPage-1) / 10 * 10 + 1}">
		    <th:block th:with="endPage=${(startPage + 9) < totalPages ? (startPage + 9) : totalPages}">
		      <th:block th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
		        <!-- 페이지 숫자를 담는 div -->
		        <div class="page1">
		          <a class="pages" th:href="@{/member/mypagelike(page=${pageNum})}" th:text="${pageNum}" th:classappend="${pageNum == currentPage} ? 'selected' : ''">
		          </a>
		        </div> 
		      </th:block>
		    </th:block>
		  </th:block>
		</div>
		<!-- 다음 버튼 -->
		<a th:if="${currentPage < totalPages}" th:href="@{/member/mypagelike(page=${currentPage + 1})}">
		  <img class="btnnext-2W5" src="/assets/btnnext-zrm.png"/>
		</a>
		<!-- 마지막으로 버튼 -->
		<a th:if="${currentPage < totalPages}" th:href="@{/member/mypagelike(page=${totalPages})}">
		  <img class="btndoublenext-ZW1" src="/assets/btndoublenext-Y7s.png"/>
		</a>
          
        </div>
      </div>
    </div>
  </div>
</div>
</body>