<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>mypage_like</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+CJK+KR%3A400%2C500"/>
  <link rel="stylesheet" href="./styles/mypagelike.css"/>
</head>
<body>
<div class="mypagelike-exZ">
  <div class="header-yzq">
    <p class="logo-JGR">
    컬쳐
    <br/>
    모아
    </p>
    <div class="searchbar-DPP">
      <div class="searchicon-7zZ">
        <img class="iconsearch-dCD" src="./assets/iconsearch-f93.png"/>
      </div>
      <div class="searchtext-wih">검색어를 입력하세요.</div>
      <div class="divsearch-C8q">
      </div>
    </div>
    <div class="login-jPf">로그인</div>
    <div class="signup-ciM">회원가입</div>
  </div>
  <div class="gnb-7QD">
    <div class="divintro-CRf">소개</div>
    <div class="divevent-4yf">행사소식</div>
    <div class="divcommunity-xJM">커뮤니티</div>
    <div class="divfaq-SjK">FAQ</div>
    <div class="divmypage-AfK">마이페이지</div>
    <div class="divopentalk-y6y">
      <img class="iconopentalk-TH3" src="./assets/iconopentalk-6RX.png"/>
      <div class="opentalk-aMf">오픈톡</div>
    </div>
    <div class="divmessage-TgM">
      <img class="iconmessage-N2d" src="./assets/iconmessage-wRj.png"/>
      <div class="message-gp1">쪽지</div>
    </div>
  </div>
  <div class="main-iEu">
    <div class="auto-group-97pd-fvq">
      <div class="headerframe-Q7j">
        <div class="home-jQu">홈</div>
        <img class="icon-Fu3" src="./assets/icon-Hk5.png"/>
        <div class="auto-group-nbuu-C3b">
          <div class="mypage-Wa5">마이페이지</div>
          <img class="icon-EFB" src="./assets/icon-d5T.png"/>
        </div>
        <div class="message-xws">쪽지함</div>
      </div>
      <div class="filter-6oB">
        <div class="registration-C5X">회원정보</div>
        <div class="middleline-vGR">
        </div>
        <div class="message-Enu">쪽지함</div>
        <div class="middleline-a65">
        </div>
        <div class="like-XGD">관심목록</div>
      </div>
    </div>
    <div class="divmain-S8H">
      <div class="posterlist-Aa5">
        <div class="posterrow1-Wtq">
          <div class="poster01-T3P">
            <div class="poster-z3K">
            </div>
            <div class="diveventcontent-gRw">
              <div class="auto-group-95w7-d6H">
                <div class="frameeventstate-M2H">공연 종류</div>
                <div class="eventname-n7b">공연 이름</div>
              </div>
              <img class="heart-UWD" src="./assets/heart-8Bb.png"/>
            </div>
          </div>
          <div class="poster01-mkD">
            <div class="poster-8Ks">
            </div>
            <div class="diveventcontent-3Bw">
              <div class="auto-group-ix2r-nQR">
                <div class="frameeventstate-vWd">공연 종류</div>
                <div class="eventname-N7j">공연 이름</div>
              </div>
              <img class="heart-tLy" src="./assets/heart-JhX.png"/>
            </div>
          </div>
          <div class="poster01-pkR">
            <div class="poster-MkM">
            </div>
            <div class="diveventcontent-xEM">
              <div class="auto-group-hx7j-hBw">
                <div class="frameeventstate-FUM">공연 종류</div>
                <div class="eventname-fny">공연 이름</div>
              </div>
              <img class="heart-1bw" src="./assets/heart-Pvy.png"/>
            </div>
          </div>
          <div class="poster01-xGH">
            <div class="poster-WYh">
            </div>
            <div class="diveventcontent-ppH">
              <div class="auto-group-jz4r-mjX">
                <div class="frameeventstate-i8y">공연 종류</div>
                <div class="eventname-QGh">공연 이름</div>
              </div>
              <img class="heart-hWh" src="./assets/heart-LWV.png"/>
            </div>
          </div>
          <div class="poster01-qso">
            <div class="poster-QR7">
            </div>
            <div class="diveventcontent-KHB">
              <div class="auto-group-9c5o-zu7">
                <div class="frameeventstate-A2u">공연 종류</div>
                <div class="eventname-Ka1">공연 이름</div>
              </div>
              <img class="heart-S8q" src="./assets/heart-oQD.png"/>
            </div>
          </div>
        </div>
        <div class="posterrow2-aF3">
          <div class="poster01-7Vs">
            <div class="poster-Fc5">
            </div>
            <div class="diveventcontent-k33">
              <div class="auto-group-ygeu-gxH">
                <div class="frameeventstate-SwT">공연 종류</div>
                <div class="eventname-jff">공연 이름</div>
              </div>
              <img class="heart-V93" src="./assets/heart-NZP.png"/>
            </div>
          </div>
          <div class="poster01-z5o">
            <div class="poster-9Db">
            </div>
            <div class="diveventcontent-rdo">
              <div class="auto-group-btrp-zzu">
                <div class="frameeventstate-w9T">공연 종류</div>
                <div class="eventname-bUu">공연 이름</div>
              </div>
              <img class="heart-Kfo" src="./assets/heart-oVj.png"/>
            </div>
          </div>
          <div class="poster01-psT">
            <div class="poster-P9s">
            </div>
            <div class="diveventcontent-hRT">
              <div class="auto-group-ykfo-2yX">
                <div class="frameeventstate-nxh">공연 종류</div>
                <div class="eventname-qvy">공연 이름</div>
              </div>
              <img class="heart-Zry" src="./assets/heart.png"/>
            </div>
          </div>
          <div class="poster01-7db">
            <div class="poster-54d">
            </div>
            <div class="diveventcontent-xu7">
              <div class="auto-group-nlro-7GD">
                <div class="frameeventstate-o93">공연 종류</div>
                <div class="eventname-gTj">공연 이름</div>
              </div>
              <img class="heart-q5j" src="./assets/heart-mJ1.png"/>
            </div>
          </div>
          <div class="poster01-9s7">
            <div class="poster-iQR">
            </div>
            <div class="diveventcontent-Rpd">
              <div class="auto-group-48st-MCV">
                <div class="frameeventstate-JdX">공연 종류</div>
                <div class="eventname-NNV">공연 이름</div>
              </div>
              <img class="heart-tbj" src="./assets/heart-u7X.png"/>
            </div>
          </div>
        </div>
      </div>
      <div class="auto-group-qxmp-2T3">
        <div class="bottomline-MkD">
        </div>
        <div class="paging-F4u">
          <img class="btndoubleprevious-9g5" src="./assets/btndoubleprevious-yHs.png"/>
          <img class="btnprevious-UCZ" src="./assets/btnprevious-WRw.png"/>
          <img class="item-1-1iH" src="./assets/-dtV.png"/>
          <img class="item-2-8nu" src="./assets/-Fmb.png"/>
          <img class="item-3-rU1" src="./assets/-zhP.png"/>
          <img class="item-4-QVX" src="./assets/-e3b.png"/>
          <img class="item-5-MvZ" src="./assets/-TBw.png"/>
          <img class="item-6-Tih" src="./assets/-wbw.png"/>
          <img class="item-7-1kD" src="./assets/-Wuw.png"/>
          <img class="item-8-9Ld" src="./assets/-85F.png"/>
          <img class="item-9-f45" src="./assets/-Sdf.png"/>
          <img class="btnnext-1Nq" src="./assets/btnnext-yfP.png"/>
          <img class="btndoublenext-KuK" src="./assets/btndoublenext-Spq.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
</body>