<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>mypage</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet"> 
 <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/mypage.css}"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script type="text/javascript">
	  		//--------gnb드롭다운
	//마우스가 올라오면 드롭다운
	 function showDropDown() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'visible';
      }
	//gnb에 마우스가 벗어나면 드롭다운 없애기
     function hideDropDown() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'hidden';
     }
    //gnb에 마우스가 벗어나도 드롭다운에 마우스가 올라오면 드롭다운 그대로 유지
     function cancelHide() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'visible';
     }
     
    //--------------오픈톡
	//버튼 선택시 오픈톡 새창 띄우기
	function opentalk(){
		// 새 창을 띄우기 위한 옵션 설정
        var windowFeatures = 'width=550px,height=550px';
        // 새 창 열기
        var newWindow = window.open('/opentalk', '_blank', windowFeatures);
        // 새 창이 차단되었을 경우 알림
        if (!newWindow) {
            alert('팝업 차단 기능이 활성화되어 있습니다. 새 창이 열리지 않을 수 있습니다.');
        }
	}	
	
	// 회원정보/쪽지함/찜목록 클릭 시 색상 변경
	$(function() {
		$(".registration_text").click(function() {
			$(".clicked").css("color", "#a5a5a5");
			$(".registration_text").css("color", "black");
		})
		
		$(".message_text").click(function() {
			$(".clicked").css("color", "#a5a5a5");
			$(".message_text").css("color", "black");
		})
		
		$(".like_text").click(function() {
			$(".clicked").css("color", "#a5a5a5");
			$(".like_text").css("color", "black");
		})
	})
	
	function editpic(){
		// 새 창을 띄우기 위한 옵션 설정
        var windowFeatures = 'width=500px,height=400px';
        // 새 창 열기
        var newWindow = window.open('/member/editpic', '_blank', windowFeatures);
        // 새 창이 차단되었을 경우 알림
        if (!newWindow) {
            alert('팝업 차단 기능이 활성화되어 있습니다. 새 창이 열리지 않을 수 있습니다.');
        }
	}	
	
	function deletemember(){
		var del = confirm("정말로 탈퇴하시겠습니까?");
		if(del == 1) {
			location.href = "/member/deletemember";
		}
	}		
	
		
  </script>
  <style></style>
</head>
<body>
<!--mypage 시작-->
<div class="mypage" layout:fragment="content">

  <!--div_main 시작-->
  <div class="div_main">
	<!--main_top 시작-->
    <div class="main_top">
	  <!--headerframe 시작-->
      <div class="headerframe">
        <div class="home" onclick="location.href='/mainPage'">홈</div>
        <img class="nexticon" src="/assets/icon-YJu.png"/>
        <!--div_root 시작-->
        <div class="div_root">
          <div class="mypage_text" onclick="location.href='/member/mypage'">마이페이지</div>
          <img class="nexticon2" src="/assets/icon-YJu.png"/>
        </div>
        <!--div_root 끝-->
        <div class="myinfo_text">회원정보</div>
      </div>
      <!--headerframe 끝-->
      
      
      <!--div_filter 시작-->
      <div class="div_filter">
        <div class="registration_text clicked">회원정보</div>
        <div class="middleline">
        </div>
        <a th:href="@{/member/mypagemessage}">
        	<div class="message_text clicked">쪽지함</div>
        </a>
        <div class="middleline2">
        </div>
        <a th:href="@{/member/mypagelike}">
        	<div class="like_text clicked">관심목록</div>
        </a>
      </div>
      <!--div_filter 끝-->
    </div>
    <!--main_top 끝-->
    
    <div class="title">마이페이지</div>

    <!--div_myinfo 시작-->
    <div class="div_myinfo">
		<div class="div_img">
			<img class="profile_img" th:src="@{'/profileImage/'+${session.m.fname}}"/>
            <img class="pencilline" src="/assets/pencilline-TAy.png"/>
            <a class="a_myinfo" onclick="editpic()" th:text="사진수정" target="_blank"></a>
		</div>
      
      <!--information 시작-->
      <div class="information">
		<!--div_id 시작-->  
        <div class="div_id">
          <div class="id_text">아이디</div>
          <div class="userid" name="id" th:text="${session.m.id}"></div>
        </div>
        <!--div_id 끝-->  
        
        <!--div_name 시작--> 
        <div class="div_name">
          <div class="name_text">이름</div>
          <div class="username" th:text="${session.m.name}"></div>
        </div>
        <!--div_name 끝-->
        
        <!--div_nickname 시작--> 
        <div class="div_nickname">
          <div class="nickname_text">닉네임</div>
          <div class="usernickname" th:text="${session.m.nickname}"></div>
        </div>
        <!--div_nickname 끝-->
        
        <!--div_email 시작-->
        <div class="div_email">
          <div class="email_text">이메일</div>
          <div class="useremail" th:text="${session.m.email}"></div>
          
<!--          div_update 시작
          <div class="div_update">
            <img class="pencilline" src="/assets/pencilline-TAy.png"/>
            <div class="update_text">수정</div>
          </div>
          div_update 끝-->
          
        </div>
        <!--div_email 끝-->
        
        <!--div_birth 시작-->
        <div class="div_birth">
          <div class="birth_text">생년월일</div>
          <div class="userbirth" th:text="${session.m.birth}"></div>
          
          
<!--          div_update 시작
          <div class="div_update">
            <img class="pencilline" src="/assets/pencilline-TAy.png"/>
            <div class="update_text">수정</div>
          </div>
          div_update 끝-->
          
          
        </div>
        <!--div_birth 끝-->
        
        <!--div_gender 시작-->
        <div class="div_gender">
          <div class="gender_text">성별</div>
          <div class="usergender" th:text="${session.m.gender}"></div>
        </div>
        <!--div_gender 끝-->
      </div>
      <!--information 끝-->
      
      <!--div_btns 시작-->
      <div class="div_btns">
        <div class="updateinfobtn" onclick="location.href='/member/editmypage'">회원정보 수정</div>
        <div class="deleteinfobtn" onclick="deletemember()">회원 탈퇴</div>
      </div>
      <!--div_btns 끝-->
    </div>
    <!--div_myinfo 끝 -->
  </div>
  <!--div_main 끝-->
</div>
<!--mypage 끝-->
</body>
</html>