<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>btn_radio</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/btnradio.css"/>
</head>
<body>
<div class="btnradio-toB">
  <div class="property-1default-cz5">
    <div class="group-34-VY5">
      <div class="rectangle-137-Rgd">
      </div>
    </div>
    <div class="item--xAm">라디오 버튼</div>
  </div>
  <div class="property-1variant2-fL5">
    <div class="group-34-nfb">
      <div class="rectangle-138-WrV">
      </div>
    </div>
    <div class="item--p6V">라디오 버튼</div>
  </div>
</div>
</body>