<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>자유게시판</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A500"/>
  <link rel="stylesheet" href="../../../static/styles/boardlist.css"/>
</head>
<body>
<div class="boardlist-Lfb">
  <div class="header-TVK">
    <p class="logo-Aed">
    컬쳐
    <br/>
    모아
    </p>
    <div class="searchbar-U9X">
      <div class="searchicon-BJq">
        <img class="iconsearch-tj3" src="../../../static/assets/iconsearch-wow.png"/>
      </div>
      <div class="searchtext-ob7">검색어를 입력하세요.</div>
      <div class="divsearch-3VT">
      </div>
    </div>
    <div class="divlogin-xMX">로그인</div>
    <div class="divsignup-osw">회원가입</div>
  </div>
  <div class="gnb-GmX">
    <div class="divintro-Bdb">소개</div>
    <div class="divevent-5ys">행사소식</div>
    <div class="divcommunity-zb3">커뮤니티</div>
    <div class="divfaq-7Qm">FAQ</div>
    <div class="divmypage-EEV">마이페이지</div>
    <div class="divopentalk-ivM">
      <img class="iconopentalk-Edo" src="../../../static/assets/iconopentalk-1ms.png"/>
      <div class="opentalk-mNq">오픈톡</div>
    </div>
    <div class="divmessage-GqP">
      <img class="iconmessage-P9K" src="../../../static/assets/iconmessage-wqB.png"/>
      <div class="message-vf3">쪽지</div>
    </div>
  </div>
  <div class="main-cXs">
    <div class="location-wq3">
      <div class="home-gGq">홈</div>
      <img class="icon-oMT" src="../../../static/assets/icon-YJu.png"/>
      <div class="community-ijK">커뮤니티</div>
      <img class="icon-FDT" src="../../../static/assets/icon-umT.png"/>
      <div class="boardlist-amX">자유게시판</div>
    </div>
    <div class="maincontent-uYu">
      <div class="auto-group-kgvf-eWV">
        <div class="title-aQ9">자유게시판</div>
        <div class="searchbar-sPF">
          <div class="diviconsearch-zim">
            <img class="icon-uqj" src="../../../static/assets/icon-8J5.png"/>
          </div>
          <div class="divsearchtext-DrR">검색어를 입력하세요.</div>
          <div class="divsearch-tBs">
          </div>
        </div>
        <div class="filter-cNm">
          <div class="divregist-MbF">등록순</div>
          <div class="middleline-4Em">
          </div>
          <div class="divpopular-PH3">인기순</div>
        </div>
      </div>
      <div class="boardlist-UZP">
        <div class="listth-RDj">
          <div class="name-Nuf">
            <div class="auto-group-kxjw-XGm">
              <div class="item--GEM">글번호</div>
              <div class="item--kQR">제목</div>
              <div class="item--U5X">작성일</div>
              <div class="id-yny">ID</div>
              <div class="item--uRj">조회수</div>
              <div class="item--QtH">좋아요</div>
            </div>
          </div>
        </div>
        <div class="listtable-721">
          <div class="list1-bhs">
            <div class="dno-x2d">0000</div>
            <div class="title-UFs">제목</div>
            <div class="regdate-oJ9">YYYY-MM-DD</div>
            <div class="id-ury">ABCDE</div>
            <div class="hit-S6D">0000</div>
            <div class="wish-ksb">0000</div>
          </div>
          <div class="list2-5us">
            <div class="dno-3bo">0000</div>
            <div class="title-n3b">제목</div>
            <div class="regdate-K3X">YYYY-MM-DD</div>
            <div class="id-da1">ABCDE</div>
            <div class="hit-kuX">0000</div>
            <div class="wish-HeZ">0000</div>
          </div>
          <div class="list3-cwj">
            <div class="dno-PBo">0000</div>
            <div class="title-KLM">제목</div>
            <div class="regdate-Sfs">YYYY-MM-DD</div>
            <div class="id-Arm">ABCDE</div>
            <div class="hit-tXs">0000</div>
            <div class="wish-cim">0000</div>
          </div>
        </div>
      </div>
      <div class="auto-group-pv77-vDf">
        <div class="insertboardbtn-eQZ">
          <img class="icon-yhj" src="./assets/icon-wLD.png"/>
          <div class="insertboard-WSm">게시글작성</div>
        </div>
        <div class="paging-S5X">
          <img class="btndoubleprevious-NE5" src="../../../static/assets/btndoubleprevious-erm.png"/>
          <img class="btnprevious-VJh" src="../../../static/assets/btnprevious-bzR.png"/>
          <img class="item-1-1Xw" src="../../../static/assets/-f5j.png"/>
          <img class="item-2-9e9" src="../../../static/assets/-tsb.png"/>
          <img class="item-3-gPB" src="../../../static/assets/-or9.png"/>
          <img class="item-4-1wF" src="../../../static/assets/-BcD.png"/>
          <img class="item-5-mQd" src="../../../static/assets/-3C5.png"/>
          <img class="item-6-JvM" src="../../../static/assets/-H5B.png"/>
          <img class="item-7-ejK" src="../../../static/assets/-27s.png"/>
          <img class="item-8-buT" src="../../../static/assets/-nQZ.png"/>
          <img class="item-9-Y41" src="../../../static/assets/-569.png"/>
          <img class="btnnext-gvu" src="../../../static/assets/btnnext-UfK.png"/>
          <img class="btndoublenext-Dfw" src="../../../static/assets/btndoublenext-aoT.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
</body>