<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>board_together_detail</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/freeDetail.css}"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
	//---기본 헤더 
	//--------------오픈톡
	//버튼 선택시 오픈톡 새창 띄우기
	function opentalk(){
		// 새 창을 띄우기 위한 옵션 설정
        var windowFeatures = 'width=697px,height=724px';
        // 새 창 열기
        var newWindow = window.open('/opentalk', '_blank', windowFeatures);
        // 새 창이 차단되었을 경우 알림
        if (!newWindow) {
            alert('팝업 차단 기능이 활성화되어 있습니다. 새 창이 열리지 않을 수 있습니다.');
        }
	}
 	//--------gnb드롭다운
	//마우스가 올라오면 드롭다운
	function showDropDown() {
		const gnbDropdown = document.getElementById('gnbDropdown');
		gnbDropdown.style.visibility = 'visible';
	}
	//gnb에 마우스가 벗어나면 드롭다운 없애기
	function hideDropDown() {
		const gnbDropdown = document.getElementById('gnbDropdown');
		gnbDropdown.style.visibility = 'hidden';
	}
	//gnb에 마우스가 벗어나도 드롭다운에 마우스가 올라오면 드롭다운 그대로 유지
	function cancelHide() {
		const gnbDropdown = document.getElementById('gnbDropdown');
		gnbDropdown.style.visibility = 'visible';
	}
	
	//-------- 검색 버튼 클릭 시 검색결과 창으로 이동
	function searchKeyword(){
		if($("#keyword_main").val() == null || $("#keyword_main").val() == "") {
			alert("검색어를 입력하세요.");
		}
		else {
			var data = {
				keyword : $("#keyword_main").val()
			};
			
			$.ajax({
				url:"/searchresult",
				data: data,
				success:function(n) {
					sendNUM = eval(n); // 숫자로 변환
				}
		});	
		}
	}
    //-------------------------------------------------------
	//좋아요 index
	var likeIndex=0;
	//좋아요 업데이트
	function pluslike(){
		//게시물 번호
		var boardno=$("#boardno").val();
		//좋아요 개수 
		var like=$(".like").text();
		like=parseInt(like);
		//likIndex가 0이면 빈 별 1이면 채워진 별
			
			
		//db변경	
		$.ajax({	
			type:"GET",	
			url:"/updatefreeLike",	
			data:{like:like,boardno:boardno},	
			success:function(re){	
				// 반환값 1 : 좋아요 없다 -> 추가한다	
				if (re == 1) {	
					$(".star").attr("src","/assets/component-57-on.png");	
					alert("좋아요 등록되었습니다.");	
					window.location.href = '/boards/board/freeDetail?boardno='+boardno;	
				}	
				// 반환값 2 : 좋아요 있다 -> 삭제한다	
				else {	
					$(".star").attr("src","/assets/component-57-off.png");	
					alert("좋아요 취소하였습니다.")	
					window.location.href = '/boards/board/freeDetail?boardno='+boardno;	
				}	
					
					
			}	
		});
	}	
	
	//조회수 업데이트
	$(document).ready(function(){
		//게시물 번호
		var boardno=$("#boardno").val();
		//조회수 가져오기
		var hit=$(".hittitile-v8R").text();
		//조회수+1
		hit=parseInt(hit);
		hit=hit+1;
		$(".hittitile-v8R").text(hit);
		//조회수 db저장
		$.ajax({
			type:"GET",
			url:"/updatefreeHit",
			data:{hit:hit,boardno:boardno},
			success:function(){
			}
		});
	});
	//목록으로 돌아가기
	function goFree(){
		var free = "/boards/board/freelist";
        window.location.href = free;
	}
	//본인이 작성한 글일 경우 '수정,삭제,목록' 아닐경우 '목록'만 보이기
	$(function(){
		var nickname=$("#nickname").val();
		var writer=$(".inputwriter-jRK").text();
		//수정버튼
		const btn1 = document.querySelector(".updatebtn-Rcu"); 
		//삭제버튼
        const btn2 = document.querySelector(".deletebtn-3eH");
		if(nickname==writer){
	        btn1.style.visibility = 'visible';
	        btn2.style.visibility = 'visible';
	        
		}else{
			btn2.style.visibility = 'hidden';
        	btn1.style.visibility = 'hidden';
		}
	})
	//수정 버튼 클릭시 수정 페이지로 이동
	function update(){
		var boardno=$("#boardno").val();
		console.log(boardno);
		var boardUpdate = '/boards/board/updateFree?boardno=' + boardno;
        window.location.href = boardUpdate;
		
	}
	//게시글 삭제하기
	function remove(){
		if(confirm("게시글을 삭제하시겠습니까?")){
		    var boardno=$("#boardno").val();
			$.ajax({
				type:"GET",
				url:"/deletefree?boardno=" + boardno,
				success:function(){
					alert("삭제되었습니다");
					window.location.href="/boards/board/freelist";
				}
			});
		}else{
			return false;
		}
	}

	// 수정 버튼 클릭시 댓글 input이 변경되는 함수
	  function commentEdit(comno, comcontent) {
	    var updateInput = $("#c_content_" + comno);

	    updateInput.removeAttr('readonly');
	    //수정 버튼 사라지게 하기
	    $(".commnetUpdate[data-comment-id='" + comno + "']").hide();
	    //수정 완료 버튼 나타나기~
	    $(".commnetUpdateComplete[data-comment-id='" + comno + "']").show();
	  }
	 //수정 완료 버튼 눌렀을 시 
	  function commentEditComplete(comno) {
	  	//수정된 댓글 내용 
	    var updatedContent = $("#c_content_" + comno).val();
	    
	    $.ajax({
	      url: "/freeCommentUpdate", 
	      data: { comno: comno, comcontent: updatedContent},
	      success: function (data) {
	        // 수정이 완료되면 다시 readonly 속성 추가
	        $("#c_content_" + comno).attr('readonly', 'readonly');
	
	        // "수정" 버튼 보이기
	        $(".commnetUpdate[data-comment-id='" + comno + "']").show();
	
	        // "수정완료" 버튼 숨기기
	        $(".commnetUpdateComplete[data-comment-id='" + comno + "']").hide();
	      },
	      error: function (error) {
	        console.error("댓글 업데이트 실패");
	        console.error(error);
	      }
	    });
	    
	  }
 //댓글 삭제하기
 function commentDelete(comno,boardno) {
	    var re = confirm('정말로 삭제할까요?');
	    if (re == true) {
			$.ajax({
				type:"GET",
				url:"/freeCommentDelete?comno=" + comno,
				success:function(){
					alert("삭제되었습니다");
					window.location.href="/boards/board/freeDetail?boardno="+boardno;
				}
			});
	    }
	  }
</script>
</head>
<body>
<div class="boardtogetherdetail-7Ey">
<!-- header_top div 시작 -->
  <div class="header_top">
	
	<!--logo p 시작-->
    <p class="logo" style="cursor: pointer;" onclick="location.href='/mainPage'">
    컬쳐
    <br/>
    모아
    </p>
    <!--logo p 끝-->
    
    <!--searchbar div 시작-->
    <div class="searchbar">
    <form action="/searchresult" method="post">
	  <input class="main_search" type="text" required title="검색어를 입력해주세요." name="keyword_main" id="keyword_main" placeholder="검색어를 입력하세요.">
	  <!-- searchicon div 시작 -->
      <button class="searchicon" id="searchicon" type="submit">
        <img class="iconsearch-tj3" src="/assets/iconsearch-wow.png"/>
      </button>
      <!-- searchicon div 끝 -->
    </form>
    </div>
    <!--searchbar div 끝-->
    
    <div class="div_login" style="cursor: pointer;" onclick="location.href='/login'">로그인</div>
    <div class="div_signup"  style="cursor: pointer;" onclick="location.href='/signup'">회원가입</div>
    
  </div>
  <!-- header_top div 끝 -->
    <!--gnb -->
    <div class="gnb-EhX"  onmouseover="showDropDown()"  onmouseout="hideDropDown()">
      <div class="divintro-9pV">소개</div>
      <div class="divevent-3Q5">행사소식</div>
      <div class="divcommunity-xG9">커뮤니티</div>
      <div class="divfaq-fwF">FAQ</div>
      <div class="divmypage-o1s" onclick="location.href='/member/mypage'">마이페이지</div>
      <div class="divopentalk-DLV">
        <img class="iconopentalk-vEu" src="/assets/iconopentalk-2m7.png"/>
        <div class="opentalk-GJm" onclick="opentalk()">오픈톡</div>
      </div>
      <div class="divmessage-aaM">
        <img class="iconmessage-VBX" src="/assets/iconmessage-2Bj.png"/>
        <div class="message-Rqs" onclick="location.href=''">쪽지</div>
      </div>
    </div>

  <!-- header 끝 -->
  <!--dropdown_main 시작-->
  <div class="dropdown_main">
	<!-- gnb 드롭다운 시작 -->
    <div class="gnb_dropdown"  style="visibility: hidden;" id="gnbDropdown"  onmouseover="cancelHide()" onmouseout="hideDropDown()">
      
      <!--div_introduce 시작-->
      <div class="div_introduce">
        <div class="pageinfo pointer" onclick="location.href='/pageinfo'">페이지소개</div>
      </div>
      <!--div_introduce 끝-->
      
      <!--div_eventlist 시작-->
      <div class="div_eventlist">
        <div class="domestic pointer" onclick="location.href='/event/domesticconcertlist'">국내공연</div>
        <div class="overseas pointer" onclick="location.href='/event/koreaconcertlist'">내한공연</div>
        <div class="musical pointer" onclick="location.href='/event/musicallist'">뮤지컬</div>
        <div class="localfestival pointer" onclick="location.href='/event/playlist'">연극</div>
        <div class="festival pointer" onclick="location.href='/event/festivallist'">페스티벌</div>

      </div>
      <!--div_eventlist 끝-->
      
      <!--div_boardlist 시작-->
      <div class="div_boardlist">
        <div class="freelist_text pointer" onclick="location.href='/boards/board/freelist'">자유게시판</div>
        <div class="reviewlist pointer" onclick="location.href='/boards/review/reviewlist'">후기게시판</div>
        <div class="togetherlist pointer" onclick="location.href='/boards/board/togetherlist'">동행게시판</div>
      </div>
      <!--div_boardlist 끝-->
      
      <div class="faq pointer" onclick="location.href='/FAQ'">FAQ</div>
      
      <!--div_infolist 시작-->
      <div class="div_infolist">
        <div class="memberinfo pointer" onclick="location.href='/member/mypage'">회원정보</div>
        <div class="message pointer" onclick="location.href='/member/mypagemessage'">쪽지함</div>
        <div class="wishlist pointer" onclick="location.href='/member/mypagelike'">관심목록</div>
      </div>
      <!--div_infolist 끝-->
    </div>
	<!-- gnb 드롭다운 끝 -->
	</div>	
  <div class="main-QuX">
    <div class="auto-group-hjvh-aZ7">
      <div class="maintitle-XDT">자유게시판</div>
      <div class="mainheader-mdb">
        <div class="framemainheader-Hbw">
          <div class="framelocation-ehP">
            <div class="home-Pey">홈</div>
            <img class="icon-HkM" src="/assets/icon-YJu.png"/>
            <div class="board-pkH">커뮤니티</div>
            <img class="icon-Lid" src="/assets/icon-YJu.png"/>
            <a th:href="@{/boards/board/freelist}" class="freetogether-V5j">자유게시판</a>
          </div>
        </div>
      </div>
    </div>
    <div class="maincontent-1Jy">
      <div class="divtitle-6bK">
        <div class="divmaintitle-3WZ">
		  <!--boardno -->
		  <input id="boardno" type="hidden" th:value="${b.boardno}">
		  <!--id -->
		  <input type="hidden" id="id" th:value="${m.id}"> 
		  <!--nickname -->
		  <input type="hidden" id="nickname" th:value="${m.nickname}"> 
          <div class="category-P4d">[자유]</div>
           <!--제목 -->
          <div class="title-gZX" th:text="${b.boardtitle}"></div>
          <!--좋아요 수-->
          <div class="like" th:text="${b.boardlikes}"></div>
          <!--좋아요별-->
		  <img class="star" th:src="${likeboard == 0 ? '/assets/component-57-off.png' : '/assets/component-57-on.png'}" onclick="pluslike()">        </div>
        <div class="divsubtitle-RX7">
          <div class="auto-group-mqft-ZtD">
		    <!--작성자 -->  
            <div class="divwrtier-UkH">
              <div class="writer-oGm">작성자</div>
              <div class="inputwriter-jRK" th:text="${b.nickname}"></div>
            </div>
            <div class="line1-3gu">
            </div>
            <!--작성일 -->
            <div class="regdate-Q1f" th:text="${b.regdate}"></div>
            <div class="line2-jJq">
            </div>
          </div>
          <!--조회수 -->
          <div class="divhi-Tkd">
            <div class="hitinput-RxM">조회수 </div>
            <div class="hittitile-v8R" th:text="${b.boardhit}"></div>
          </div>
        </div>
      </div>
      <div class="middleline-oT7">
      </div>
      <!--게시글 내용 -->
      <div class="divcontent-vnd">
        <div class="content-mYM" th:utext="${b.boardcontent}"></div>
      </div>
      
       <!--댓글 작성하기 중간 라인-->
      <div class="middleline"></div>
      
      <!--댓글하나 -->
      <div class="commentDiv" th:each="c:${com}">
	      <!--댓글 작성자, 작성일 -->
	      <div class="comment" th:value="${c.comno}">
		      <div class="commentId" th:text="${c.nickname}"></div>
		      <!--제목 -->
		      <div class="commentRegdate" th:text="${c.regdate}"></div>
		      <!-- 만약 댓글 작성자라면 -->
		      <div class="comBtn" th:if="${c.id eq id}">
				  <div class="commnetUpdate" th:attr="onclick='commentEdit(\'' + ${c.comno} + '\', \'' + ${c.comcontent} + '\')'" th:data-comment-id="${c.comno}">수정하기</div>
				  <div class="commnetUpdateComplete" style="display: none;" th:attr="onclick='commentEditComplete(\'' + ${c.comno} + '\')'" th:data-comment-id="${c.comno}">수정완료</div>
			      <div class="commentDelete"><a href="#" th:attr="onclick='commentDelete(\'' + ${c.comno} + '\' , \'' + ${b.boardno} + '\')'">삭제하기</a></div>
		      </div>
	      </div>
	      <!--댓글 내용 -->
	      <input  th:id="'c_content_' + ${c.comno}" class="commentContent" th:value="${c.comcontent}" type="text" readonly="readonly" th:data-comment-id="${c.comno}">
	  </div>  
	  
	  <!--댓글 작성하기 -->	
	  <div style="width: 100%;">
	  	  <form action="/boards/board/freeDetail" method="post">
			  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }">		
			  <input type="hidden" name="boardno" th:value="${b.boardno}">
			  <!--댓글 작성하기 -->	
			  <div class="insertCom">
				<!--댓글 작성하기 -->  
		      	<div class="insertComTitle">댓글쓰기</div>
		      	<input type="submit" class="insertComBtn" value="작성하기"></input>
		      </div>
		      <!--댓글 내용 작성 -->
		      <textarea class="insertComContent" placeholder="댓글을 작성해주세요" name="comcontent"></textarea>
	      </form>
      </div>
      
      
      <!--버튼 --> 
      <div class="mainfooter-5ow">
        <div class="updatebtn-Rcu" onclick="update()">수정하기</div>
        <div class="deletebtn-3eH" onclick="remove()">삭제하기</div>
        <div  class="listbtn" onclick=" goFree()">목록보기</div>
      </div>
    </div>
  </div>
</div>
</body>