<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>자유게시판</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet">  <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/freelist.css}"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script type="text/javascript">
	$(function() {
		$("#searchbtn").click(function() {
			var keyword = $("#keyword").val();
			if(keyword!=null && keyword!='') {
				url = "/boards/board/freelist/"+keyword+"/1/regdate";
			}
			else {
				url = "/boards/board/freelist/all/1/regdate";
			}
			location.href = url;
		})
		
		$("#register_anchor").click(function() {
			$("#register_anchor").css("color", "black");
		})
		
		$("#popular_anchor").click(function() {
			$("#popular_anchor").css("color", "black");
		})
	})	

		//--------gnb드롭다운
	//마우스가 올라오면 드롭다운
	 function showDropDown() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'visible';
      }
	//gnb에 마우스가 벗어나면 드롭다운 없애기
     function hideDropDown() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'hidden';
     }
    //gnb에 마우스가 벗어나도 드롭다운에 마우스가 올라오면 드롭다운 그대로 유지
     function cancelHide() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'visible';
     }
     
  </script>
</head>
<body>
<!--freelist div 시작-->
<div class="freelist">
	
	
  <!-- header 시작 -->
  <div class="auto-group-9o4m-KFo">
     <!-- header_top div 시작 -->
	  <div class="header_top">
		<!--logo p 시작-->
	    <p class="logo">
	    컬쳐
	    <br/>
	    모아
	    </p>
	    <!--logo p 끝-->
	    
	    <!--searchbar div 시작-->
	    <div class="searchbar">
		  <!-- searchicon div 시작 -->
	      <div class="searchicon">
	        <img class="iconsearch-tj3" src="/assets/iconsearch-wow.png"/>
	      </div>
	      <!-- searchicon div 끝 -->
	      
	      <div class="searchtext">검색어를 입력하세요.</div>
	      
	    </div>
	    <!--searchbar div 끝-->
	    
	    <div class="div_login">로그인</div>
	    <div class="div_signup">회원가입</div>
	    
	  </div>
	  <!-- header_top div 끝 -->
 
    
    <!--gnb -->
    <div class="gnb-EhX"  onmouseover="showDropDown()"  onmouseout="hideDropDown()">
      <div class="divintro-9pV" >소개</div>
      <div class="divevent-3Q5">행사소식</div>
      <div class="divcommunity-xG9">커뮤니티</div>
      <div class="divfaq-fwF">FAQ</div>
      <div class="divmypage-o1s">마이페이지</div>
      <div class="divopentalk-DLV">
        <img class="iconopentalk-vEu" src="/assets/iconopentalk-2m7.png"/>
        <div class="opentalk-GJm" onclick="opentalk()">오픈톡</div>
      </div>
      <div class="divmessage-aaM">
        <img class="iconmessage-VBX" src="/assets/iconmessage-2Bj.png"/>
        <div class="message-Rqs">쪽지</div>
      </div>
    </div>
  </div>
  <!-- header 끝 -->
 
  
  <!--dropdown_main 시작-->
  <div class="dropdown_main">
	<!-- gnb 드롭다운 시작 -->
    <div class="gnb_dropdown"  style="visibility: hidden;" id="gnbDropdown"  onmouseover="cancelHide()" onmouseout="hideDropDown()">
      
      <!--div_introduce 시작-->
      <div class="div_introduce">
        <div class="pageinfo pointer">페이지소개</div>
        <div class="teaminfo pointer">팀원소개</div>
      </div>
      <!--div_introduce 끝-->
      
      <!--div_eventlist 시작-->
      <div class="div_eventlist">
        <div class="festival pointer">페스티벌</div>
        <div class="domestic pointer">국내공연</div>
        <div class="overseas pointer">내한공연</div>
        <div class="musical pointer">뮤지컬</div>
        <div class="localfestival pointer">지역축제</div>
      </div>
      <!--div_eventlist 끝-->
      
      <!--div_boardlist 시작-->
      <div class="div_boardlist">
        <div class="freelist_text pointer">자유게시판</div>
        <div class="reviewlist pointer">후기게시판</div>
        <div class="togetherlist pointer">동행게시판</div>
      </div>
      <!--div_boardlist 끝-->
      
      <div class="faq pointer">FAQ</div>
      
      <!--div_infolist 시작-->
      <div class="div_infolist">
        <div class="wishlist pointer">관심목록</div>
        <div class="message pointer">쪽지함</div>
        <div class="memberinfo pointer">회원정보</div>
      </div>
      <!--div_infolist 끝-->
    </div>
	<!-- gnb 드롭다운 끝 -->
  
  <!-- main div 시작 -->
  <div class="main">
	
	<!-- location div 시작 -->
    <div class="location">
      <a th:href="@{/mainPage}" class="home" th:text="홈"></a>
      <img class="nexticon" src="/assets/icon-YJu.png"/>
      <div class="community">커뮤니티</div>
      <img class="nexticon2" src="/assets/icon-umT.png"/>
      <div class="freelist_text">자유게시판</div>
    </div>
    <!-- location div 끝 -->
    
    <!-- main_content div 시작 -->
    <div class="main_content">
		
	  <!-- main_content_top div 시작 -->
      <div class="main_content_top">
        <div class="title">자유게시판</div>
        
        <!-- main_searchbar div 시작 -->
        <div class="main_searchbar">
		  <!--main_searchtext div 시작-->
          <div class="main_searchtext">
			  <input type="text" name="keyword" id="keyword" placeholder="검색어를 입력하세요.">
		  	  <!-- searchbtn button 시작 -->
	          <button class="searchbtn" id="searchbtn">
	            <img class="search_icon" src="/assets/icon-8J5.png"/>
	          </button>
        	  <!-- searchbtn button 끝 -->
		  </div>
		  <!--main_searchtext div 끝-->
        </div>
        <!-- main_searchbar div 끝 -->
        
        <!-- filter div 시작 -->
        <div class="filter">
          <div class="register">
		  	  <a id="register_anchor" class="register_anchor" th:href="@{'/boards/board/freelist/'+${session.keyword}+'/1/regdate'}" th:text="등록순"></a>
		  </div>
          <div class="middleline"></div>
          <div class="popular">
			  <a id="popular_anchor" class="popular_anchor" th:href="@{'/boards/board/freelist/'+${session.keyword}+'/1/boardhit'}" th:text="인기순"></a>
		  </div>
        </div>
        <!-- filter div 끝 -->
      </div>
      <!-- main_content_top div 끝 -->
      
      <!-- main_content_middle div 시작 -->
      <div class="main_content_middle">
		  
		<!-- list_title div 시작 -->
        <div class="list_title">
			
		  <!-- div_names div 시작 -->
          <div class="div_names">
			<!-- names div 시작 -->
            <div class="names">
              <div class="dno_name">글번호</div>
              <div class="title_name">제목</div>
              <div class="regdate_name">작성일</div>
              <div class="id_name">ID</div>
              <div class="hit_name">조회수</div>
              <div class="like_name">좋아요</div>
            </div>
            <!-- names div 끝 -->
          </div>
          <!-- div_names div 끝 -->
        </div>
        <!-- list_title div 끝 -->
        
        
        <!-- list div 시작 -->
        <div class="list">
		  <span th:each="b:${list}">
			  <!-- div_list 시작 -->
	          <div class="div_list">
	            <div class="dno" th:text="${b.boardno}"></div>
	            <div class="title" th:text="${b.boardtitle}"></div>
	            <div class="regdate" th:text="${b.regdate}"></div>
	            <div class="userid" th:text="${b.member.id}"></div>
	            <div class="hit" th:text="${b.boardhit}"></div>
	            <div class="likes" th:text="${b.boardlikes}"></div>
	          </div>
	          <!-- div_list 끝 -->
	      </span>
        </div>
        <!-- list div 끝 -->
      </div>
      <!-- main_content_middle div 끝 -->
      
      <!-- main_content_bottom div 시작 -->
      <div class="main_content_bottom">
		<!-- insertboardbtn div 시작 -->
        <div class="insertboardbtn">
		  <img class="inserticon" src="/assets/icon-wLD.png"/>
          <a class="insert_text" th:text="게시글작성"></a>
        </div>
        <!-- insertboardbtn div 끝 -->
        
<!--         paging div 시작 
        <div class="paging">
          <img class="btndoubleprevious" src="/assets/btndoubleprevious-erm.png"/>
          <img class="btnprevious" src="/assets/btnprevious-bzR.png"/>
          <th:block th:each="i:${#numbers.sequence(startPage, endPage)}">
	          <div class="page1">
				  <a th:href="@{'/boards/board/freelist/'+${session.keyword}+'/'+${i}+'/'+${session.orderby}}" th:text="${i}" class="pages"></a>
			  </div>
		  </th:block>
          <img class="btnnext" src="/assets/btnnext-UfK.png"/>
          <img class="btndoublenext" src="/assets/btndoublenext-aoT.png"/>
        </div>
         paging div 끝 
        -->
        
	    <!-- paging div 시작 -->
		<div class="paging">
			<!-- 이전 버튼 -->
			<a th:if="${currentPage > 1}" th:href="@{/boards/board/freelist/1}">
			  <img class="btndoubleprevious" src="/assets/btndoubleprevious-zc9.png"/>
			</a>
			<a th:if="${currentPage > 1}" th:href="@{'/boards/board/freelist/'+${currentPage-1}}">
			  <img class="btnprevious" src="/assets/btnprevious-fUm.png"/>
			</a>
			<!-- 페이지 숫자 출력 및 클릭 가능한 링크로 설정 -->
			<div class="div_page" th:if="${totalPages > 1}">
			  <th:block th:with="startPage=${(currentPage-1)/10*10+1}">
				  <th:block th:with="endPage=${(startPage+9) < totalPages ? (startPage+9) : totalPages}">
			      <th:block th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
			        <!-- 페이지 숫자를 답는 div -->
			        <div class="page1">
			        	<a class="pages" th:href="@{'/boards/board/freelist/'+${session.keyword}+'/'+${pageNum}+'/'+${session.orderby}}" th:text="${pageNum}" th:classappend="${pageNum == currentPage} ? 'selected' : ''">
			        	</a>
			        </div> 
			      </th:block>
			    </th:block>
			  </th:block>
			</div>
			<!-- 다음 버튼 -->
			<a th:if="${currentPage < totalPages}" th:href="@{'/boards/board/freelist/'+${session.keyword}+'/'+${currentPage+1}+'/'+${session.orderby}}">
			  <img class="btnnext" src="/assets/btnnext-zrm.png"/>
			</a>
			<a th:if="${currentPage < totalPages}" th:href="@{'/boards/board/freelist/'+${session.keyword}+'/'+${totalPages}+'/'+${session.orderby}}">
			  <img class="btndoublenext" src="/assets/btndoublenext-Y7s.png"/>
			</a>
		</div>
	    <!-- paging div 끝 -->    
	        
        
      </div>
      <!-- main_content_bottom div 끝 -->
    </div>
    <!-- main_content div 끝 -->
  </div>
  <!-- main div 끝 -->
  </div>
  <!--dropdown_main 끝-->
</div>
<!--freelist div 끝-->
</body>