<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>board_together_detail</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="./styles/freeDetail.css"/>
</head>
<body>
<div class="boardtogetherdetail-7Ey">
  <div class="header-dz1">
    <p class="logo-vCR">
    컬쳐
    <br/>
    모아
    </p>
    <div class="searchbar-1jf">
      <div class="searchicon-YDo">
        <img class="iconsearch-F8D" src="./assets/iconsearch-8vD.png"/>
      </div>
      <div class="searchtext-mMT">검색어를 입력하세요.</div>
      <div class="divsearch-eAM">
      </div>
    </div>
    <div class="login-yyK">로그인</div>
    <div class="signup-fbF">회원가입</div>
  </div>
  <div class="gnb-bE1">
    <div class="divintro-VKP">소개</div>
    <div class="divevent-CDo">행사소식</div>
    <div class="divcommunity-sqj">커뮤니티</div>
    <div class="divfaq-ZCm">FAQ</div>
    <div class="divmypage-H8m">마이페이지</div>
    <div class="divopentalk-MPX">
      <img class="iconopentalk-SA5" src="./assets/iconopentalk-Wp9.png"/>
      <div class="opentalk-BNZ">오픈톡</div>
    </div>
    <div class="divmessage-t25">
      <img class="iconmessage-nNM" src="./assets/iconmessage-E5f.png"/>
      <div class="message-wFF">쪽지</div>
    </div>
  </div>
  <div class="main-QuX">
    <div class="auto-group-hjvh-aZ7">
      <div class="maintitle-XDT">게시판</div>
      <div class="mainheader-mdb">
        <div class="framemainheader-Hbw">
          <div class="framelocation-ehP">
            <div class="home-Pey">홈</div>
            <img class="icon-HkM" src="./assets/icon-z4h.png"/>
            <div class="board-pkH">게시판</div>
            <img class="icon-Lid" src="./assets/icon-J1o.png"/>
            <div class="freetogether-V5j">자유 / 동행</div>
          </div>
        </div>
      </div>
    </div>
    <div class="maincontent-1Jy">
      <div class="divtitle-6bK">
        <div class="divmaintitle-3WZ">
          <div class="category-P4d">[동행]</div>
          <div class="title-gZX">제목</div>
        </div>
        <div class="divsubtitle-RX7">
          <div class="auto-group-mqft-ZtD">
            <div class="divwrtier-UkH">
              <div class="writer-oGm">작성자</div>
              <div class="inputwriter-jRK">feddie</div>
            </div>
            <div class="line1-3gu">
            </div>
            <div class="regdate-Q1f">2023 / 07 / 12</div>
            <div class="line2-jJq">
            </div>
          </div>
          <div class="divhi-Tkd">
            <div class="hitinput-RxM">조회수 </div>
            <div class="hittitile-v8R">17</div>
          </div>
        </div>
      </div>
      <div class="middleline-oT7">
      </div>
      <div class="divcontent-vnd">
        <div class="file-3sF">
        </div>
        <p class="content-mYM">게시글 내용</p>
      </div>
      <div class="mainfooter-5ow">
        <div class="updatebtn-Rcu">수정하기</div>
        <div class="deletebtn-3eH">삭제하기</div>
      </div>
    </div>
  </div>
</div>
</body>