<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>board_list_free</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A500"/>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/insertBoard_free.css}"/>
</head>
<body>
<div class="boardlistfree-2b3">
  <div class="header-xDo">
    <p class="logo-fe1">
    컬쳐
    <br/>
    모아
    </p>
    <div class="searchbar-aky">
      <div class="searchicon-FcD">
        <img class="iconsearch-jnH" src="./assets/iconsearch-wLd.png"/>
      </div>
      <div class="searchtext-NqF">검색어를 입력하세요.</div>
      <div class="divsearch-Y7T">
      </div>
    </div>
    <div class="login-egH">로그인</div>
    <div class="signup-huT">회원가입</div>
  </div>
  <div class="gnb-yry">
    <div class="divintro-JPT">소개</div>
    <div class="divevent-QxH">행사소식</div>
    <div class="divcommunity-XX7">커뮤니티</div>
    <div class="divfaq-3kM">FAQ</div>
    <div class="divmypage-mgM">마이페이지</div>
    <div class="divopentalk-f13">
      <img class="iconopentalk-AyP" src="./assets/iconopentalk-VZb.png"/>
      <div class="opentalk-7td">오픈톡</div>
    </div>
    <div class="divmessage-boo">
      <img class="iconmessage-hbw" src="./assets/iconmessage-DpD.png"/>
      <div class="message-S3j">쪽지</div>
    </div>
  </div>
  <div class="main-uCD">
    <div class="paddingleft-Sxq">
    </div>
    <div class="divmain-QPs">
      <div class="auto-group-mwuv-w8u">
        <div class="golistbtn-FfP">게시글 목록</div>
        <div class="divwritebtn-9Ey">
          <img class="pencilline-G4h" src="./assets/pencilline-xU9.png"/>
          <div class="writebtn-mn9">게시글 작성</div>
        </div>
      </div>
      <div class="contentinput-Vi9">내용을 입력해주세요.</div>
      <div class="divtitle-bFP">제목을 입력해주세요요</div>
      <div class="auto-group-zphp-V5s">
        <div class="divwriter-RVK">
          <div class="writertitle-YK3">작성자</div>
          <div class="writerinput-ecy">teddie</div>
        </div>
        <div class="divcategory-ZE9">
          <div class="categorytitle-6zm">카테고리</div>
          <div class="btnradio-SYq">
            <div class="radiofree-nsb">
              <div class="group-34-wkV">
                <div class="rectangle-138-sPF">
                </div>
              </div>
              <div class="free-M3X">라디오 버튼</div>
            </div>
            <div class="radiotogether-sXf">
              <div class="group-34-cEM">
                <div class="rectangle-137-ZvH">
                </div>
              </div>
              <div class="together-eB3">라디오 버튼</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottomline-Bgm">
      </div>
    </div>
    <div class="paddingright-6Hw">
    </div>
  </div>
</div>
</body>