<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>board_list_free</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/updateFree.css}"/>
   <!-- include libraries(jQuery, bootstrap) -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <!-- include summernote css/js-->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
  <!-- include summernote-ko-KR -->
  <!-- 서머노트를 위해 추가해야할 부분 -->
  <link rel="stylesheet" href="/summernote/summernote-lite.css">
</head>
<style>
.note-editor.note-frame, .note-editor.note-airframe{
	margin-top:22rem;
}	

</style>
<script>

	
	//-------- 검색 버튼 클릭 시 검색결과 창으로 이동
	function searchKeyword(){
		if($("#keyword_main").val() == null || $("#keyword_main").val() == "") {
			alert("검색어를 입력하세요.");
		}
		else {
			var data = {
				keyword : $("#keyword_main").val()
			};
			
			$.ajax({
				url:"/searchresult",
				data: data,
				success:function(n) {
					sendNUM = eval(n); // 숫자로 변환
				}
		});	
		}
	}		
	//파일이 있을 시 
	var url;
	//summernote 내용 입력하기
	 $(document).ready(function() {
	//여기 아래 부분
	$('#summernote').summernote({
		  toolbar: [
			    ['fontname', ['fontname']],
			    ['fontsize', ['fontsize']],
			    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
			    ['color', ['forecolor','color']],
			    ['table', ['table']],
			    ['para', ['ul', 'ol', 'paragraph']],
			    ['height', ['height']],
			    ['insert',['picture']],
			    ['view', ['fullscreen', 'help']]
			  ],
			height: 920,                 // 에디터 높이
			minHeight: 800,             // 최소 높이
			maxHeight: null,             // 최대 높이
			focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
			lang: "ko-KR",					// 한글 설정
			placeholder: '최대 2048자까지 쓸 수 있습니다',	//placeholder 설정
			callbacks: {	//여기 부분이 이미지를 첨부하는 부분
				onImageUpload : function(files) {
					//console.log(files)
					uploadSummernoteImageFile(files[0],this);
				},
				onPaste: function (e) {
					var clipboardData = e.originalEvent.clipboardData;
					if (clipboardData && clipboardData.items && clipboardData.items.length) {
						var item = clipboardData.items[0];
						if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
							e.preventDefault();
						}
					}
				}
			}
		});
		
	});


	function uploadSummernoteImageFile(file, editor) {
		data = new FormData();
		data.append("file", file);
		$.ajax({
			data : data,
			type : "POST",
			url : "/uploadSummernoteImageFile",
			enctype: 'multipart/form-data',
			contentType : false,
			processData : false,
			success : function(response) {
				// JSON 문자열을 JSON 객체로 파싱
	            var jsonResponse = JSON.parse(response);
	            url=jsonResponse.url;
	            console.log(url);
	            // url에 접근하여 이미지 삽입
	            $(editor).summernote('insertImage', jsonResponse.url);
				
			}
		});
	}
	$("div.note-editable").on('drop',function(e){
         for(i=0; i< e.originalEvent.dataTransfer.files.length; i++){
         	uploadSummernoteImageFile(e.originalEvent.dataTransfer.files[i],$("#summernote")[0]);
         }
        e.preventDefault();
   });	
   
   //목록으로 이동하기
   function goReview(){
	   var togetherlist = "/boards/board/togetherlist";
       window.location.href = togetherlist;
		
	}
</script>
<body>
<div class="boardlistfree-2b3" layout:fragment="content">
 
  <!--메인페이지 -->
  <div class="main-uCD" >
		
    <div class="paddingleft-Sxq">
    </div>
    
    <div class="divmain-QPs">
		<form id="board" role="form" action="/togetherUpdate" method="post"> 
		<!-- 게시글 번호 -->
		<input type="hidden" name="boardno" th:value="${b.boardno}">
		<input type="hidden" name="boardlikes" th:value="${b.boardlikes}">
		<input type="hidden" name="boardhit" th:value="${b.boardhit}">
		<div class="auto-group-zphp-V5s">
		<!-- 작성자 -->	
        <div class="divwriter-RVK">
          <div class="writertitle-YK3">작성자</div>
          <div class="writerinput-ecy" name="member.id" th:text="${b.member.id}"></div>
        </div>
        
        <div class="divcategory-ZE9">
          <div class="categorytitle-6zm">카테고리</div>
 		  <div class="category"  th:text="${b.bcategory}"></div>
        </div>
      </div>
      
      <!-- 버튼-->
      <div class="auto-group-mwuv-w8u">
        <div class="golistbtn-FfP" onclick=" goReview()">게시글 목록</div>
        <button class="divwritebtn-9Ey btn">
          <img class="pencilline-G4h" src="/assets/pencilline-sQV.png"/>
          <div class="writebtn-mn9">게시글 수정</div>
        </button>
      </div>
      <!-- 버튼 끝 -->
      
      <!--제목 입력 -->
      <input class="divtitle-bFP" placeholder="제목을 입력해주세요" name="boardtitle" th:value="${b.boardtitle}" required>
      <!--내용 입력 -->
      <textarea class="form-control" id="summernote" name="Contents" th:utext="${b.boardcontent}" required></textarea>
      <div class="bottomline-Bgm">
      </div>
      </form>
      
    </div>
    <div class="paddingright-6Hw">
    </div>
    
   
    
  </div>
</div>
</body>