<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#000000" />
<title>event_detail</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A500"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A600"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet">  <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/styles/eventdetail.css}"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>	
	//현재 url 변수로 가져오기
	let nowUrl = window.location.href;
	
	function copyUrl(){ 
	  //nowUrl 변수에 담긴 주소를
	  	navigator.clipboard.writeText(nowUrl).then(res=>{
		  alert("링크를 클립보드에 복사했습니다.");
		})
	}
		
	//--------gnb드롭다운
	//마우스가 올라오면 드롭다운
	function showDropDown() {
       const gnbDropdown = document.getElementById('gnbDropdown');
       gnbDropdown.style.visibility = 'visible';
    }
	//gnb에 마우스가 벗어나면 드롭다운 없애기
    function hideDropDown() {
       const gnbDropdown = document.getElementById('gnbDropdown');
       gnbDropdown.style.visibility = 'hidden';
    }
    //gnb에 마우스가 벗어나도 드롭다운에 마우스가 올라오면 드롭다운 그대로 유지
    function cancelHide() {
        const gnbDropdown = document.getElementById('gnbDropdown');
        gnbDropdown.style.visibility = 'visible';
    }
     
    //--------------오픈톡
	//버튼 선택시 오픈톡 새창 띄우기
	function opentalk(){
		// 새 창을 띄우기 위한 옵션 설정
        var windowFeatures = 'width=550px,height=550px';
        // 새 창 열기
        var newWindow = window.open('/opentalk', '_blank', windowFeatures);
        // 새 창이 차단되었을 경우 알림
        if (!newWindow) {
            alert('팝업 차단 기능이 활성화되어 있습니다. 새 창이 열리지 않을 수 있습니다.');
        }
	}	
	</script>
</head>
<body>
<div class="eventdetail-d3F" layout:fragment="content">
  
  <div class="main-RW9">
    <div class="mainheader-NgH">
      <div class="framemainheader-uRK">
        <div class="framelocation-rrM">
          <a th:href="@{/mainPage}">
	        <div class="home-yAH">홈</div>
	      </a>
          <img class="icon-HRs" src="/assets/icon-XG5.png"/>
          <a th:if="${event.categoryno == 1}" th:href="@{/event/domesticconcertlist}">
 	       <div class="event-pAu">행사소식</div>
	      </a>
	      <a th:if="${event.categoryno == 2}" th:href="@{/event/koreaconcertlist}">
	        <div class="event-pAu">행사소식</div>
	      </a>
	      <a th:if="${event.categoryno == 3}" th:href="@{/event/musicallist}">
	        <div class="event-pAu">행사소식</div>
	      </a>
	      <a th:if="${event.categoryno == 4}" th:href="@{/event/playlist}">
	        <div class="event-pAu">행사소식</div>
	      </a>
	      <a th:if="${event.categoryno == 5}" th:href="@{/event/festivallist}">
	        <div class="event-pAu">행사소식</div>
	      </a>
          <img class="icon-vzd" src="/assets/icon-XG5.png"/>
          <div class="eventdetail-fhK">행사상세</div>
        </div>
        <div class="frameicon-bay">
          <img class="bookmark-Z21" src="/assets/bookmark-Bkd.png"/>
          <img class="sharing-5m3" src="/assets/sharing-pBb.png" onclick="copyUrl()"/>
        </div>
      </div>
    </div>
    <div class="maintitle-pTj">
	<div class="div_img">
		<img class="maintitle-img" th:src="${event.eventfname == null ? '/images/white_background.png' : '/images/' + event.eventfname}" alt="행사 이미지">
	</div>
      <div class="divhit-MTf">
        <img class="iconhit-gVw" src="/assets/iconhit.png"/>
        <div class="hit-oaZ" th:text="${event.eventhit}"></div>
      </div>
      <div class="divposter-wwf">
        <div class="postertitle-uNh" th:text="${event.eventname}"></div>
        <div class="poster-pVf">
			<img th:src="${event.eventfname == null ? '/images/togetready.png' : '/images/' + event.eventfname}" alt="행사 이미지" class="poster-pVf"/>
        </div>
      </div>
    </img>
    <div class="auto-group-nltz-hpM">
      <div class="maincontent-S1F">
        <div class="divcontent-mZK">
          <div class="auto-group-9mhs-u9j">
            <div class="divdday-cpq">남은 / 지난 공연</div>
            <div class="dday-uJ9" th:text="${state}"></div>
          </div>
          <div class="auto-group-gt2u-S3B">
            <div class="divdate-Z7o">공연기간</div>
            <!-- 공연 기간 출력 -->
            <div class="date-TU5" th:text="${eventStart}+' ~ '+${eventEnd}"></div>
          </div>
          <div class="auto-group-9dqs-zD7">
            <div class="divlocation-JUh">공연장소</div>
            <!-- 공연 장소 출력 -->
            <div class="location-ax1" th:text="${event.eventplace}"></div>
          </div>
          
          <div class="div_addr">
            <div class="addr_txt">공연주소</div>
            <!-- 공연 장소 출력 -->
            <div class="addr" th:text="${event.eventaddr}"></div>
          </div>
          
          <div class="div_link">
            <div class="link_txt">공연링크</div>
            <!-- 공연 링크 출력 -->
            <div class="link">
				<a class="link" th:href="${event.eventlink}" target="_blank" th:text="${event.eventlink}"></a>
			</div>
          </div>
          
          <div class="div_park">
            <div class="park_txt">주차장여부</div>
            <!-- 주차장 여부 출력 -->
            <div class="park" th:text="${event.parkplace == 'Y' ? '있음' : '없음'}"></div>
          </div>
          
          <div class="content-J7K" th:text="${event.eventcontent}">
          </div>
        </div>
        <div class="middleline-cdo">
        </div>
        <div class="divmap-jyK">
          <div class="auto-group-zqmt-tbK">
            <div class="divlocationinfo-3UD">위치 안내</div>
            <div class="divway-v2D">길찾기</div>
          </div>
          <img class="divmap-Byj" src="/assets/divmap-BKX.png"/>
        </div>
      </div>
      <div class="mainfooter-Kq3">
		  <a th:if="${event.categoryno == 1}" th:href="@{/event/domesticconcertlist}">
		    <img class="icongolist-UT3" src="/assets/icongolist-z9o.png"/>
		    <div class="golist-p17">목록으로</div>
		  </a>
		  <a th:if="${event.categoryno == 2}" th:href="@{/event/koreaconcertlist}">
		    <img class="icongolist-UT3" src="/assets/icongolist-z9o.png"/>
		    <div class="golist-p17">목록으로</div>
		  </a>
		  <a th:if="${event.categoryno == 3}" th:href="@{/event/musicallist}">
		    <img class="icongolist-UT3" src="/assets/icongolist-z9o.png"/>
		    <div class="golist-p17">목록으로</div>
		  </a>
		  <a th:if="${event.categoryno == 4}" th:href="@{/event/playlist}">
		    <img class="icongolist-UT3" src="/assets/icongolist-z9o.png"/>
		    <div class="golist-p17">목록으로</div>
		  </a>
		  <a th:if="${event.categoryno == 5}" th:href="@{/event/festivallist}">
		    <img class="icongolist-UT3" src="/assets/icongolist-z9o.png"/>
		    <div class="golist-p17">목록으로</div>
		  </a>
		</div>
    </div>
  </div>
</div>
</body>