<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head th:fragment="mainHeader">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#000000" />
<title>event_detail</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A600"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet">  <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/styles/eventdetail.css}"/>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1f2916fe9be7d4973e1955c2e2aeff14"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>	
	//현재 url 변수로 가져오기
	let nowUrl = window.location.href;
	
	function copyUrl(){ 
	  //nowUrl 변수에 담긴 주소를
	  	navigator.clipboard.writeText(nowUrl).then(res=>{
		  alert("링크를 클립보드에 복사했습니다.");
		})
	}
	
	
	function insertLike(){ 
		var data = {
				eventno: $("#eventno").val()
		};
		$.ajax({
			url:"/insertLike",
			data: data,
			success:function(n) {
				if(n == 2) {
					var add = confirm("관심목록에서 삭제하시겠습니까?");
					if(add==1) {
						$("#bookmark").attr("src", "/assets/blank_star.png");
						alert("관심목록에서 삭제되었습니다. ")
					}
				}
				else {
					var add = confirm("관심목록에 추가하시겠습니까?");
					if(add==1) {
						$("#bookmark").attr("src", "/assets/bookmark-Bkd.png");
						alert("관심목록에 추가되었습니다.")
					}
				}
			}
		});	
	}
		
	
	$(function() {
		$("#map_txt").click(function() {
			$("#map_txt").css("color", "#07b47f");
			$("#map_txt").css("background-color", "#ffffff");
			$("#find_txt").css("color", "#000000");
			$("#find_txt").css("background-color", "#ececec");
			
		})
		
		$("#find_txt").click(function() {
			$("#find_txt").css("color", "#07b47f");
			$("#find_txt").css("background-color", "#ffffff");
			$("#map_txt").css("color", "#000000");
			$("#map_txt").css("background-color", "#ececec");
			
		})
		
		$("#modal_show").click(function() {
			$("#map_txt").css("color", "#07b47f");
			$("#map_txt").css("background-color", "#ffffff");
			$("#find_txt").css("color", "#000000");
			$("#find_txt").css("background-color", "#ececec");
		})
		
	})
	
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div class="eventdetail-d3F" layout:fragment="content">
  
  <div class="main-RW9">
    <div class="mainheader-NgH">
      <div class="framemainheader-uRK">
        <div class="framelocation-rrM">
          <a th:href="@{/mainPage}">
	        <div class="home-yAH">홈</div>
	      </a>
          <img class="icon-HRs" src="/assets/icon-XG5.png"/>
          <a th:if="${event.categoryno == 1}" th:href="@{/event/domesticconcertlist}">
 	       <div class="event-pAu">행사소식</div>
	      </a>
	      <a th:if="${event.categoryno == 2}" th:href="@{/event/koreaconcertlist}">
	        <div class="event-pAu">행사소식</div>
	      </a>
	      <a th:if="${event.categoryno == 3}" th:href="@{/event/musicallist}">
	        <div class="event-pAu">행사소식</div>
	      </a>
	      <a th:if="${event.categoryno == 4}" th:href="@{/event/playlist}">
	        <div class="event-pAu">행사소식</div>
	      </a>
	      <a th:if="${event.categoryno == 5}" th:href="@{/event/festivallist}">
	        <div class="event-pAu">행사소식</div>
	      </a>
          <img class="icon-vzd" src="/assets/icon-XG5.png"/>
          <div class="eventdetail-fhK">행사상세</div>
        </div>
        <div class="frameicon-bay">
          <img class="bookmark-Z21" id="bookmark" th:src="${cnt} == 0 ? '/assets/blank_star.png' : '/assets/bookmark-Bkd.png'" onclick="insertLike()"/>
          <input type="hidden" th:value="${event.eventno}" name="eventno" id="eventno">
          <img class="sharing-5m3" src="/assets/sharing-pBb.png" onclick="copyUrl()"/>
        </div>
      </div>
    </div>
    <div class="maintitle-pTj">
		<div class="div_img">
			<img class="maintitle-img" th:src="${event.eventfname == null ? '/images/white_background.png' : '/images/' + event.eventfname}" alt="행사 이미지"/>
		</div>
        <div class="divhit-MTf">
          <img class="iconhit-gVw" id="iconhit" src="/assets/iconhit.png"/>
          <div class="hit-oaZ" th:text="${event.eventhit}"></div>
        </div>
      <div class="divposter-wwf">
        <div class="postertitle-uNh" th:text="${event.eventname}"></div>
       <!-- <div class="poster-pVf"> -->
			<img th:src="${event.eventfname == null ? '/images/togetready.png' : '/images/' + event.eventfname}" alt="행사 이미지" class="poster-pVf"/>
        <!-- </div> -->
      </div>
    </div>
    <div class="auto-group-nltz-hpM">
      <div class="maincontent-S1F">
        <div class="divcontent-mZK">
          <div class="auto-group-9mhs-u9j">
            <div class="divdday-cpq">남은 / 지난 공연</div>
            <div class="dday-uJ9" th:text="${state}"></div>
          </div>
          <div class="auto-group-gt2u-S3B">
            <div class="divdate-Z7o">공연기간</div>
            <!-- 공연 기간 출력 -->
            <div class="date-TU5" th:text="${eventStart}+' ~ '+${eventEnd}"></div>
          </div>
          <div class="auto-group-9dqs-zD7">
            <div class="divlocation-JUh">공연장소</div>
            <!-- 공연 장소 출력 -->
            <div class="location-ax1" th:text="${event.eventplace}"></div>
          </div>
          
          <div class="div_addr">
            <div class="addr_txt">공연주소</div>
            <!-- 공연 장소 출력 -->
            <div class="addr" th:text="${event.eventaddr}"></div>
          </div>
          
          <div class="div_link">
            <div class="link_txt">공연링크</div>
            <!-- 공연 링크 출력 -->
            <div class="link">
				<a class="link" th:href="${event.eventlink}" target="_blank" th:text="${event.eventlink}"></a>
			</div>
          </div>
          
          <div class="div_park">
            <div class="park_txt">주차장여부</div>
            <!-- 주차장 여부 출력 -->
            <div class="park" th:text="${event.parkplace == 'Y' ? '있음' : '없음'}"></div>
          </div>
          
          <div class="content-J7K" th:text="${event.eventcontent}">
          </div>
        </div>
        <div class="middleline-cdo">
        </div>
        <div class="divmap-jyK">
          <div class="auto-group-zqmt-tbK">
            <div class="divlocationinfo-3UD" id="map_txt">위치 안내</div>
            <button type="button" class="divway-v2D" id="find_txt" data-bs-toggle="modal" data-bs-target="#myModal">길찾기</button>
          </div>
          <div class="divmap-Byj" id="map">

          <script>
			  var container = document.getElementById('map');
			  var options = {
			  	center: new kakao.maps.LatLng('[[${event.eventlat}]]', '[[${event.eventlong}]]'),
			  	level: 2
		  		};
		  	  var markerPosition  = new kakao.maps.LatLng('[[${event.eventlat}]]', '[[${event.eventlong}]]'); 
			  var map = new kakao.maps.Map(container, options);
			  var marker = new kakao.maps.Marker({
    		  	position: markerPosition
    		  })
    		  marker.setMap(map);
		  </script>
      
		  </div>
        </div>
      </div>
      <div class="mainfooter-Kq3">
		  <a th:if="${event.categoryno == 1}" th:href="@{/event/domesticconcertlist}">
		    <img class="icongolist-UT3" src="/assets/icongolist-z9o.png"/>
		    <div class="golist-p17">목록으로</div>
		  </a>
		  <a th:if="${event.categoryno == 2}" th:href="@{/event/koreaconcertlist}">
		    <img class="icongolist-UT3" src="/assets/icongolist-z9o.png"/>
		    <div class="golist-p17">목록으로</div>
		  </a>
		  <a th:if="${event.categoryno == 3}" th:href="@{/event/musicallist}">
		    <img class="icongolist-UT3" src="/assets/icongolist-z9o.png"/>
		    <div class="golist-p17">목록으로</div>
		  </a>
		  <a th:if="${event.categoryno == 4}" th:href="@{/event/playlist}">
		    <img class="icongolist-UT3" src="/assets/icongolist-z9o.png"/>
		    <div class="golist-p17">목록으로</div>
		  </a>
		  <a th:if="${event.categoryno == 5}" th:href="@{/event/festivallist}">
		    <img class="icongolist-UT3" src="/assets/icongolist-z9o.png"/>
		    <div class="golist-p17">목록으로</div>
		  </a>
		</div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" id="dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">길 찾기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="100%" th:src="@{'https://map.kakao.com/link/to/'+${event.eventplace}+','+${event.eventlat}+','+${event.eventlong}}">
			
		</iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modal_show">닫기</button>
      </div>
    </div>
  </div>
</div>
    <script>
        $(document).ready(function() {
            $("#find_txt").click(function() {
                $("#myModal").fadeIn();
            });
 
            $("#close_modal").click(function() {
                $("#myModal").fadeOut();
            });
        });
    </script>
</body>