<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>event_detail</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A600"/>
    <link rel="stylesheet" th:href="@{/styles/eventdetail.css}"/>
</head>
<body>
<div class="eventdetail-d3F">
  <div class="header-ME9">
    <p class="logo-G6D">
    컬쳐
    <br/>
    모아
    </p>
    <div class="searchbar-Nuw">
      <div class="searchicon-hhK">
        <img class="iconsearch-1xu" src="/assets/iconsearch-JRo.png"/>
      </div>
      <div class="searchtext-XRT">검색어를 입력하세요.</div>
      <div class="divsearch-Zsw">
      </div>
    </div>
    <div class="login-6cy">로그인</div>
    <div class="signup-b3w">회원가입</div>
  </div>
  <div class="gnb-72H">
    <div class="divintro-pSV">소개</div>
    <div class="divevent-XLu">행사소식</div>
    <div class="divcommunity-d93">커뮤니티</div>
    <div class="divfaq-jSy">FAQ</div>
    <div class="divmypage-S6V">마이페이지</div>
    <div class="divopentalk-LBs">
      <img class="iconopentalk-qeR" src="/assets/iconopentalk-5i1.png"/>
      <div class="opentalk-ac1">오픈톡</div>
    </div>
    <div class="divmessage-Viy">
      <img class="iconmessage-DQ5" src="/assets/iconmessage-eTb.png"/>
      <div class="message-MWH">쪽지</div>
    </div>
  </div>
  <div class="main-RW9">
    <div class="mainheader-NgH">
      <div class="framemainheader-uRK">
        <div class="framelocation-rrM">
          <div class="home-yAH">홈</div>
          <img class="icon-HRs" src="/assets/icon-XG5.png"/>
          <div class="event-pAu">행사소식</div>
          <img class="icon-vzd" src="/assets/icon-FM3.png"/>
          <div class="eventdetail-fhK">행사상세</div>
        </div>
        <div class="frameicon-bay">
          <img class="bookmark-Z21" src="/assets/bookmark-C4y.png"/>
          <img class="sharing-5m3" src="/assets/sharing-uEh.png"/>
        </div>
      </div>
    </div>
    <div class="maintitle-pTj">
      <div class="divhit-MTf">
        <img class="iconhit-gVw" src="/assets/iconhit-5mb.png"/>
        <div class="hit-oaZ">1958730</div>
      </div>
      <div class="divposter-wwf">
        <div class="postertitle-uNh">브루노마스 내한 공연</div>
        <div class="poster-pVf">
        </div>
      </div>
    </div>
    <div class="auto-group-nltz-hpM">
      <div class="maincontent-S1F">
        <div class="divcontent-mZK">
          <div class="auto-group-9mhs-u9j">
            <div class="divdday-cpq">남은 / 지난 공연</div>
            <div class="dday-uJ9">D-64</div>
          </div>
          <div class="auto-group-gt2u-S3B">
            <div class="divdate-Z7o">공연기간</div>
            <div class="date-TU5">2023.06.17 ~2023.06.18</div>
          </div>
          <div class="auto-group-9dqs-zD7">
            <div class="divlocation-JUh">공연장소</div>
            <div class="location-ax1">서울 잠실종합운동장 올림픽주경기장</div>
          </div>
          <div class="content-J7K">
          21세기를 대표하는 싱어송라이터이자 글로벌 팝스타 &#39;브루노 마스(Bruno Mars)&#39;가 
          <br/>
          &#39;현대카드 슈퍼콘서트 27 브루노 마스(Bruno Mars)&#39;로, 오는 6월 한국을 찾는다. 
          <br/>
          이번 &#39;현대카드 슈퍼콘서트&#39;는 지난 2017년 열린 &#39; 현대카드 슈퍼콘서트 22 콜드플레이(Coldplay)&gt;에 이은 두번째 10만명 규모의 콘서트로, 내한 공연으로서는 역대 최대 규모다.
          <br/>
          
          <br/>
          브루노 마스는 데뷔 당시부터 다양한 히트곡들을 선보여 전세계적인 인기를 얻었다. 
          <br/>
          지난 2010년 내놓은 첫번째 앨범 &lt;D00-Wops &amp; Hooligans&gt;는 그를 글로벌 팝스타 반열에 올렸다. 브루노 마스가 당시 선보인 싱글 &lt;Just the Way You Are&gt; &lt;Grenade&gt; 등은 
          <br/>
          빌보드 핫 100에서 1위틀 차지하는 등 많은 사랑을 받았다. 국내에서는 &lt;Marry You&gt; &lt;Uptown Funk&gt; &lt;That&#39;s What I Like&gt; 등으로 이름을 알렸다.
          <br/>
          
          <br/>
          브루노 마스는 높은 음악적 완성도와 퍼포먼스로 지금까지 총 15회 그래미 어워드를 수상했다. 지난 2011년 &lt;Just the way You Are&gt;로 &#39;최우수 남성 팝 보컬 퍼포먼스상&#39;을 받은 이후, 2014년에는 2집 &lt;Unortho-dox Jukebox&gt;로 최우수 팝 보컬 앨범상&#39;을, 2018년에는 3집 &lt;24K Magic&gt;으로 그래미 어워드 본상 4개 부문 중 신인상을 제외한 3개 부문을 모두 휩쓸었다. 최근에는 래퍼이자 싱어송라이터인 &#39;앤더슨 팩(Anderson .Paak)과 
          <br/>
          R&amp;B 슈퍼 듀오 &#39;실크 소닉(Silk Sonic)&#39;을 결성해 폭넓은 활동을 이어가며, 지난해 실크 소닉의 첫 싱글 &lt;Leave the Door Open&gt;으로 &#39;올해의 레코드&#39; &#39;올해의 노래&#39; &#39;베스트 R&amp;B송&#39; &#39;베스트 R&amp; B 퍼포먼스&#39; 등 4개 부문을 수상했다.
          <br/>
          
          <br/>
          스물일곱번째 현대카드 슈퍼콘서트의 주인공 브루노 마스는 노래는 물론 춤, 작곡, 연주, 퍼포먼스 등 전 분야에서 뛰어난 실력을 보유해 현존하는 아티스트 중 팝의 전설 마이클 잭슨에 비견되는 최고의 아티스트로 평가 받는다.특히 팝뿐만 아니라 펑크, 소율, 레게, 힙합, 락 등 다양한 장르를 완벽하게 소화해 대중성은 물론 음악성까지 갖춘 최고의 뮤지션으로, 
          <br/>
          이번 공연을 통해 국내 팬들에게 다시금 잊지 못할 공연을 선보일 예정이다.
          </div>
        </div>
        <div class="middleline-cdo">
        </div>
        <div class="divmap-jyK">
          <div class="auto-group-zqmt-tbK">
            <div class="divlocationinfo-3UD">위치 안내</div>
            <div class="divway-v2D">길찾기</div>
          </div>
          <img class="divmap-Byj" src="/assets/divmap-nQh.png"/>
        </div>
      </div>
      <div class="mainfooter-Kq3">
        <img class="icongolist-UT3" src="/assets/icongolist-F6h.png"/>
        <div class="golist-p17">목록으로</div>
      </div>
    </div>
  </div>
</div>
</body>