
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.eventdetail-d3F {
  box-sizing: border-box;
  padding-bottom: 17.0717rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.eventdetail-d3F .main-RW9 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH {
  box-sizing: border-box;
  padding:  36px 100rem 5.35rem 37.2rem;

  width: 100%;
  height: 8rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH .framemainheader-uRK {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH .framemainheader-uRK .framelocation-rrM {
  margin: 0.427rem 110.4rem 0.427rem 0rem;
  height: calc(100% - 0.8532rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH .framemainheader-uRK .framelocation-rrM .home-yAH {
  margin-right: 1.1rem;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #666666;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH .framemainheader-uRK .framelocation-rrM .icon-HRs {
  margin-right: 1rem;
  width: 0.4726rem;
  height: 0.9452rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH .framemainheader-uRK .framelocation-rrM .event-pAu {
  margin-right: 0.9rem;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #666666;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH .framemainheader-uRK .framelocation-rrM .icon-vzd {
  margin-right: 1rem;
  width: 0.4726rem;
  height: 0.9452rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH .framemainheader-uRK .framelocation-rrM .eventdetail-fhK {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH .framemainheader-uRK .frameicon-bay {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH .framemainheader-uRK .frameicon-bay .bookmark-Z21 {
  margin-right: 1.8rem;
  width: 3rem;
  height: 2.8532rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .mainheader-NgH .framemainheader-uRK .frameicon-bay .sharing-5m3 {
  width: 2.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .maintitle-pTj {
  box-sizing: border-box;
  width: 100%;
  height: 900px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.eventdetail-d3F .main-RW9 .div_img {
  box-sizing: border-box;
  align-items: center;
  width: 1920px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  position: absolute;
}

.eventdetail-d3F .main-RW9 .div_img .maintitle-img {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.1rem #D9D9D9 solid;
  flex-shrink: 0;
  opacity: 0.5;
  width: 1920px;
  height: 900px;
  object-fit: cover;
}
.eventdetail-d3F .main-RW9 .maintitle-pTj .divhit-MTf {
  margin: 1rem 43rem 2rem 78.7rem;
  width: calc(100% - 78.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
  justify-content: flex-end;
}
.eventdetail-d3F .main-RW9 .maintitle-pTj .divhit-MTf .iconhit-gVw {
  margin: 0.5rem 1.486rem 0.085rem 0rem;
  width: 34px;
  height: 34px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .maintitle-pTj .divhit-MTf .hit-oaZ {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4475;
  color: #c0c0c0;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .maintitle-pTj .divposter-wwf {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
}
.eventdetail-d3F .main-RW9 .maintitle-pTj .divposter-wwf .postertitle-uNh {
  display: flex;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  z-index: 1;
}
.eventdetail-d3F .main-RW9 .maintitle-pTj .divposter-wwf .poster-pVf {
  width: 44rem;
  height: 63.5866rem;
  margin: 1rem 0rem 3.25rem 0rem;
  position: relative;
  background-size: 100% 217.343%;
  background-position: 0 -0rem;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM {
  box-sizing: border-box;
  padding: 0rem 29.9rem 0rem 30rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F {
  margin-top: 15rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK {
  margin-right: 3.5rem;
  margin-top: 3rem;

  box-sizing: border-box;
  padding-bottom: 5.1rem;
  width: 63.1rem;
  border-radius: 3rem;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .auto-group-9mhs-u9j {
  margin: 0rem 36.3rem 1.8rem 0.1rem;
  width: calc(100% - 36.4rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .auto-group-9mhs-u9j .divdday-cpq {
  margin-right: 5rem;
  width: 17.3rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #018bf8;
  border-radius: 3rem;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .auto-group-9mhs-u9j .dday-uJ9 {
  margin-top: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .auto-group-gt2u-S3B {
  margin: 0rem 24.5rem 1.8rem 0.1rem;
  width: calc(100% - 24.6rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .auto-group-gt2u-S3B .divdate-Z7o {
  margin-right: 5rem;
  width: 11.4rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 3rem;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .auto-group-gt2u-S3B .date-TU5 {
  margin-top: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .auto-group-9dqs-zD7 {
  margin: 0rem 23.9rem 1.8rem 0.1rem;
  width: calc(100% - 24rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .auto-group-9dqs-zD7 .divlocation-JUh {
  margin-right: 5rem;
  width: 11.4rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #fdd00f;
  border-radius: 3rem;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .auto-group-9dqs-zD7 .location-ax1 {
  margin-top: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}


/* div_addr*/

.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .div_addr {
  margin: 0rem 23.9rem 1.8rem 0.1rem;
  width: calc(100% - 24rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
}

.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .div_addr .addr_txt {
  margin-right: 5rem;
  width: 11.4rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #FE7497;
  border-radius: 3rem;
  flex-shrink: 0;
}


.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .div_addr .addr {
  margin-top: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}


/* div_link */

.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .div_link {
  margin: 0rem 23.9rem 1.8rem 0.1rem;
  width: calc(100% - 24rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
}

.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .div_link .link_txt {
  margin-right: 5rem;
  width: 11.4rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #FE4236;
  border-radius: 3rem;
  flex-shrink: 0;
}


.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .div_link .link {
  margin-top: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}



/* div_park*/

.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .div_park {
  margin: 0rem 23.9rem 1.8rem 0.1rem;
  width: calc(100% - 24rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
}

.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .div_park .park_txt {
  margin-right: 5rem;
  width: 13rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #02B4CB;
  border-radius: 3rem;
  flex-shrink: 0;
}


.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .div_park .park {
  margin-top: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}


.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divcontent-mZK .content-J7K {
  margin-top:6rem;
  max-width: 63.1rem;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .middleline-cdo {
  margin: 1rem 3.4rem 0rem 0rem;
  width: 0.2rem;
  height: 80rem;
  background-color: #c0c0c0;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divmap-jyK {
  margin-top: 2.5rem;
  width: 61.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divmap-jyK .auto-group-zqmt-tbK {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divmap-jyK .auto-group-zqmt-tbK .divlocationinfo-3UD {
  width: 31rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4475;
  letter-spacing: -0.09rem;
  color: #07b47f;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  border: solid 0.1rem #c0c0c0;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divmap-jyK .auto-group-zqmt-tbK .divway-v2D {
  width: 31rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4475;
  letter-spacing: -0.09rem;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  border: solid 0.1rem #c0c0c0;
  box-sizing: border-box;
  background-color: #ececec;
  flex-shrink: 0;
}

.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divmap-jyK .auto-group-zqmt-tbK .divway-v2D:focus {
  width: 31rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4475;
  letter-spacing: -0.09rem;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  border: solid 0.1rem #c0c0c0;
  box-sizing: border-box;
  background-color: #ececec;
  flex-shrink: 0;
  outline: none;
}

.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .maincontent-S1F .divmap-jyK .divmap-Byj {
  width: 61.9rem;
  height: 67.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .mainfooter-Kq3 {
  margin-right: 120.2rem;
  width: calc(100% - 120.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .mainfooter-Kq3 .icongolist-UT3 {
  margin-right: 1.4944rem;
  width: 4.1056rem;
  height: 3.0283rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.eventdetail-d3F .main-RW9 .auto-group-nltz-hpM .mainfooter-Kq3 .golist-p17 {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #999999;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}

#dialog{
	max-width:1000px;
	height:900px;
}

.modal-content {
	height:100%;
}

#staticBackdropLabel {
	font-size: 30px;
    font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
	font-weight: 500;

}

#modal_show {
	width: 100px;
	height: 50px;
	font-size: 24px;
    font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
	font-weight: 400;
}