
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}
.login-usF {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 15rem;
}
.login-usF .header-GC1 {
  box-sizing: border-box;
  padding: 3.1rem 32.9rem 0.7rem 32rem;
  width: 100%;
  height: 15.4rem;
  display: flex;
  align-items: center;
  background-color: #fdd00f;
  flex-shrink: 0;
}
.login-usF .header-GC1 .logo-yMK {
  margin-right: 27.4rem;
  max-width: 5.6rem;
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gmarket Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.login-usF .header-GC1 .searchbar-VaZ {
  margin: 2rem 14.9rem 4.4rem 0rem;
  width: 62rem;
  height: calc(100% - 6.4rem);
  position: relative;
  flex-shrink: 0;
}
.login-usF .header-GC1 .searchbar-VaZ .searchicon-cv5 {
  box-sizing: border-box;
  padding: 1.6rem 2.144rem 1.558rem 2.2rem;
  width: 6.5rem;
  height: 5.2rem;
  position: absolute;
  left: 55.5rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 0;
}
.login-usF .header-GC1 .searchbar-VaZ .searchicon-cv5 .iconsearch-8Nd {
  width: 2.1558rem;
  height: 2.0424rem;
  object-fit: contain;
  vertical-align: top;
}
.login-usF .header-GC1 .searchbar-VaZ .searchtext-eLy {
  box-sizing: border-box;
  padding: 0 2.4rem;
  width: 55.5rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.1666666667;
  letter-spacing: -0.1rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem 0 0 1rem;
}
.login-usF .header-GC1 .searchbar-VaZ .divsearch-h4M {
  width: 62rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1rem;
}
.login-usF .header-GC1 .login-E4H {
  margin: 0rem 4.3rem 2.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .header-GC1 .signup-8QZ {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .gnb-eNu {
  margin-bottom: 12rem;
  box-sizing: border-box;
  padding: 0.1rem 32rem 0rem 32rem;
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divintro-A6M {
  margin-right: 18.4rem;
  width: 3.6rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divevent-Fdb {
  margin-right: 13.2rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divcommunity-Z8V {
  margin-right: 15.8rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divfaq-fxD {
  margin-right: 15.8rem;
  width: 3.7rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divmypage-nG9 {
  margin-right: 13.7rem;
  width: 9.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divopentalk-Hih {
  margin: 1.6rem 4.303rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 2.4rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #f796af;
  border-radius: 100rem;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divopentalk-Hih .iconopentalk-bUV {
  margin-right: 0.5rem;
  width: 1.7971rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divopentalk-Hih .opentalk-wHT {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divmessage-3rH {
  margin: 1.6rem 0rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 1rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #46c3d3;
  border-radius: 100rem;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divmessage-3rH .iconmessage-AAD {
  margin-right: 0.5rem;
  width: 1.7rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-usF .gnb-eNu .divmessage-3rH .message-J1X {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .title-azd {
  margin-left: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #fdd00f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV {
  width: 100%;
  height: 84.7rem;
  position: relative;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .btnlogin-3tD {
  width: 41.4rem;
  height: 5rem;
  position: absolute;
  left: 75.3rem;
  top: 24rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 1rem;
  cursor: pointer;
}
.login-usF .auto-group-zjz7-WNV .btns-vSD {
  width: 29.35rem;
  height: 2rem;
  position: absolute;
  left: 79.95rem;
  top: 30.2rem;
  display: flex;
  align-items: center;
}
.login-usF .auto-group-zjz7-WNV .btns-vSD .item--EC1 {
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1.1111111111;
  letter-spacing: -0.07rem;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
}
.login-usF .auto-group-zjz7-WNV .btns-vSD .line-14-XS1 {
  margin: 0.1rem 2.05rem 0rem 0rem;
  width: 0.2rem;
  height: 1.7rem;
  background-color: #c0c0c0;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .btns-vSD .item--3v9 {
  margin-right: 2.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1.1111111111;
  letter-spacing: -0.07rem;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
}
.login-usF .auto-group-zjz7-WNV .btns-vSD .line-15-kpZ {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 0.2rem;
  height: 1.7rem;
  background-color: #c0c0c0;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .btns-vSD .item--hE1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1.1111111111;
  letter-spacing: -0.07rem;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
}
.login-usF .auto-group-zjz7-WNV .auto-group-8m69-1Vb {
  box-sizing: border-box;
  padding: 2rem 29.15rem 2.05rem 1.763rem;
  width: 41.4rem;
  height: 6.3rem;
  position: absolute;
  left: 75.3rem;
  top: 6.2rem;
  display: flex;
  align-items: center;
  border: solid 0.2rem #c0c0c0;
  border-radius: 1rem;
}
.login-usF .auto-group-zjz7-WNV .auto-group-8m69-1Vb .user-WhF {
  margin: 0.062rem 2.313rem 0rem 0rem;
  width: 2.2749rem;
  height: 2.1878rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .auto-group-8m69-1Vb .item--SL1 {
  margin-bottom: 0.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1.1;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  height: 4rem;
  
}
.item--SL1:focus {
	outline:none;
	border: none;
}
.login-usF .auto-group-zjz7-WNV .auto-group-gbqs-8Tj {
  box-sizing: border-box;
  padding: 1.888rem 29.9rem 2.05rem 1.85rem;
  width: 41.4rem;
  height: 6.3rem;
  position: absolute;
  left: 75.3rem;
  top: 13.8rem;
  display: flex;
  align-items: center;
  border: solid 0.2rem #c0c0c0;
  border-radius: 1rem;
}
.login-usF .auto-group-zjz7-WNV .auto-group-gbqs-8Tj .lock-RSq {
  margin-right: 2.65rem;
  width: 2.1rem;
  height: 2.3625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .auto-group-gbqs-8Tj .item--a4q {
  margin-top: 0.0625rem;
  display: flex;
  font-size: 2rem;
  line-height: 1.1;
  height: 4rem;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--a4q:focus{
	border: none;
	outline: none;
}
.login-usF .auto-group-zjz7-WNV .saveid-5XP {
  width: 11.5rem;
  height: 2rem;
  position: absolute;
  left: 75.3rem;
  top: 23rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.login-usF .auto-group-zjz7-WNV .saveid-5XP .btncheck-1R3 {
  margin-right: 1rem;
  width: 2rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .saveid-5XP .btncheck-1R3 .rectangle-137-m9K {
  width: 100%;
  height: 2rem;
  border: solid 0.1rem #cdcdcd;
  box-sizing: border-box;
  background-color: #ffffff;
}
.login-usF .auto-group-zjz7-WNV .saveid-5XP .item--tzd {
  display: flex;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 {
  width: 35.4rem;
  height: 14.9rem;
  position: absolute;
  left: 78.3rem;
  top: 38.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .linesns-ZL5 {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  column-gap: 0.65rem;
  align-items: center;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .linesns-ZL5 .line-17-WFK {
  margin-top: 0.3rem;
  width: 8rem;
  height: 0.1rem;
  background-color: #07b47f;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .linesns-ZL5 .sns--TAZ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1.1111111111;
  letter-spacing: -0.07rem;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .linesns-ZL5 .line-16-ZUV {
  margin-top: 0.3rem;
  width: 8rem;
  height: 0.1rem;
  background-color: #07b47f;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .auto-group-ftkm-VN9 {
  margin: 0 1rem;
  width: calc(100% - 2rem);
  height: 9.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .auto-group-ftkm-VN9 .btnlogingoogle-dDT {
  margin-right: 4.95rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .auto-group-ftkm-VN9 .btnlogingoogle-dDT .item--aeV {
  margin-bottom: 0.5rem;
  width: 7.4rem;
  height: 7.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 100rem;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .auto-group-ftkm-VN9 .btnlogingoogle-dDT .item--uRs {
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .auto-group-ftkm-VN9 .btnloginnaver-1Uu {
  margin-right: 5.05rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .auto-group-ftkm-VN9 .btnloginnaver-1Uu .naver-png-N4Z {
  margin: 0rem 0rem 0.5rem 0.1rem;
  width: 7.4rem;
  height: 7.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 100rem;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .auto-group-ftkm-VN9 .btnloginnaver-1Uu .item--4TB {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .auto-group-ftkm-VN9 .btnloginkakao-Zeq {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .auto-group-ftkm-VN9 .btnloginkakao-Zeq .item--7gM {
  margin-bottom: 0.5rem;
  width: 7.4rem;
  height: 7.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 100rem;
  flex-shrink: 0;
}
.login-usF .auto-group-zjz7-WNV .loginsns-2L9 .auto-group-ftkm-VN9 .btnloginkakao-Zeq .item--F1s {
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
