
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192.1rem;
}
.textbox{
	display: flex;
}
.datebox{
	display: flex; 
	align-items: flex-end;
}
.datetext{
	display: block;
}
.pointer{
	cursor: pointer;
}

.main-mVB {
  box-sizing: border-box;
  padding-bottom: 24.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main-mVB .auto-group-9o4m-KFo .header_top {
  box-sizing: border-box;
  padding: 2.5rem 32rem 0.7rem 32rem;
  width: 100%;
  height: 15.4rem;
  display: flex;
  align-items: center;
  background-color: #fdd00f;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .header_top .logo {
  margin-right: 27.4rem;
  font-size: 4.6rem;
  font-weight: bolder;
  line-height: 1;
  color: #ffffff;
  font-family: 'GmarketSans', 'Source Sans 3', sans-serif;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .header_top .searchbar {
  margin: 2.5rem 14.8rem 3.9rem 0rem;
  width: 62rem;
  height: calc(100% - 6.4rem);
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .header_top .searchbar .searchicon {
  box-sizing: border-box;
  padding: 1.6rem 2.144rem 1.558rem 2.2rem;
  width: 6.5rem;
  height: 5.2rem;
  position: absolute;
  left: 55.5rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 0;
}
.main-mVB .auto-group-9o4m-KFo .header_top .searchbar .searchicon .iconsearch-tj3 {
  width: 2.1558rem;
  height: 2.0424rem;
  margin-top: 0.2rem;
  object-fit: contain;
  vertical-align: top;
}
.main-mVB .auto-group-9o4m-KFo .header_top .searchbar .searchtext {
  box-sizing: border-box;
  padding: 0.2rem 2.4rem 0 2.4rem;
  width: 55.5rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.1666666667;
  letter-spacing: -0.1rem;
  color: #c0c0c0;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem 0 0 1rem;
}

.main-mVB .auto-group-9o4m-KFo .header_top .div_login {
  margin: 2rem 3.1rem 4.4rem 0rem;
  width: 6.5rem;
  height: calc(100% - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 570;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .header_top .div_signup {
  margin: 2rem 0rem 4.4rem 0rem;
  width: 8.6rem;
  height: calc(100% - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}


/*.main-mVB .auto-group-9o4m-KFo {
  box-sizing: border-box;
  padding-left: 0.1rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .header-Tcu {
  box-sizing: border-box;
  padding: 3.1rem 32.9rem 0.7rem 32rem;
  width: 100%;
  height: 15.4rem;
  display: flex;
  align-items: center;
  background-color: #fdd00f;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .header-Tcu .logo-mtV {
  margin-right: 27.4rem;
  max-width: 5.6rem;
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gmarket Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .header-Tcu .searchbar-VZb {
  margin: 2rem 14.9rem 4.4rem 0rem;
  width: 62rem;
  height: calc(100% - 6.4rem);
  position: relative;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .header-Tcu .searchbar-VZb .searchicon-pLy {
  box-sizing: border-box;
  padding: 1.6rem 2.144rem 1.558rem 2.2rem;
  width: 6.5rem;
  height: 5.2rem;
  position: absolute;
  left: 55.5rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 0;
}
.main-mVB .auto-group-9o4m-KFo .header-Tcu .searchbar-VZb .searchicon-pLy .iconsearch-vuo {
  width: 2.1558rem;
  height: 2.0424rem;
  object-fit: contain;
  vertical-align: top;
}
.main-mVB .auto-group-9o4m-KFo .header-Tcu .searchbar-VZb .searchtext-qG5 {
  box-sizing: border-box;
  padding: 0 2.4rem;
  width: 55.5rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.1666666667;
  letter-spacing: -0.1rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem 0 0 1rem;
}
.main-mVB .auto-group-9o4m-KFo .header-Tcu .searchbar-VZb .divsearch-h3P {
  width: 62rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1rem;
}
.main-mVB .auto-group-9o4m-KFo .header-Tcu .login-2LZ {
  margin: 0rem 4.3rem 2.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .header-Tcu .signup-ijB {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}*/
.main-mVB .auto-group-9o4m-KFo .gnb-EhX {
  box-sizing: border-box;
  padding: 0.1rem 32rem 0rem 32rem;
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divintro-9pV {
  margin-right: 18.4rem;
  width: 3.6rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divevent-3Q5 {
  margin-right: 13.2rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divcommunity-xG9 {
  margin-right: 15.8rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divfaq-fwF {
  margin-right: 15.8rem;
  width: 3.7rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divmypage-o1s {
  margin-right: 13.7rem;
  width: 9.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divopentalk-DLV {
  margin: 1.6rem 4.303rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 2.4rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #f796af;
  border-radius: 100rem;
  flex-shrink: 0;
  cursor: pointer;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divopentalk-DLV .iconopentalk-vEu {
  margin-right: 0.5rem;
  width: 1.7971rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divopentalk-DLV .opentalk-GJm {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divmessage-aaM {
  margin: 1.6rem 0rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 1rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #46c3d3;
  border-radius: 100rem;
  flex-shrink: 0;
  cursor: pointer;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divmessage-aaM .iconmessage-VBX {
  margin-right: 0.5rem;
  width: 1.7rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-mVB .auto-group-9o4m-KFo .gnb-EhX .divmessage-aaM .message-Rqs {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}







.main-mVB .auto-group-rgrf-WcR {
  width: 100%;
  height: 533.4rem;
  position: relative;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu {
  width: 192rem;
  height: 532.7rem;
  position: absolute;

  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX {
  width: 100%;
  height: 55.6rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .banner-slide-jEH {
  width: 100%;
  height: 56rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}


.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX {
  width: 192rem;
  height: 56rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .banner-slide-jEH .group-11-WPT {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #99bee5;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .banner-slide-jEH .group-11-WPT .imagebanner-U5P {
  width: 128rem;
  height: 56rem;
  position: absolute;
  left: 32rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/imagebanner.png');
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .banner-slide-jEH  .rectangle-117-H2q {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f8ebbf;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .banner-slide-jEH  .rectangle-117-H2q .imagebanner-dMb {
  width: 128rem;
  height: 56rem;
  position: absolute;
  left: 32rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/imagebanner-jiq.png');
  /*object-fit: cover;
  vertical-align: top;*/
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .banner-slide-jEH .bannersample03-Uhf {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f3ebe0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .banner-slide-jEH .bannersample03-Uhf .imagebanner-Rso {
  width: 128rem;
  height: 56rem;
  position: absolute;
  left: 32rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/imagebanner-bBF.png');
  /*
  object-fit: cover;
  vertical-align: top;
  */
}


/*
.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .banner-slide-jEH .group-11-WPT .banner-slide-aPK {
  width: 192rem;
  height: 56rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .banner-slide-jEH  {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
*/

.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .btnslide-mih {
  box-sizing: border-box;
  padding: 0.1rem 2rem;
  width: 16rem;
  height: 5rem;
  position: absolute;
  left: 144rem;
  top: 45.1rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4200000095);
  border-radius: 100rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX  .btnslide-mih .btnprevious-smj {
  width: 1.2rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX .btnslide-mih .nn-nn-pS5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.1818181818;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .banner-NuX  .btnslide-mih .btnnext-wFo {
  width: 1.2rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 {
  box-sizing: border-box;
  padding: 4.65rem 29.377rem 12.4rem 29.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 56rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu {
  margin: 0rem 7.123rem 7.3rem 7.1rem;
  width: calc(100% - 14.2227rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .auto-group-qtm3-qEh {
  box-sizing: border-box;
  padding: 0rem 48.942rem 7.7rem 48.958rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .auto-group-qtm3-qEh .servicetitle-Y97 {
  margin: 0rem 0rem 0.95rem 0.063rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.16rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .auto-group-qtm3-qEh .servicesubtitle-Qh7 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 {
  width: 100%;
  height: 22.3rem;
  display: flex;
  column-gap: 11rem;
  align-items: center;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .siteintro-Ccy {
  width: 15rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .siteintro-Ccy .icon01-jN1 {
  margin-bottom: 2.1rem;
  width: 100%;
  border: solid 0.5rem #efefef;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 7.5rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .siteintro-Ccy .icon01-jN1 .item--sj7 {
  width: 15rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .siteintro-Ccy .item--ZM3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.3636363636;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .event-FzZ {
  width: 15rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .event-FzZ .icon02-c4R {
  margin-bottom: 2.1rem;
  width: 100%;
  border: solid 0.5rem #efefef;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 7.5rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .event-FzZ .icon02-c4R .item--wcV {
  width: 15rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .event-FzZ .item--FNH {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.3636363636;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .eventreview-xnV {
  width: 15rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .eventreview-xnV .icon03-7QV {
  margin-bottom: 2.1rem;
  width: 100%;
  border: solid 0.5rem #efefef;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 7.5rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .eventreview-xnV .icon03-7QV .item--4ad {
  width: 15rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .eventreview-xnV .item--Adf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.3636363636;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .faq-GRo {
  width: 15rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .faq-GRo .icon04-2A5 {
  margin-bottom: 2.1rem;
  width: 100%;
  border: solid 0.5rem #efefef;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 7.5rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .faq-GRo .icon04-2A5 .faq-PFX {
  width: 15rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .faq-GRo .faq-ujf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.3636363636;
  color: #222222;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .freeboard-3ay {
  width: 15rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .freeboard-3ay .icon05-Peq {
  margin-bottom: 2.1rem;
  width: 100%;
  border: solid 0.5rem #efefef;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 7.5rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .freeboard-3ay .icon05-Peq .open-talk-9tu {
  width: 15rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .service-XUu .servicelist-649 .freeboard-3ay .item--5Xf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.3636363636;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-9job-9Gd {
  box-sizing: border-box;
  padding: 0rem 48.623rem 7rem 48.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-9job-9Gd .newstitle-siR {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.16rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-9job-9Gd .dropdownarea-oMB {
  width: 100%;
  height: 3.6rem;
  cursor: pointer;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-9job-9Gd .dropdownarea-oMB .component-20-MtV {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-9job-9Gd .dropdownarea-oMB .component-20-MtV .auto-group-rq2q-7cm {
  margin: 0 2rem;
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-9job-9Gd .dropdownarea-oMB .component-20-MtV .auto-group-rq2q-7cm .selectarea-GEm {
  margin-right: 18.6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.25;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-9job-9Gd .dropdownarea-oMB .component-20-MtV .auto-group-rq2q-7cm .vector-1-PaH {
  width: 1.2rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.05rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-9job-9Gd .dropdownarea-oMB .component-20-MtV .line-3-isT {
  width: 100%;
  height: 0.1rem;
  background-color: #07b47f;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo {
  width: 100%;
  height: 40rem;
  position: relative;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .btnslide2-RWy {
  width: 133.2227rem;
  height: 4.9453rem;
  position: absolute;
  left: 0;
  top: 15.1rem;
  display: flex;
  align-items: center;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .btnslide2-RWy .newsbtnprevious-m53 {
  margin: 0rem 128.377rem 0.1rem 0rem;
  width: 2.4226rem;
  height: 4.8453rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .btnslide2-RWy .newsbtnnext-gSu {
  margin-top: 0.1rem;
  width: 2.4227rem;
  height: 4.8453rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth {
  width: 119.9rem;
  height: 40rem;
  position: absolute;
  left: 9.5rem;
  top: 0;
  display: flex;
  align-items: center;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-kSm {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 1rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-kSm .imgposter-VfF {
  margin-bottom: 2.7rem;
  width: 22.3rem;
  height: 31.4rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0443rem;
  background-image: url('../assets/imgposter-d45.png');
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-kSm .frame-6-aaD {
  width: 6.3rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-kSm .frame-6-aaD .frame-3-jT7 {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 2.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-kSm .frame-6-aaD .eventname-2BK {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-m8u {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 1rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-m8u .imgposter-j5j {
  margin-bottom: 2.7rem;
  width: 22.3rem;
  height: 31.4rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0443rem;
  background-image: url('../assets/imgposter.png');
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-m8u .frame-6-p7B {
  width: 6.3rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-m8u .frame-6-p7B .frame-3-mYD {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 2.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-m8u .frame-6-p7B .eventname-rZf {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-Brq {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 1rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-Brq .imgposter-9of {
  margin-bottom: 2.7rem;
  width: 22.3rem;
  height: 31.4rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0443rem;
  background-image: url('../assets/imgposter-fN1.png');
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-Brq .frame-6-rCH {
  width: 6.3rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-Brq .frame-6-rCH .frame-3-bvZ {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 2.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-Brq .frame-6-rCH .eventname-hih {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-dsF {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 1rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-dsF .imgposter-zxh {
  margin-bottom: 2.7rem;
  width: 22.3rem;
  height: 31.4rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0443rem;
  background-image: url('../assets/imgposter-rjb.png');
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-dsF .frame-6-uZs {
  width: 6.3rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-dsF .frame-6-uZs .frame-3-GQR {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 2.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-dsF .frame-6-uZs .eventname-ZeR {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-6eM {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 1rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-6eM .imgposter-4bB {
  margin-bottom: 2.7rem;
  width: 22.3rem;
  height: 31.4rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0443rem;
  background-image: url('../assets/imgposter-GRX.png');
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-6eM .frame-6-xwT {
  width: 6.3rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-6eM .frame-6-xwT .frame-3-vdP {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 2.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .auto-group-ejdf-2Y9 .news-z8q .auto-group-zqav-fXo .poster-Qth .poster-6eM .frame-6-xwT .eventname-C57 {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .calendar-iJM {
  box-sizing: border-box;
  padding: 5rem 32rem 9rem 32rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .calendar-iJM .divtoggle-2pq {
  margin: 0rem 50.2rem 6rem 48.8rem;
  width: calc(100% - 99rem);
  height: 7.2rem;
  cursor: pointer;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .calendar-iJM .divtoggle-2pq .toggle-9eZ {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #888888;
  border-radius: 100rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .calendar-iJM .divtoggle-2pq .toggle-9eZ .toggle02-JnM {
  width: 14.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.5;
  letter-spacing: -0.08rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0.4rem 0 0.9rem rgba(0, 0, 0, 0.150000006);
  background-color: #018bf8;
  border-radius: 100rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .calendar-iJM .divtoggle-2pq .toggle-9eZ .toggle01-keM {
  width: 14.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.5;
  letter-spacing: -0.08rem;
  color: #d2d2d2;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 100rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .calendar-iJM .positioncalendar-di9 {
  width: 100%;
  height: 160rem;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f {
  margin-bottom: 5rem;
  box-sizing: border-box;
  padding: 5rem 32rem 5.1rem 31.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #07b47f;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .opentalktitle-gRX {
  margin: 0rem 0rem 5.6rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.16rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .divchat-BNH {
  margin: 0rem 0.1rem 4.4rem 0rem;
  width: 128rem;
  height: 70rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
  border-radius: 2rem;
  overflow: auto;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .divchat-BNH .inputchat-i7K {
  box-sizing: border-box;
  padding: 2rem 2.4rem 2.6rem 2.4rem;
  width: 100%;
 /* height: 13.987rem;*/
  background-color: #ffffff;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .divchat-BNH .inputchat-i7K .chat-SJD {
  width: 111.2rem;
/**  height: 100%;**/
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.3rem;
  margin-top: 1.4rem;
  height: auto;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .divchat-BNH .inputchat-i7K .chat-SJD .profile-C2V {
  margin-right: 2rem;
  width: 4.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .divchat-BNH .inputchat-i7K .chat-SJD .profile-C2V .ellipse-8-Y6M {
  width: 4.5rem;
  height: 4.3872rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .divchat-BNH .inputchat-i7K .chat-SJD .profile-C2V .profile-seR {
  width: 4.5rem;
  height: 4.3872rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .divchat-BNH .inputchat-i7K .chat-SJD .profile-C2V .name-DCV {
  width: 3.4rem;
  height: 4.5rem;
  position: absolute;
  left: 0.6rem;
  top: 2.887rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 3.2142857143;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .divchat-BNH .inputchat-i7K .chat-SJD .textcontent-ub7 {
  margin-top: 0.25rem;
  display: flex;
  font-size: 2.2rem;
  line-height: 1.8181818182;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  padding-right: 2rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .inputtext-Dbo {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 0 1.3rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
  width: 100%;
}
textarea {
  height: 6rem;
  width: 100%;
  box-sizing: border-box;
  border: hidden;
  font-size: 2.4rem;
  font-weight: 400;
  resize: none; /* 사용자가 크기 조절하지 못하도록 설정 */
  overflow-y: auto; /* 초기에는 스크롤을 숨기도록 설정 */
  
}
.insertBtn {
  width: 7.3rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
  color:darkgray;
  border: hidden;
  border-radius: 1rem;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .inputtext-Dbo .profile-kbj {
  margin: 0.1rem 2.05rem 0rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .inputtext-Dbo .text-swF {
  margin-right: 1.75rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: -0.1rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  width: 87%;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .opentalk-m3f .inputtext-Dbo .heart-2-1Gm {
  margin-top: 0.2rem;
  width: 4.3rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb {
  margin: 0rem 32rem 0rem 31.4rem;
  box-sizing: border-box;
  padding-bottom: 44rem;
  width: calc(100% - 63.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-qosq-eKj {
  box-sizing: border-box;
  padding: 0rem 6.6rem 2.3rem 4.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-qosq-eKj .boardtitle-NWd {
  margin: 0rem 0rem 4.8rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.16rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-qosq-eKj .boardth-gGR {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-qosq-eKj .boardth-gGR .boardtitle-Rzh {
  margin-right: 110.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-qosq-eKj .boardth-gGR .boardregdate-xUq {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.03rem;
  color: #191919;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-pu6z-srh {
  width: 100%;
  height: 4.6rem;
  border-top: solid 0.1rem #dfdfdf;
  box-sizing: border-box;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-pu6z-srh .boardtable-ESM {
  margin-right: 6.6rem;
  box-sizing: border-box;
  padding: 1rem;
  width: 122rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-pu6z-srh .boardtable-ESM .boardlist-yeq {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-pu6z-srh .boardtable-ESM .boardlist-yeq .list-LkH {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-pu6z-srh .boardtable-ESM .boardlist-yeq .list-LkH .title-6zM {
  margin-right: 107.5rem;
  display: flex;
  font-size: 1.6rem;
  line-height: 1.625;
  letter-spacing: -0.07rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .main-Fpu .board-7qb .auto-group-pu6z-srh .boardtable-ESM .boardlist-yeq .list-LkH .regdate-S2d {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.03rem;
  color: #666666;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy {
  box-sizing: border-box;
  padding: 0rem 68rem 0rem 33.6rem;
  width: 192rem;
  height: 30.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.8999999762);
  z-index: 1;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-DSh {
  margin-right: 14.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-DSh .pageinfo-mDK {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-DSh .teaminfo-VQD {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-czd {
  margin-right: 16.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-czd .festival-mMj {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-czd .domestic-6Q1 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-czd .overseas-SCy {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-czd .musical-Aem {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-czd .localfestival-uMT {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-qW1 {
  margin-right: 13.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-qW1 .freelist-PGd {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-qW1 .reviewlist-KRB {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-qW1 .togetherlist-T1b {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .faq-BTP {
  margin-right: 18.7rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-7M3 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-7M3 .wishlist-GUq {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-7M3 .message-1SR {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-mVB .auto-group-rgrf-WcR .gnbdrop-down-XJy .property-1default-7M3 .memberinfo-Yx9 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
