
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}
 .btndoublenext-ZW1 {
  margin-bottom: 0rem;
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.btndoubleprevious-gWm {
  margin: 0rem 1.5rem 0rem 0rem;
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
 .btnprevious-pN5 {
  margin: 0rem 2.5rem 0rem 0rem;
  width: 14px;
  height: 14px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
 .btnnext-2W5 {
  margin: 0rem 1.5rem 0rem 0rem;
  width: 14px;
  height: 14px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pages {
	color: #999999; 
} 
 
.selected {
	font-weight: bold;
	color: #000000;
}

.selected_anchor {
	font-weight: bold;
	color: #000000;
}
.div_page {
  text-align: left;
  justify-content: center;
  display: flex;
  margin-bottom: 0.4rem;
}
.div_page .page1 {
  margin-right: 2rem;
  margin-bottom: 0.7rem;
  width: 14px;
  height: 14px;
  font-size: 18px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.eventlist-im7 {
  box-sizing: border-box;
  padding: 0rem 2rem 0rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.row1-dt5 {
  margin-bottom: 5rem;
  width: 100%;
  /*height: 44.2rem;*/
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-shrink: 0;
}
.row1-dt5 .divposter-At1 {
  width: 28rem;
  height: 500px;
  flex-shrink: 0;
}
.row1-dt5 .divposter-At1 .posterimage-8K3 {
  margin-bottom: 1rem;
  width: 100%;
  height: 37.3rem;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.row1-dt5 .divposter-At1 .eventtitle-Gw3 {
  width: 6.7rem;
}
.row1-dt5 .divposter-At1 .eventtitle-Gw3 .diveventcategory-dWh {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 2.9rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 1.6rem;
}
.row1-dt5 .divposter-At1 .eventtitle-Gw3 .eventname-i2M {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  width: 28rem;
  height: 6rem;
  white-space:normal;
  word-break:break-word;
}
.row1-dt5 .divposter-RhT {
  width: 28rem;
  height: 100%;
  flex-shrink: 0;
}


.mypagelike-exZ {
  box-sizing: border-box;
  padding-bottom: 13.0004rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.mypagelike-exZ .header-yzq {
  box-sizing: border-box;
  padding: 3.1rem 32.9rem 0.7rem 32rem;
  width: 100%;
  height: 15.4rem;
  display: flex;
  align-items: center;
  background-color: #fdd00f;
  flex-shrink: 0;
}
.mypagelike-exZ .header-yzq .logo-JGR {
  margin-right: 27.4rem;
  max-width: 5.6rem;
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gmarket Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mypagelike-exZ .header-yzq .searchbar-DPP {
  margin: 2rem 14.9rem 4.4rem 0rem;
  width: 62rem;
  height: calc(100% - 6.4rem);
  position: relative;
  flex-shrink: 0;
}
.mypagelike-exZ .header-yzq .searchbar-DPP .searchicon-7zZ {
  box-sizing: border-box;
  padding: 1.6rem 2.144rem 1.558rem 2.2rem;
  width: 6.5rem;
  height: 5.2rem;
  position: absolute;
  left: 55.5rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 0;
}
.mypagelike-exZ .header-yzq .searchbar-DPP .searchicon-7zZ .iconsearch-dCD {
  width: 2.1559rem;
  height: 2.0424rem;
  object-fit: contain;
  vertical-align: top;
}
.mypagelike-exZ .header-yzq .searchbar-DPP .searchtext-wih {
  box-sizing: border-box;
  padding: 0 2.4rem;
  width: 55.5rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.1666666667;
  letter-spacing: -0.1rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem 0 0 1rem;
}
.mypagelike-exZ .header-yzq .searchbar-DPP .divsearch-C8q {
  width: 62rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1rem;
}
.mypagelike-exZ .header-yzq .login-jPf {
  margin: 0rem 4.3rem 2.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .header-yzq .signup-ciM {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD {
  box-sizing: border-box;
  padding: 0.1rem 32rem 0rem 32rem;
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divintro-CRf {
  margin-right: 18.4rem;
  width: 3.6rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divevent-4yf {
  margin-right: 13.2rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divcommunity-xJM {
  margin-right: 15.8rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divfaq-SjK {
  margin-right: 15.8rem;
  width: 3.7rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divmypage-AfK {
  margin-right: 13.7rem;
  width: 9.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divopentalk-y6y {
  margin: 1.6rem 4.303rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 2.4rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #f796af;
  border-radius: 100rem;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divopentalk-y6y .iconopentalk-TH3 {
  margin-right: 0.5rem;
  width: 1.7972rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divopentalk-y6y .opentalk-aMf {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divmessage-TgM {
  margin: 1.6rem 0rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 1rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #46c3d3;
  border-radius: 100rem;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divmessage-TgM .iconmessage-N2d {
  margin-right: 0.5rem;
  width: 1.7rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .gnb-7QD .divmessage-TgM .message-gp1 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq {
  box-sizing: border-box;
  padding: 2.6rem 33.2rem 0rem 30rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .headerframe-Q7j {
  margin: 0rem 114.855rem 0.4rem 0rem;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .headerframe-Q7j .home-jQu {
  margin-left: 18rem;
  margin-right: 0.8rem;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #666666;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -webkit-user-select: none;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .headerframe-Q7j .icon-Fu3 {
  margin: 0rem 0.6rem 0rem 0rem;
  width: 0.4727rem;
  height: 0.9452rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .headerframe-Q7j .auto-group-nbuu-C3b {
  margin-right: 0.6rem;
  width: 7.2727rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .headerframe-Q7j .auto-group-nbuu-C3b .mypage-Wa5 {
  width: 6.9rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #666666;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .headerframe-Q7j .auto-group-nbuu-C3b .icon-EFB {
  width: 0.4727rem;
  height: 0.9452rem;
  position: absolute;
  left: 6.8rem;
  top: 0.5274rem;
  object-fit: contain;
  vertical-align: top;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .headerframe-Q7j .message-xws {
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .title{
  margin: 0rem 0rem 7rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.16rem;
  color: #222222;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
  width: 100%;
}

.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .filter-6oB {
  margin-left: 109.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .filter-6oB .registration-C5X {
  margin-right: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #a5a5a5;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .filter-6oB .middleline-vGR {
  margin-right: 0.7rem;
  width: 0.2rem;
  height: 1.8rem;
  background-color: #a5a5a5;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .filter-6oB .message-Enu {
  margin-right: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #a5a5a5;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .filter-6oB .middleline-a65 {
  margin-right: 0.7rem;
  width: 0.2rem;
  height: 1.8rem;
  background-color: #a5a5a5;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .auto-group-97pd-fvq .filter-6oB .like-XGD {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H {
  margin: 0rem 32rem 0rem 31.9rem;
  width: calc(100% - 63.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 {
  box-sizing: border-box;
  padding-bottom: 3.3617rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq {
  margin-bottom: 12.3617rem;
  width: 128.2324rem;
  height: 42.5383rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-T3P {
  margin-right: 2.3rem;
  width: 23.8064rem;
  height: 100%;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-T3P .poster-z3K {
  margin-bottom: 2.901rem;
  width: 23.8064rem;
  height: 33.7373rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0476rem;
  background-image: url('../assets/poster-Md3.png');
  border-radius: 1.2rem;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-T3P .diveventcontent-gRw {
  margin-right: 1.9064rem;
  width: calc(100% - 1.9064rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-end;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-T3P .diveventcontent-gRw .auto-group-95w7-d6H {
  margin-right: 10.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-T3P .diveventcontent-gRw .auto-group-95w7-d6H .frameeventstate-M2H {
  margin: 0rem 1.6rem 0.4rem 0rem;
  width: 6.3rem;
  height: 2.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-T3P .diveventcontent-gRw .auto-group-95w7-d6H .eventname-n7b {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-T3P .diveventcontent-gRw .heart-UWD {
  margin-bottom: 0.5383rem;
  width: 3.7rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-mkD {
  margin-right: 2.3001rem;
  width: 23.8064rem;
  height: 100%;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-mkD .poster-8Ks {
  margin-bottom: 2.901rem;
  width: 23.8064rem;
  height: 33.7373rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0476rem;
  background-image: url('../assets/poster-SVw.png');
  border-radius: 1.2rem;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-mkD .diveventcontent-3Bw {
  margin-right: 1.9064rem;
  width: calc(100% - 1.9064rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-end;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-mkD .diveventcontent-3Bw .auto-group-ix2r-nQR {
  margin-right: 10.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-mkD .diveventcontent-3Bw .auto-group-ix2r-nQR .frameeventstate-vWd {
  margin: 0rem 1.6rem 0.4rem 0rem;
  width: 6.3rem;
  height: 2.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-mkD .diveventcontent-3Bw .auto-group-ix2r-nQR .eventname-N7j {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-mkD .diveventcontent-3Bw .heart-tLy {
  margin-bottom: 0.5383rem;
  width: 3.7rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-pkR {
  margin-right: 2.3rem;
  width: 23.8065rem;
  height: 100%;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-pkR .poster-MkM {
  margin-bottom: 2.901rem;
  width: 23.8065rem;
  height: 33.7373rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0476rem;
  background-image: url('../assets/poster-K6h.png');
  border-radius: 1.2rem;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-pkR .diveventcontent-xEM {
  margin-right: 1.9065rem;
  width: calc(100% - 1.9065rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-end;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-pkR .diveventcontent-xEM .auto-group-hx7j-hBw {
  margin-right: 10.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-pkR .diveventcontent-xEM .auto-group-hx7j-hBw .frameeventstate-FUM {
  margin: 0rem 1.6rem 0.4rem 0rem;
  width: 6.3rem;
  height: 2.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-pkR .diveventcontent-xEM .auto-group-hx7j-hBw .eventname-fny {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-pkR .diveventcontent-xEM .heart-1bw {
  margin-bottom: 0.5383rem;
  width: 3.7rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-xGH {
  margin-right: 2.3rem;
  width: 23.8064rem;
  height: 100%;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-xGH .poster-WYh {
  margin-bottom: 2.901rem;
  width: 23.8064rem;
  height: 33.7373rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0476rem;
  background-image: url('../assets/poster-Lc9.png');
  border-radius: 1.2rem;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-xGH .diveventcontent-ppH {
  margin-right: 1.9064rem;
  width: calc(100% - 1.9064rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-end;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-xGH .diveventcontent-ppH .auto-group-jz4r-mjX {
  margin-right: 10.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-xGH .diveventcontent-ppH .auto-group-jz4r-mjX .frameeventstate-i8y {
  margin: 0rem 1.6rem 0.4rem 0rem;
  width: 6.3rem;
  height: 2.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-xGH .diveventcontent-ppH .auto-group-jz4r-mjX .eventname-QGh {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-xGH .diveventcontent-ppH .heart-hWh {
  margin-bottom: 0.5383rem;
  width: 3.7rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-qso {
  width: 23.8064rem;
  height: 100%;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-qso .poster-QR7 {
  margin-bottom: 2.901rem;
  width: 23.8064rem;
  height: 33.7373rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0476rem;
  background-image: url('../assets/poster-HoF.png');
  border-radius: 1.2rem;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-qso .diveventcontent-KHB {
  margin-right: 1.9064rem;
  width: calc(100% - 1.9064rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-end;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-qso .diveventcontent-KHB .auto-group-9c5o-zu7 {
  margin-right: 10.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-qso .diveventcontent-KHB .auto-group-9c5o-zu7 .frameeventstate-A2u {
  margin: 0rem 1.6rem 0.4rem 0rem;
  width: 6.3rem;
  height: 2.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-qso .diveventcontent-KHB .auto-group-9c5o-zu7 .eventname-Ka1 {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow1-Wtq .poster01-qso .diveventcontent-KHB .heart-S8q {
  margin-bottom: 0.5383rem;
  width: 3.7rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 {
  width: 128.2324rem;
  height: 42.5383rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7Vs {
  margin-right: 2.3rem;
  width: 23.8064rem;
  height: 100%;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7Vs .poster-Fc5 {
  margin-bottom: 2.901rem;
  width: 23.8064rem;
  height: 33.7373rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0476rem;
  background-image: url('../assets/poster-fe9.png');
  border-radius: 1.2rem;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7Vs .diveventcontent-k33 {
  margin-right: 1.9064rem;
  width: calc(100% - 1.9064rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-end;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7Vs .diveventcontent-k33 .auto-group-ygeu-gxH {
  margin-right: 10.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7Vs .diveventcontent-k33 .auto-group-ygeu-gxH .frameeventstate-SwT {
  margin: 0rem 1.6rem 0.4rem 0rem;
  width: 6.3rem;
  height: 2.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7Vs .diveventcontent-k33 .auto-group-ygeu-gxH .eventname-jff {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7Vs .diveventcontent-k33 .heart-V93 {
  margin-bottom: 0.5383rem;
  width: 3.7rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-z5o {
  margin-right: 2.3001rem;
  width: 23.8064rem;
  height: 100%;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-z5o .poster-9Db {
  margin-bottom: 2.901rem;
  width: 23.8064rem;
  height: 33.7373rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0476rem;
  background-image: url('../assets/poster-LJd.png');
  border-radius: 1.2rem;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-z5o .diveventcontent-rdo {
  margin-right: 1.9064rem;
  width: calc(100% - 1.9064rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-end;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-z5o .diveventcontent-rdo .auto-group-btrp-zzu {
  margin-right: 10.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-z5o .diveventcontent-rdo .auto-group-btrp-zzu .frameeventstate-w9T {
  margin: 0rem 1.6rem 0.4rem 0rem;
  width: 6.3rem;
  height: 2.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-z5o .diveventcontent-rdo .auto-group-btrp-zzu .eventname-bUu {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-z5o .diveventcontent-rdo .heart-Kfo {
  margin-bottom: 0.5383rem;
  width: 3.7rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-psT {
  margin-right: 2.3rem;
  width: 23.8065rem;
  height: 100%;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-psT .poster-P9s {
  margin-bottom: 2.901rem;
  width: 23.8065rem;
  height: 33.7373rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0476rem;
  background-image: url('../assets/poster-SQ9.png');
  border-radius: 1.2rem;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-psT .diveventcontent-hRT {
  margin-right: 1.9065rem;
  width: calc(100% - 1.9065rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-end;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-psT .diveventcontent-hRT .auto-group-ykfo-2yX {
  margin-right: 10.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-psT .diveventcontent-hRT .auto-group-ykfo-2yX .frameeventstate-nxh {
  margin: 0rem 1.6rem 0.4rem 0rem;
  width: 6.3rem;
  height: 2.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-psT .diveventcontent-hRT .auto-group-ykfo-2yX .eventname-qvy {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-psT .diveventcontent-hRT .heart-Zry {
  margin-bottom: 0.5383rem;
  width: 3.7rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7db {
  margin-right: 2.3rem;
  width: 23.8064rem;
  height: 100%;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7db .poster-54d {
  margin-bottom: 2.901rem;
  width: 23.8064rem;
  height: 33.7373rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0476rem;
  background-image: url('../assets/poster-XdT.png');
  border-radius: 1.2rem;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7db .diveventcontent-xu7 {
  margin-right: 1.9064rem;
  width: calc(100% - 1.9064rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-end;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7db .diveventcontent-xu7 .auto-group-nlro-7GD {
  margin-right: 10.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7db .diveventcontent-xu7 .auto-group-nlro-7GD .frameeventstate-o93 {
  margin: 0rem 1.6rem 0.4rem 0rem;
  width: 6.3rem;
  height: 2.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7db .diveventcontent-xu7 .auto-group-nlro-7GD .eventname-gTj {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-7db .diveventcontent-xu7 .heart-q5j {
  margin-bottom: 0.5383rem;
  width: 3.7rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-9s7 {
  width: 23.8064rem;
  height: 100%;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-9s7 .poster-iQR {
  margin-bottom: 2.901rem;
  width: 23.8064rem;
  height: 33.7373rem;
  position: relative;
  background-size: 100% 100.282%;
  background-position: 0 -0.0476rem;
  background-image: url('../assets/poster-hA9.png');
  border-radius: 1.2rem;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-9s7 .diveventcontent-Rpd {
  margin-right: 1.9064rem;
  width: calc(100% - 1.9064rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-end;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-9s7 .diveventcontent-Rpd .auto-group-48st-MCV {
  margin-right: 10.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-9s7 .diveventcontent-Rpd .auto-group-48st-MCV .frameeventstate-JdX {
  margin: 0rem 1.6rem 0.4rem 0rem;
  width: 6.3rem;
  height: 2.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07b47f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-9s7 .diveventcontent-Rpd .auto-group-48st-MCV .eventname-NNV {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Noto Sans CJK KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .posterlist-Aa5 .posterrow2-aF3 .poster01-9s7 .diveventcontent-Rpd .heart-tbj {
  margin-bottom: 0.5383rem;
  width: 3.7rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 {
  box-sizing: border-box;
  padding: 2.676rem 0rem 0rem 0.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .bottomline-MkD {
  margin-bottom: 6.924rem;
  width: 100%;
  height: 0.1rem;
  background-color: #dfdfdf;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1000000015);
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u {
  margin: 0rem 48.778rem 0rem 48.6rem;
  width: calc(100% - 97.3784rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .btndoubleprevious-9g5 {
  margin-right: 0.8313rem;
  width: 0.8rem;
  height: 0.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .btnprevious-UCZ {
  margin-right: 2.5rem;
  width: 0.4rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .item-1-1iH {
  margin-right: 2.0001rem;
  width: 0.5516rem;
  height: 1.0248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .item-2-8nu {
  margin: 0rem 2rem 0rem 0rem;
  width: 0.6412rem;
  height: 1.043rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .item-3-rU1 {
  margin-right: 2rem;
  width: 0.6468rem;
  height: 1.0626rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .item-4-QVX {
  margin-right: 2rem;
  width: 0.6972rem;
  height: 1.0248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .item-5-MvZ {
  margin: 0rem 2rem 0rem 0rem;
  width: 0.6552rem;
  height: 1.0444rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .item-6-Tih {
  margin-right: 2rem;
  width: 0.6286rem;
  height: 1.0626rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .item-7-1kD {
  margin-right: 2rem;
  width: 0.6342rem;
  height: 1.0248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .item-8-9Ld {
  margin-right: 2rem;
  width: 0.6412rem;
  height: 1.0584rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .item-9-f45 {
  margin-right: 2.5rem;
  width: 0.6286rem;
  height: 1.0626rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .btnnext-1Nq {
  margin-right: 0.6656rem;
  width: 0.4rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagelike-exZ .main-iEu .divmain-S8H .auto-group-qxmp-2T3 .paging-F4u .btndoublenext-KuK {
  width: 0.8rem;
  height: 0.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
