
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.mypagemessagesend-nho {
  box-sizing: border-box;
  padding-bottom: 13.0004rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.mypagemessagesend-nho .header-Wdo {
  box-sizing: border-box;
  padding: 3.1rem 32.9rem 0.7rem 32rem;
  width: 100%;
  height: 15.4rem;
  display: flex;
  align-items: center;
  background-color: #fdd00f;
  flex-shrink: 0;
}
.mypagemessagesend-nho .header-Wdo .logo-z3B {
  margin-right: 27.4rem;
  max-width: 5.6rem;
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gmarket Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mypagemessagesend-nho .header-Wdo .searchbar-hiH {
  margin: 2rem 14.9rem 4.4rem 0rem;
  width: 62rem;
  height: calc(100% - 6.4rem);
  position: relative;
  flex-shrink: 0;
}
.mypagemessagesend-nho .header-Wdo .searchbar-hiH .searchicon-p2D {
  box-sizing: border-box;
  padding: 1.6rem 2.144rem 1.558rem 2.2rem;
  width: 6.5rem;
  height: 5.2rem;
  position: absolute;
  left: 55.5rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 0;
}
.mypagemessagesend-nho .header-Wdo .searchbar-hiH .searchicon-p2D .iconsearch-w6q {
  width: 2.1559rem;
  height: 2.0424rem;
  object-fit: contain;
  vertical-align: top;
}
.mypagemessagesend-nho .header-Wdo .searchbar-hiH .searchtext-FdK {
  box-sizing: border-box;
  padding: 0 2.4rem;
  width: 55.5rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.1666666667;
  letter-spacing: -0.1rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem 0 0 1rem;
}
.mypagemessagesend-nho .header-Wdo .searchbar-hiH .divsearch-6P3 {
  width: 62rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1rem;
}
.mypagemessagesend-nho .header-Wdo .login-zzD {
  margin: 0rem 4.3rem 2.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .header-Wdo .signup-7J9 {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm {
  box-sizing: border-box;
  padding: 0.1rem 32rem 0rem 32rem;
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divintro-VpV {
  margin-right: 18.4rem;
  width: 3.6rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divevent-oaH {
  margin-right: 13.2rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divcommunity-K2q {
  margin-right: 15.8rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divfaq-dJR {
  margin-right: 15.8rem;
  width: 3.7rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divmypage-JvM {
  margin-right: 13.7rem;
  width: 9.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divopentalk-cAM {
  margin: 1.6rem 4.303rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 2.4rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #f796af;
  border-radius: 100rem;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divopentalk-cAM .iconopentalk-hhb {
  margin-right: 0.5rem;
  width: 1.7972rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divopentalk-cAM .opentalk-ecq {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divmessage-Noj {
  margin: 1.6rem 0rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 1rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #46c3d3;
  border-radius: 100rem;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divmessage-Noj .iconmessage-JSV {
  margin-right: 0.5rem;
  width: 1.7rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .gnb-Nzm .divmessage-Noj .message-RGD {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms {
  box-sizing: border-box;
  padding: 2.6rem 32rem 0rem 30rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .headerframe-SSD {
  margin: 0rem 114.855rem 0.4rem 0rem;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .headerframe-SSD .home-mjP {
  margin-left: 16rem;
  margin-right: 0.8rem;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #666666;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .headerframe-SSD .icon-gbT {
  margin-right: 0.6rem;
  width: 0.4727rem;
  height: 0.9452rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .headerframe-SSD .auto-group-y3hj-zs3 {
  margin-right: 0.6rem;
  width: 7.2727rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .headerframe-SSD .auto-group-y3hj-zs3 .mypage-k5X {
  width: 6.9rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #666666;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.mypagemessagesend-nho .main-Vms .headerframe-SSD .auto-group-y3hj-zs3 .icon-4c1 {
  width: 0.4727rem;
  height: 0.9452rem;
  position: absolute;
  left: 6.8rem;
  top: 0.5274rem;
  object-fit: contain;
  vertical-align: top;
}
.mypagemessagesend-nho .main-Vms .headerframe-SSD .message-brq {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 {
  margin-left: 2rem;
  width: 128rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd {
  box-sizing: border-box;
  padding: 0rem 0.7rem 6rem 0rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd .title{
  margin: 0rem 0rem 7rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.16rem;
  color: #222222;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
  width: 100%;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd .filter-EYR {
  margin-left: 109.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd .filter-EYR .registration-wxd {
  margin-right: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #a5a5a5;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd .filter-EYR .middleline-Gk1 {
  margin-right: 0.7rem;
  width: 0.2rem;
  height: 1.8rem;
  background-color: #a5a5a5;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd .filter-EYR .message-cYy {
  margin-right: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd .filter-EYR .middleline-9J1 {
  margin-right: 0.7rem;
  width: 0.2rem;
  height: 1.8rem;
  background-color: #a5a5a5;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd .filter-EYR .like-sUu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #a5a5a5;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd .messagebtn-wzZ {
  margin-right: 49rem;
  height: 7.2rem;
  display: flex;
  align-items: center;
  background-color: #888888;
  border-radius: 1rem;
  flex-shrink: 0;
  justify-content: center;	
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd .messagebtn-wzZ .receivebtn-55B {
  width: 14.5rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.5;
  letter-spacing: -0.08rem;
  color: #d2d2d2;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .auto-group-ujdf-MUd .messagebtn-wzZ .sendbtn-ZFF {
  width: 14.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.5;
  letter-spacing: -0.08rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #018bf8;
  border-radius: 0 1rem 1rem 0;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs {
  margin-bottom: 4.5rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf {
  /*margin-right: 4.2446rem;*/
  box-sizing: border-box;
  /*padding-bottom: 59.3rem;*/
  width: 128rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelistth-6uP {
  margin-bottom: 1.4rem;
  box-sizing: border-box;
  padding: 0rem 4.05rem 0rem 3.5rem;
  width: 100%;
  height: 4.9rem;
  box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelistth-6uP .name-bbF {
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelistth-6uP .name-bbF .btncheck-jBf {
  margin: 0.3rem 6.9rem 0.3rem 0rem;
  width: 2rem;
  height: calc(100% - 0.6rem);
  cursor: pointer;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelistth-6uP .name-bbF .btncheck-jBf .rectangle-137-4jj {
  width: 100%;
  height: 2rem;
  border: solid 0.2rem #cdcdcd;
  box-sizing: border-box;
  background-color: #ffffff;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelistth-6uP .name-bbF .num-Cqw {
  margin-right: 7.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelistth-6uP .name-bbF .sendid-wHj {
  margin-right: 10.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelistth-6uP .name-bbF .senddate-47T {
 margin-right: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelistth-6uP .name-bbF .read-b7P {
  margin-right: 30.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelistth-6uP .name-bbF .content-7rR {
  margin-right: 39.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelistth-6uP .name-bbF .delete-ak1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.03rem;
  color: #191919;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj {
  /*margin-bottom: 61.2rem;*/
  width: 100%;
  /*height: 4.7rem;*/
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF {
  box-sizing: border-box;
  padding: 0rem 4.35rem 0rem 3.5rem;
  width: 100%;
  height: 100%;
  border-bottom: solid 0.1rem #dfdfdf;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF .auto-group-kpwf-wU5 {
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF .auto-group-kpwf-wU5 .btncheck-FDs {
  margin: 0.3rem 6.9rem 0.3rem 0rem;
  width: 2rem;
  height: calc(100% - 0.6rem);
  cursor: pointer;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF .auto-group-kpwf-wU5 .btncheck-FDs .rectangle-137-yvZ {
  width: 100%;
  height: 2rem;
  border: solid 0.2rem #cdcdcd;
  box-sizing: border-box;
  background-color: #ffffff;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF .auto-group-kpwf-wU5 .num-W9o {
  margin-right: 7.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.07rem;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF .auto-group-kpwf-wU5 .id-Da1 {
  /*margin-right: 8.05rem;*/
 	display: block;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 1.625;
    letter-spacing: -0.07rem;
    color: #222222;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    width: 100px;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF .auto-group-kpwf-wU5 .date-kZw {
   margin-right: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.07rem;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  width: 210px;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF .auto-group-kpwf-wU5 .read-gyP {
  margin-right: 22.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.07rem;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF .auto-group-kpwf-wU5 .content-pph {
  margin-right: 16rem;
  display: block;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
    letter-spacing: -0.07rem;
    color: #222222;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 0.3s;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    width: 500px;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF .auto-group-kpwf-wU5 .content-pph:hover {
	text-decoration: underline;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .messagelist-ZPf .messagelist-Gsj .message-puF .auto-group-kpwf-wU5 .delete-Lo3 {
  margin-bottom: 0.125rem;
  width: 1.5rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
  cursor: pointer;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .writebtn-qzh {
  margin: 0rem 0.055rem 0rem 118.755rem;
  /*width: calc(100% - 118.8107rem);*/
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .writebtn-qzh .deletebtn {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #7d7d7d;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .writebtn-qzh .middleline-Gk1{
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  justify-content: center;
  align-items: center;
  width: 0.2rem;
  height: 1.8rem;
  background-color: #a5a5a5;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .writebtn-qzh .item--oAq {
  margin: 0rem 1rem 0rem 0rem;
  width: 0.8892rem;
  height: 0.9288rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
  cursor: pointer;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .divlist-QFs .writebtn-qzh .item--LRf {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #7d7d7d;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK {
  margin: 0rem 48.778rem 0rem 48.6rem;
  width: calc(100% - 97.3784rem);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .item-th{
  margin-right: 2rem;
  margin-bottom: 0.7rem;
  width: 14px;
  height: 14px;
  font-size: 18px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .btndoubleprevious-hfX {
  margin: 0rem 1.5rem 0rem 0rem;
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .btnprevious-nKb {
  margin: 0rem 2.5rem 0rem 0rem;
  width: 14px;
  height: 14px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .item-1-7Ms {
  margin-right: 2.0001rem;
  width: 0.5516rem;
  height: 1.0248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .item-2-f8V {
  margin: 0rem 2rem 0rem 0rem;
  width: 0.6412rem;
  height: 1.043rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .item-3-nD7 {
  margin-right: 2rem;
  width: 0.6468rem;
  height: 1.0626rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .item-4-hqs {
  margin-right: 2rem;
  width: 0.6972rem;
  height: 1.0248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .item-5-rim {
  margin: 0rem 2rem 0rem 0rem;
  width: 0.6552rem;
  height: 1.0444rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .item-6-CXj {
  margin-right: 2rem;
  width: 0.6286rem;
  height: 1.0626rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .item-7-tvM {
  margin-right: 2rem;
  width: 0.6342rem;
  height: 1.0248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .item-8-qqb {
  margin-right: 2rem;
  width: 0.6412rem;
  height: 1.0584rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .item-9-Ps7 {
  margin-right: 2.5rem;
  width: 0.6286rem;
  height: 1.0626rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .btnnext-ieV {
  margin: 0rem 1.5rem 0rem 0rem;
  width: 14px;
  height: 14px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypagemessagesend-nho .main-Vms .divmain-oi1 .paging-zFK .btndoublenext-SaV {
  margin-bottom: 0rem;
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
