
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.pageinfo-SK3 {
  width: 100%;
  height: 499.9rem;
  position: relative;
  background-color: #ffffff;
}
.pageinfo-SK3 .footer-ndo {
  width: 192rem;
  height: 9.65rem;
  position: absolute;
  left: 0;
  top: 487rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pageinfo-SK3 .footer-ndo .list-Kdj {
  margin-bottom: 1.55rem;
  box-sizing: border-box;
  padding: 0.75rem 83.745rem 0.75rem 83.4rem;
  width: 100%;
  height: 5.7rem;
  border: solid 0.1rem #dee2e6;
  flex-shrink: 0;
}
.pageinfo-SK3 .footer-ndo .list-Kdj .group-70-qMB {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
}
.pageinfo-SK3 .footer-ndo .list-Kdj .group-70-qMB .item-link-home-P7o {
  margin-right: 2.936rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: #6c757d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .footer-ndo .list-Kdj .group-70-qMB .item-link-features-CL9 {
  margin-right: 3.2025rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .footer-ndo .list-Kdj .group-70-qMB .item-link-pricing-Jty {
  margin-right: 2.8165rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: #6c757d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .footer-ndo .list-Kdj .group-70-qMB .item-link-faqs-qP7 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .footer-ndo .culturemore-jzH {
  margin-left: 0.054rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj {
  width: 191.9357rem;
  height: 440.3604rem;
  position: absolute;
  left: 0rem;
  top: 21.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 {
  box-sizing: border-box;
  padding: 0rem 29.179rem 17rem 27.287rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 {
  margin-bottom: 17rem;
  width: 100%;
  height: 79.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .infotitle-qvq {
  margin: 21.267rem 33.5rem 21.218rem 0rem;
  width: 47.4rem;
  height: calc(100% - 42.4846rem);
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .infotitle-qvq .auto-group-itkx-MuB {
  margin-bottom: 4.3795rem;
  width: 100%;
  height: 28.4359rem;
  position: relative;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .infotitle-qvq .auto-group-itkx-MuB .image-hy3 {
  width: 24.3185rem;
  height: 20.4515rem;
  position: absolute;
  left: 12.9847rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .infotitle-qvq .auto-group-itkx-MuB .infotitle-Exy {
  width: 57.4rem;
  height: 14.4rem;
  position: absolute;
  left: 0;
  top: 14.0359rem;
  display: flex;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .infotitle-qvq .sidetitle-wcV {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 {
  width: 54.5701rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o {
  margin-bottom: 2.3306rem;
  width: 100%;
  height: 75.1694rem;
  position: relative;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .info1image-9yT {
  width: 32.5132rem;
  height: 39.4132rem;
  position: absolute;
  left: 9.9rem;
  top: 19.1rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .info1image-gyP {
  width: 4.7rem;
  height: 4.7rem;
  position: absolute;
  left: 40rem;
  top: 62.3rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .info1image-d7w {
  width: 4.6451rem;
  height: 4.6451rem;
  position: absolute;
  left: 14.7rem;
  top: 60.5rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #018bf8;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .ellipse-19-wuK {
  width: 3.663rem;
  height: 3.663rem;
  position: absolute;
  left: 7.5992rem;
  top: 49.5rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .star-5-5kd {
  width: 6.2579rem;
  height: 6.2579rem;
  position: absolute;
  left: 26.4473rem;
  top: 55.6474rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .line-31-2A5 {
  width: 0.2rem;
  height: 11.3rem;
  position: absolute;
  left: 26.3rem;
  top: 0;
  background-color: #000000;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .culturemoa-MTF {
  width: 2.1rem;
  height: 12.6rem;
  position: absolute;
  left: 3.3rem;
  top: 54.55rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.8rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .dawn-qdK {
  width: 13.4rem;
  height: 13.4rem;
  position: absolute;
  left: 0;
  top: 11.3rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .group-68-aL1 {
  width: 19.0221rem;
  height: 22.1065rem;
  position: absolute;
  left: 35.548rem;
  top: 53.0629rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .rectangle-150-JWu {
  width: 41.2rem;
  height: 58rem;
  position: absolute;
  left: 5.7rem;
  top: 11.2rem;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 20.75rem 20.75rem 0 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .auto-group-1qay-E5o .star-8-1gD {
  width: 2.4rem;
  height: 2.8646rem;
  position: absolute;
  left: 8.4rem;
  top: 20.005rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .intro-Jg1 .info1image-sm3 .waves-k81 {
  margin-right: 2.0701rem;
  width: 26.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .introduce-H7w {
  margin: 0rem 6.776rem 0rem 8.668rem;
  width: calc(100% - 15.4441rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .introduce-H7w .auto-group-du1f-D1b {
  box-sizing: border-box;
  padding: 0rem 51.476rem 3.5rem 48.35rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .introduce-H7w .auto-group-du1f-D1b .introduce-M7o {
  margin: 0rem 0.1rem 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 0.8888888889;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .introduce-H7w .auto-group-du1f-D1b .culturemoreis-esb {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4475;
  letter-spacing: -0.054rem;
  color: #808080;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .introduce-H7w .auto-group-4lrf-yQ5 {
  width: 100%;
  height: 32.3354rem;
  position: relative;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .introduce-H7w .auto-group-4lrf-yQ5 .party-vaD {
  width: 16.8rem;
  height: 16.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .introduce-H7w .auto-group-4lrf-yQ5 .explosion-Gty {
  width: 24.2179rem;
  height: 24.1558rem;
  position: absolute;
  left: 95.8082rem;
  top: 8.1797rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-dnj5-ak1 .introduce-H7w .auto-group-4lrf-yQ5 .introducetext-p9o {
  width: 101.1rem;
  height: 14.5rem;
  position: absolute;
  left: 7.55rem;
  top: 7.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4475;
  color: #191919;
  text-align: center;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 {
  width: 100%;
  height: 99.6502rem;
  position: relative;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 {
  width: 91.3rem;
  height: 92.4rem;
  position: absolute;
  left: 50.25rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-x9qb-2Fs {
  box-sizing: border-box;
  padding: 0rem 31.65rem 8.9rem 31.75rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-x9qb-2Fs .team-members-ZFo {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 0.8888888889;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-x9qb-2Fs .teamintroduce-g5X {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4475;
  letter-spacing: -0.054rem;
  color: #808080;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj {
  margin-bottom: 12rem;
  width: 100%;
  height: 33rem;
  position: relative;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .developer-LA5 {
  width: 91.3rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20rem;
  font-weight: 800;
  line-height: 1;
  color: rgba(192, 192, 192, 0.200000003);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .seon-RxD {
  width: 17.6rem;
  height: 21.2rem;
  position: absolute;
  left: 3.35rem;
  top: 11.8rem;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .seon-RxD .ellipse-13-xx9 {
  width: 17.6rem;
  height: 17.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #07b47f;
  border-radius: 8.8rem;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .seon-RxD .mask-group-Vx5 {
  width: 17.5998rem;
  height: 17.5998rem;
  position: absolute;
  left: 0;
  top: 0.0108rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .seon-RxD .kyeongseon-kim-qW9 {
  width: 17.4rem;
  height: 3.6rem;
  position: absolute;
  left: 0.1rem;
  top: 17.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #07b47f;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .jimin-vXb {
  width: 17.6214rem;
  height: 21.2rem;
  position: absolute;
  left: 36.85rem;
  top: 11.8rem;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .jimin-vXb .ellipse-14-U3K {
  width: 17.6rem;
  height: 17.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #07b47f;
  border-radius: 8.8rem;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .jimin-vXb .mask-group-QBs {
  width: 17.6214rem;
  height: 17.6214rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .jimin-vXb .jimin-son-kWd {
  width: 10.3rem;
  height: 3.6rem;
  position: absolute;
  left: 3.65rem;
  top: 17.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #07b47f;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .taekyung-dqK {
  width: 17.6rem;
  height: 21.2rem;
  position: absolute;
  left: 70.35rem;
  top: 11.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .taekyung-dqK .auto-group-hxeu-Ziy {
  width: 100%;
  background-color: #07b47f;
  border-radius: 8.8rem;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .taekyung-dqK .auto-group-hxeu-Ziy .mask-group-vZX {
  width: 17.6rem;
  height: 17.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-qjw3-PVj .taekyung-dqK .taekyung-yang-3u3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #07b47f;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-v66d-xm7 {
  margin: 0 9rem;
  width: calc(100% - 18rem);
  height: 31.6rem;
  position: relative;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-v66d-xm7 .designer-W1w {
  width: 73.3rem;
  height: 15rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20rem;
  font-weight: 800;
  line-height: 0.75;
  color: rgba(192, 192, 192, 0.200000003);
  font-family: Roboto, 'Source Sans Pro';
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-v66d-xm7 .sojeong-1jP {
  width: 17.6002rem;
  height: 21.2rem;
  position: absolute;
  left: 11.85rem;
  top: 10.4rem;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-v66d-xm7 .sojeong-1jP .ellipse-16-YjK {
  width: 17.6rem;
  height: 17.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fdd00f;
  border-radius: 8.8rem;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-v66d-xm7 .sojeong-1jP .mask-group-HB7 {
  width: 17.6002rem;
  height: 17.6002rem;
  position: absolute;
  left: 0;
  top: 0.0092rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-v66d-xm7 .sojeong-1jP .sojeong-kim-dEy {
  width: 13.6rem;
  height: 3.6rem;
  position: absolute;
  left: 1.9rem;
  top: 17.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffce00;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-v66d-xm7 .songlee-7vq {
  width: 17.6rem;
  height: 21.2rem;
  position: absolute;
  left: 44.05rem;
  top: 10.4rem;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-v66d-xm7 .songlee-7vq .ellipse-26-FXF {
  width: 17.6rem;
  height: 17.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fdd00f;
  border-radius: 8.8rem;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-v66d-xm7 .songlee-7vq .mask-group-nn5 {
  width: 17.5996rem;
  height: 17.5996rem;
  position: absolute;
  left: 0;
  top: 0.0125rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .teammember-gC1 .auto-group-v66d-xm7 .songlee-7vq .song-lee-ivd {
  width: 10rem;
  height: 3.6rem;
  position: absolute;
  left: 3.7rem;
  top: 17.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffce00;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .teammember-iW5 .image-cWD {
  width: 191.9357rem;
  height: 86.4754rem;
  position: absolute;
  left: 0;
  top: 13.1748rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV {
  box-sizing: border-box;
  padding: 17rem 29.268rem 0rem 30.368rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u {
  margin: 0rem 0rem 16.9rem 0rem;
  width: calc(100% - 0rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for1-QBB {
  margin-right: 6.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for1-QBB .auto-group-xfgv-m1j {
  margin: 0rem 0rem 8.4rem 0.3rem;
  width: 21rem;
  height: 10.3rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/skewed-rectangle-QWD.png');
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for1-QBB .forsubtitle-RMB {
  max-width: 18.1rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.048rem;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for2-Lj3 {
  margin-right: 8.55rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for2-Lj3 .auto-group-zwbp-JA5 {
  margin-bottom: 4.6rem;
  width: 16.7rem;
  height: 17.9rem;
  position: relative;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for2-Lj3 .auto-group-zwbp-JA5 .lightning-1-SXB {
  width: 10.1rem;
  height: 17.9rem;
  position: absolute;
  left: 3.3rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for2-Lj3 .auto-group-zwbp-JA5 .fortitle-yX7 {
  width: 16.7rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 6.4rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for2-Lj3 .forsubtitle-hCD {
  margin-right: 1.6rem;
  max-width: 17.6rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.048rem;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .auto-group-xsch-QsK {
  margin: 0rem 5.95rem 2.3rem 0rem;
  width: 21.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .auto-group-xsch-QsK .auto-group-maob-Yid {
  box-sizing: border-box;
  padding: 0rem 0.75rem 10.8rem 0.65rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .auto-group-xsch-QsK .auto-group-maob-Yid .its-for-gpq {
  margin: 0rem 0.3rem 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 0.8888888889;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .auto-group-xsch-QsK .auto-group-maob-Yid .subtitle-C2V {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4475;
  letter-spacing: -0.054rem;
  color: #808080;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .auto-group-xsch-QsK .for3-imX {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .auto-group-xsch-QsK .for3-imX .auto-group-7scd-suK {
  margin: 0rem 2.65rem 5.1rem 2.45rem;
  width: calc(100% - 5.1rem);
  height: 16.8rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-7-ccq.png');
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .auto-group-xsch-QsK .for3-imX .forsubtitle-YVf {
  max-width: 21.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.048rem;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for4-T6q {
  margin-right: 6.7rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for4-T6q .auto-group-zozy-D61 {
  margin-bottom: 8.4rem;
  width: 20.6rem;
  height: 10.3rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rainbow-yLd.png');
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for4-T6q .forsubtitle-V3X {
  margin-right: 0.4rem;
  max-width: 20.7rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.048rem;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for5-bcM {
  width: 21.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for5-bcM .auto-group-dgft-kk9 {
  margin: 0rem 2.4rem 6.7rem 2.9rem;
  width: calc(100% - 5.3rem);
  height: 11.8rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/diamond-Y2V.png');
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .itsfor-58u .for5-bcM .forsubtitle-EQR {
  max-width: 21.1rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.048rem;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm {
  margin-right: 1rem;
  width: 131.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-ycn5-h37 {
  box-sizing: border-box;
  padding: 0rem 51.8rem 2.941rem 54.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-ycn5-h37 .title-ptR {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 0.8888888889;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-ycn5-h37 .subtitle-YZX {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4475;
  letter-spacing: -0.054rem;
  color: #808080;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd {
  width: 100%;
  height: 94.334rem;
  position: relative;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu {
  width: 128.5002rem;
  height: 94.334rem;
  position: absolute;
  left: 2.7998rem;
  top: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .rectangle-150-k9o {
  width: 21.1rem;
  height: 32.6rem;
  position: absolute;
  left: 53.8002rem;
  top: 29.9025rem;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 20.75rem 20.75rem 0 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .rectangle-143-FMT {
  width: 3.661rem;
  height: 3.6609rem;
  position: absolute;
  left: 52.085rem;
  top: 53.8875rem;
  background-color: #fe4236;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .item-2-BW1 {
  width: 28.3176rem;
  height: 36.5525rem;
  position: absolute;
  left: 61.1002rem;
  top: 40.9027rem;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .item-1-JqX {
  width: 38.6539rem;
  height: 33.0728rem;
  position: absolute;
  left: 34.7665rem;
  top: 18.5279rem;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .item-1-JqX .item-1-SRw {
  width: 28.8422rem;
  height: 27.8297rem;
  position: absolute;
  left: 9.8117rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .item-1-JqX .item-02-1-a2M {
  width: 30.4717rem;
  height: 32.9343rem;
  position: absolute;
  left: 0;
  top: 0.1385rem;
  object-fit: cover;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .logo-4y7 {
  width: 12.1rem;
  height: 12.1rem;
  position: absolute;
  left: 58.4002rem;
  top: 41.2027rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .ellipse-19-QGH {
  width: 2.4725rem;
  height: 2.4725rem;
  position: absolute;
  left: 71.4002rem;
  top: 33.2027rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .portal-vkR {
  width: 1.4rem;
  height: 1.8rem;
  position: absolute;
  left: 63.6002rem;
  top: 46.517rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .spiral-3-4Lq {
  width: 9.0726rem;
  height: 9.2453rem;
  position: absolute;
  left: 65.2496rem;
  top: 32.8159rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .ellipse-28-Chw {
  width: 128.5002rem;
  height: 94.334rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .ellipse-27-MKw {
  width: 117.7rem;
  height: 76.2rem;
  position: absolute;
  left: 5.4002rem;
  top: 9.0591rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service3-HDb {
  width: 28.3rem;
  height: 11.6421rem;
  position: absolute;
  left: 48.0002rem;
  top: 78.4591rem;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service3-HDb .item-03-1fP {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.16rem;
  color: #fdd00f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service3-HDb .auto-group-6n4r-jLV {
  width: 100%;
  height: 8.4421rem;
  position: relative;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service3-HDb .auto-group-6n4r-jLV .subtitle-V4m {
  width: 20rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 6.0421rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4475;
  letter-spacing: -0.048rem;
  color: #07b47f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service3-HDb .auto-group-6n4r-jLV .title-b7o {
  width: 24rem;
  height: 6.1rem;
  position: absolute;
  left: 4.3rem;
  top: 0;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.126rem;
  color: #07b47f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service2-tsb {
  width: 22.7rem;
  height: 17.5421rem;
  position: absolute;
  left: 97.6002rem;
  top: 41.617rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service2-tsb .auto-group-ahbp-q29 {
  margin-bottom: 0.6421rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service2-tsb .auto-group-ahbp-q29 .item-02-P3f {
  margin: 0.8rem 1.2rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.16rem;
  color: #fdd00f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service2-tsb .auto-group-ahbp-q29 .title-6Cy {
  max-width: 17.9rem;
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.126rem;
  color: #07b47f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service2-tsb .subtitle-pem {
  margin-right: 0.1rem;
  max-width: 17.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4475;
  letter-spacing: -0.048rem;
  color: #07b47f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service1-MPo {
  width: 26.2rem;
  height: 11.6rem;
  position: absolute;
  left: 48.4002rem;
  top: 3.2591rem;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service1-MPo .item-01-6MP {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.16rem;
  color: #fdd00f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service1-MPo .auto-group-hnyx-poB {
  width: 100%;
  height: 8.4rem;
  position: relative;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service1-MPo .auto-group-hnyx-poB .title-myK {
  width: 22.6rem;
  height: 6.1rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.126rem;
  color: #07b47f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .image-1xu .service1-MPo .auto-group-hnyx-poB .subtitle-JCZ {
  width: 26.2rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4475;
  letter-spacing: -0.048rem;
  color: #07b47f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .service4-16y {
  width: 30.6rem;
  height: 15.2421rem;
  position: absolute;
  left: 0;
  top: 41.617rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .service4-16y .auto-group-g6ed-9U5 {
  margin: 0rem 2.8rem 0.642rem 0rem;
  width: calc(100% - 2.8rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .service4-16y .auto-group-g6ed-9U5 .item-04-UmF {
  margin: 0.8rem 2.3rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.16rem;
  color: #fdd00f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .service4-16y .auto-group-g6ed-9U5 .title-zjb {
  max-width: 21.9rem;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.126rem;
  color: #07b47f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  flex-shrink: 0;
}
.pageinfo-SK3 .main-Fhj .auto-group-5nmw-wYV .ourservices-kNm .auto-group-qzcm-GEd .service4-16y .subtitle-vNM {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4475;
  letter-spacing: -0.048rem;
  color: #07b47f;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM {
  box-sizing: border-box;
  padding: 0.1rem 32rem 0rem 32rem;
  width: 192rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 15.4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
}
.pageinfo-SK3 .gnb-eJM .divintro-wHT {
  margin-right: 18.4rem;
  width: 3.6rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM .divevent-dg5 {
  margin-right: 13.2rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM .divcommunity-wgm {
  margin-right: 15.8rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM .divfaq-4Fb {
  margin-right: 15.8rem;
  width: 3.7rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM .divmypage-B5K {
  margin-right: 13.7rem;
  width: 9.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM .divopentalk-siq {
  margin: 1.6rem 4.303rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 2.4rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #f796af;
  border-radius: 100rem;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM .divopentalk-siq .iconopentalk-aNM {
  margin-right: 0.5rem;
  width: 1.7971rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM .divopentalk-siq .opentalk-7t5 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM .divmessage-ESu {
  margin: 1.6rem 0rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 1rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #46c3d3;
  border-radius: 100rem;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM .divmessage-ESu .iconmessage-M1j {
  margin-right: 0.5rem;
  width: 1.7rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pageinfo-SK3 .gnb-eJM .divmessage-ESu .message-Hg5 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .header-nMw {
  box-sizing: border-box;
  padding: 3.1rem 32.9rem 0.7rem 32rem;
  width: 192rem;
  height: 15.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #fdd00f;
}
.pageinfo-SK3 .header-nMw .logo-VGM {
  margin-right: 27.4rem;
  max-width: 5.6rem;
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gmarket Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.pageinfo-SK3 .header-nMw .searchbar-DTF {
  margin: 2rem 14.9rem 4.4rem 0rem;
  width: 62rem;
  height: calc(100% - 6.4rem);
  position: relative;
  flex-shrink: 0;
}
.pageinfo-SK3 .header-nMw .searchbar-DTF .searchicon-we9 {
  box-sizing: border-box;
  padding: 1.6rem 2.144rem 1.558rem 2.2rem;
  width: 6.5rem;
  height: 5.2rem;
  position: absolute;
  left: 55.5rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 0;
}
.pageinfo-SK3 .header-nMw .searchbar-DTF .searchicon-we9 .iconsearch-TcV {
  width: 2.1558rem;
  height: 2.0424rem;
  object-fit: contain;
  vertical-align: top;
}
.pageinfo-SK3 .header-nMw .searchbar-DTF .searchtext-AWu {
  box-sizing: border-box;
  padding: 0 2.4rem;
  width: 55.5rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.1666666667;
  letter-spacing: -0.1rem;
  color: #c0c0c0;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem 0 0 1rem;
}
.pageinfo-SK3 .header-nMw .searchbar-DTF .divsearch-Dzy {
  width: 62rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1rem;
}
.pageinfo-SK3 .header-nMw .login-MrH {
  margin: 0rem 4.3rem 2.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.pageinfo-SK3 .header-nMw .signup-UR7 {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family:  'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
