
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}

a {
  text-decoration-line : none;
}

.pointer{
	cursor: pointer;
}

.pages {
	color: #999999; 
} 
 
.selected {
	font-weight: bold;
	color: #000000;
}

.selected_anchor{
  margin-right: 1rem;
  width: 4.8rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
  color: #000000;
}

ul, li {
	list-style: none;
}
input {
	border: none;
	width: 100%;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
	border: #ffffff;
	font-size: 16px; 
}

input:focus { 
	outline: none !important; 
	border-color: #FFFFFF;
}


body {
  width: 192rem;
}

.freelist {
  box-sizing: border-box;
  padding-bottom: 14.4374rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}




.freelist .main {
  box-sizing: border-box;
  padding: 2.6rem 30.2rem 0rem 30rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.freelist .main .location {
  margin: 0rem 100rem 5.35rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.freelist .main .location .home {
  margin-right: 1.1rem;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #666666;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .location .nexticon {
  margin-right: 1rem;
  width: 0.4726rem;
  height: 0.9452rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.freelist .main .location .community {
  margin-right: 1rem;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #666666;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .location .nexticon2 {
  margin-right: 1rem;
  width: 0.4726rem;
  height: 0.9452rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.freelist .main .location .freelist_text {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}

.freelist .main .main_content {
  margin-left: 3.8rem;
  width: 128rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_top {
  box-sizing: border-box;
  padding: 0rem 6.7rem 2rem 33rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_top .title {
  margin: 0rem 26.22rem 2.95rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.16rem;
  color: #222222;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_top .main_searchbar {
  margin: 0rem 26.3rem 2.8rem 0rem;
  width: 62rem;
  height: 5.2rem;
  position: relative;
  flex-shrink: 0;
  border: #f2f2f2 0.1rem solid;
  border-radius: 1rem;
}
.freelist .main .main_content .main_content_top .main_searchbar .searchbtn {
  box-sizing: border-box;
  padding: 1.6rem 2.144rem 1.558rem 2.2rem;
  width: 6.5rem;
  height: 5.2rem;
  position: absolute;
  left: 55.5rem;
  top: 0;
  background-color: #ffffff;
  border: #ffffff 0.1rem;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
}
.freelist .main .main_content .main_content_top .main_searchbar .searchbtn .search_icon {
  width: 2.1558rem;
  height: 2.0424rem;
  object-fit: contain;
  vertical-align: top;
}
.freelist .main .main_content .main_content_top .main_searchbar .main_searchtext {
  box-sizing: border-box;
  padding: 0 2.4rem;
  width: 55.5rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.3636363636;
  letter-spacing: -0.1rem;
  color: #c0c0c0;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem 0 0 1rem;
}

.freelist .main .main_content .main_content_top .filter {
  margin-left: 76.6rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_top .filter .register {
  margin-right: 1rem;
  width: 4.8rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #a5a5a5;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}

.freelist .main .main_content .main_content_top .filter .register .register_anchor{
  width: 4.8rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
  color: #c0c0c0;
}

.freelist .main .main_content .main_content_top .filter .middleline {
  margin: 0.2rem 0.8rem 0rem 0rem;
  width: 0.2rem;
  height: 1.8rem;
  background-color: #a5a5a5;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_top .filter .popular {
  width: 4.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #a5a5a5;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.freelist .main .main_content .main_content_top .filter .popular .popular_anchor{
  margin-left: 1rem;
  margin-right: 1rem;
  width: 4.8rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
  color: #c0c0c0;
 }

.freelist .main .main_content .main_content_middle {
  box-sizing: border-box;
  width: 100%;
  height:1000px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.1rem #dfdfdf;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list_title {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 5rem;
  box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list_title .div_names {
  box-sizing: border-box;
/*  padding: 0rem 7.7rem 0rem 4.1rem;
*/  width: 100%;
  height: 100%;
}
.freelist .main .main_content .main_content_middle .list_title .div_names .names {
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
}
.freelist .main .main_content .main_content_middle .list_title .div_names .names .dno_name {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list_title .div_names .names .title_name {
  width: 49.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list_title .div_names .names .regdate_name {
  width: 19rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list_title .div_names .names .id_name {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list_title .div_names .names .hit_name {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.07rem;
  color: #191919;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list_title .div_names .names .like_name {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  letter-spacing: -0.03rem;
  color: #191919;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list {
  margin: 0rem 0rem 105.2rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list .div_list {
  width: 1280px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  margin-left: 12rem;
}
.freelist .main .main_content .main_content_middle .list .div_list .dno {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  text-align: center;
  letter-spacing: -0.07rem;
  color: #222222;
  font-family: 'Montserrat', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list .div_list .title {
  width: 57.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 1.625;
  letter-spacing: -0.07rem;
  color: #222222;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list .div_list .regdate {
  width: 19rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.07rem;
  color: #222222;
  font-family: 'Montserrat', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list .div_list .userid {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.07rem;
  color: #222222;
  font-family: 'Montserrat', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list .div_list .hit {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.07rem;
  color: #222222;
  font-family: 'Montserrat', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_middle .list .div_list .likes {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: 'Montserrat', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_bottom {
  box-sizing: border-box;
  width: 1280px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_bottom .insertboardbtn {
  width: 100%;
  display: flex;
  text-align: right;
  justify-content: right;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_bottom .insertboardbtn .inserticon {
  margin: 2.1rem 0.5rem 0rem 0rem;
  width: 10px;
  height: 10px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_bottom .insertboardbtn .insert_text {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  color: #7d7d7d;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
}
.freelist .main .main_content .main_content_bottom .paging {
  margin-right: 43.2989rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;
}

.freelist .main .main_content .main_content_bottom .paging .div_page {
  text-align: left;
  justify-content: center;
  display: flex;
  margin-bottom: 0.4rem;
}

.freelist .main .main_content .main_content_bottom .paging .btndoubleprevious {
  margin: 0rem 1.5rem 0rem 0rem;
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_bottom .paging .btnprevious {
  margin: 0rem 2.5rem 0rem 0rem;
  width: 14px;
  height: 14px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_bottom .paging .page1 {
  margin-right: 2rem;
  margin-bottom: 0.7rem;
  width: 14px;
  height: 14px;
  font-size: 18px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}




.freelist .main .main_content .main_content_bottom .paging .btnnext {
  margin: 0rem 1.5rem 0rem 0rem;
  width: 14px;
  height: 14px;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.freelist .main .main_content .main_content_bottom .paging .btndoublenext {
  margin-bottom: 0rem;
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
