
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.signup {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.signup .title {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #fdd00f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup .div_main {
  width: 100%;
  height: 212.1rem;
  position: relative;
  flex-shrink: 0;
}
.signup .div_main .bottom-line {
  width: 90.8rem;
  height: 0.1rem;
  position: absolute;
  left: 50.6rem;
  top: 94.6rem;
  background-color: #727272;
}
.signup .div_main .div_idToPhone {
  width: 84rem;
  height: 57.7rem;
  position: absolute;
  left: 54rem;
  top: 9.3rem;
}
.signup .div_main .div_idToPhone .div_lines {
  box-sizing: border-box;
  padding: 7.2rem 0;
  width: 84rem;
  height: 57.7rem;
  position: absolute;
  left: 0;
  top: 0;
  row-gap: 7.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-top: solid 0.1rem #eeeeee;
  border-bottom: solid 0.1rem #eeeeee;
}
.signup .div_main .div_idToPhone .div_lines .line1 {
  width: 100%;
  height: 0.1rem;
  background-color: #eeeeee;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .div_lines .line2 {
  width: 100%;
  height: 0.1rem;
  background-color: #eeeeee;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .div_lines .line3 {
  width: 100%;
  height: 0.1rem;
  background-color: #eeeeee;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .div_lines .line4 {
  width: 100%;
  height: 0.1rem;
  background-color: #eeeeee;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .div_lines .line5 {
  width: 100%;
  height: 0.1rem;
  background-color: #eeeeee;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .div_lines .line6 {
  width: 100%;
  height: 0.1rem;
  background-color: #eeeeee;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .div_lines .line7 {
  width: 100%;
  height: 0.1rem;
  background-color: #eeeeee;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .phonenumber {
  width: 64.8rem;
  height: 5.8rem;
  position: absolute;
  left: 7rem;
  top: 51.1rem;
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
}
.signup .div_main .div_idToPhone .phonenumber .phone_txt {
  margin-right: 13.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.signup .div_main .div_idToPhone .phonenumber .chkphone {
  width: 300px;
  height: 5.8rem;
  border: solid 0.1rem #c0c0c0;
  box-sizing: border-box;
  border-radius: 0.8rem;
  flex-shrink: 0;
}

.signup .div_main .div_idToPhone .phonenumber .chkphone .inputphone {
   margin-left: 1rem;
    margin-bottom: 0.3rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    width: 200px;
    color: #000000;
    font-family: Noto Sans KR, 'Source Sans Pro';
    height: 100%;
}

.inputphone:focus {
	outline: none;
	border: none;
}

.signup .div_main .div_idToPhone .birth {
  width: 60.4rem;
  height: 5.8rem;
  position: absolute;
  left: 7rem;
  top: 43.9rem;
  display: flex;
  align-items: center;
}
.signup .div_main .div_idToPhone .birth .birth_txt {
  margin-right: 17rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.signup .div_main .div_idToPhone .birth .inputbirth {
  display: flex;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1;
  color: #727272;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  border: #c0c0c0 solid 0.1rem;
  padding: 1.5rem 1rem;
  border-radius: 0.8rem;
  width: 200px;
}

.inputbirth:focus {
	outline: none;
	border: none;
}

.signup .div_main .div_idToPhone .gender {
  width: 41.4rem;
  height: 2.3rem;
  position: absolute;
  left: 7rem;
  top: 38.3rem;
  display: flex;
  align-items: flex-end;
}


.signup .div_main .div_idToPhone .gender .gender_txt {
  margin-right: 22rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .gender .btnradio_w {
  box-sizing: border-box;
  padding-right: 1.2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 2.6rem;
  line-height: 1.375;
  color: #727272;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;

}

.signup .div_main .div_idToPhone .gender .btnradio_w .inputgender_m{
  display: flex;
  margin-right: 1.5rem;
  width: 20px;
  height: 20px;
}


.signup .div_main .div_idToPhone .gender .btnradio_w .inputgender_w{
  display: flex;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 20px;
  height: 20px;
}



.signup .div_main .div_idToPhone .nickname {
  width: 79.1rem;
  height: 5.8rem;
  position: absolute;
  left: 7rem;
  top: 29.5rem;
  display: flex;
  align-items: center;
}
.signup .div_main .div_idToPhone .nickname .nickname_txt {
  margin-right: 18.9rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.signup .div_main .div_idToPhone .nickname .chknickname {
    margin-right: 1.2rem;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    border: solid 0.1rem #c0c0c0;
    border-radius: 0.8rem;
    flex-shrink: 0;
    width: 300px;
}

.signup .div_main .div_idToPhone .nickname .chknickname .inputnickname {
    margin-left: 1.2rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    width: 200px;
    color: #000000;
    font-family: Noto Sans KR, 'Source Sans Pro';
}

.inputnickname:focus {
	outline: none;
	border: none;
}


.signup .div_main .div_idToPhone .nickname .chknickname .nicknameCheck {
  margin-top: 1.7rem;
  padding-right: 1.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  cursor: pointer;
}
.signup .div_main .div_idToPhone .nickname .resultNickname {
  margin: 2.1rem 0;
  width: 17.5rem;
  height: calc(100% - 4.2rem);
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #018bf8;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .username {
  width: 60.4rem;
  height: 5.8rem;
  position: absolute;
  left: 7rem;
  top: 22.3rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}
.signup .div_main .div_idToPhone .username .name_txt {
  margin-right: 20.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .username .chkname {
  width: 300px;
  height: 5.8rem;
  border: solid 0.1rem #c0c0c0;
  box-sizing: border-box;
  border-radius: 0.8rem;
  flex-shrink: 0;
}

.signup .div_main .div_idToPhone .username .chkname .inputname {
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    width: 200px;
    color: #000000;
    font-family: Noto Sans KR, 'Source Sans Pro';
    height: 100%;
}

.inputname:focus{
	outline: none;
	border: none;
}

.signup .div_main .div_idToPhone .pwdCheck {
  width: 79.4rem;
  height: 5.8rem;
  position: absolute;
  left: 7rem;
  top: 15.1rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}
.signup .div_main .div_idToPhone .pwdCheck .pwdCheck_txt {
  margin-right: 13.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .pwdCheck .chkchkpwd {
  margin-right: 1.2rem;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  border: solid 0.1rem #c0c0c0;
  border-radius: 0.8rem;
  flex-shrink: 0;
  width: 350px;
}

.signup .div_main .div_idToPhone .pwdCheck .chkchkpwd .check_txt {
  margin-top: 1.7rem;
  padding-right: 1.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  cursor: pointer;
}


.signup .div_main .div_idToPhone .pwdCheck .chkchkpwd .inputchkpwd {
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    width: 350px;
    color: #000000;
    font-family: Noto Sans KR, 'Source Sans Pro';

}

.inputchkpwd:focus {
	outline: none;
	border: none;
}

.signup .div_main .div_idToPhone .pwdCheck .resultCheckPwd {
  margin: 2.1rem 0;
  width: 17.8rem;
  height: calc(100% - 4.2rem);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #018bf8;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.password-status{
  margin: 2.1rem 0;
  width: 17.8rem;
  height: calc(100% - 4.2rem);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #018bf8;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .userpwd {
  width: 60.4rem;
  height: 5.8rem;
  position: absolute;
  left: 7rem;
  top: 7.9rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}
.signup .div_main .div_idToPhone .userpwd .pwd_txt {
  margin-right: 17.25rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .userpwd .chkpwd {
  margin-right: 1.2rem;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  border: solid 0.1rem #c0c0c0;
  border-radius: 0.8rem;
  flex-shrink: 0;
  width: 350px;
}

.signup .div_main .div_idToPhone .userpwd .chkpwd .inputpwd {
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    width: 300px;
    color: #000000;
    font-family: Noto Sans KR, 'Source Sans Pro';

}

.inputpwd:focus {
	outline: none;
	border: none;
}

.signup .div_main .div_idToPhone .userpwd .chkpwd .check_txt {
  margin-top: 1.7rem;
  padding-right: 1.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  cursor: pointer;
}

.signup .div_main .div_idToPhone .userid {
  width: 80.9rem;
  height: 5.8rem;
  position: absolute;
  left: 7rem;
  top: 0.7rem;
  display: flex;
  align-items: center;
}
.signup .div_main .div_idToPhone .userid .userid_txt {
  margin-right: 19rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup .div_main .div_idToPhone .userid .chkid {
  margin-right: 1.2rem;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  border: solid 0.1rem #c0c0c0;
  border-radius: 0.8rem;
  flex-shrink: 0;
  width: 300px;
}

.signup .div_main .div_idToPhone .userid .chkid .inputid {
  margin-left: 1.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  width: 200px;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}

.inputid:focus {
	outline: none;
	border: none;
}

.signup .div_main .div_idToPhone .userid .chkid .check_txt {
  margin-top: 1.7rem;
  padding-right: 1.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  cursor: pointer;
}

.signup .div_main .div_idToPhone .userid .resultCheck {
  margin: 2.1rem 0;
  width: 19.3rem;
  height: calc(100% - 4.2rem);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #018bf8;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup .div_main .email {
  width: 71.8rem;
  height: 13rem;
  position: absolute;
  left: 61rem;
  top: 67.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.signup .div_main .email .useremail {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.signup .div_main .email .useremail .email_txt {
  margin-right: 18.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}


.signup .div_main .email .useremail .chkemail {
	margin-right: 1.2rem;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    border: solid 0.1rem #c0c0c0;
    border-radius: 0.8rem;
    flex-shrink: 0;
    width: 350px;
}


.signup .div_main .email .useremail .chkemail .inputemail {
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    width: 350px;
    color: #000000;
    font-family: Noto Sans KR, 'Source Sans Pro';
}

.inputemail:focus {
	outline: none;
	border: none;
}



.signup .div_main .email .useremail .chkemail .emailCheck {
    margin-top: 1.7rem;
    padding-right: 1.5rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: #07b47f;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    cursor: pointer;
}


.signup .div_main .email .useremail .sendAuthNum {
  margin: 2.1rem 0;
  width: 40rem;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #018bf8;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.signup .div_main .email .checkemail {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 48rem;
}

.signup .div_main .email .checkemail .chkchkemail {
	margin-right: 1.2rem;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    border: solid 0.1rem #c0c0c0;
    border-radius: 0.8rem;
    flex-shrink: 0;
    width: 350px;
}
.signup .div_main .email .checkemail .chkchkemail .inputcheckemail {
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    width: 350px;
    color: #000000;
    font-family: Noto Sans KR, 'Source Sans Pro';
}

.inputcheckemail:focus {
	outline: none;
	border: none;
}

.signup .div_main .email .checkemail .chkchkemail .btncheckemail {
    margin-top: 1.7rem;
    padding-right: 1.5rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: #07b47f;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    cursor: pointer;
}

.signup .div_main .email .checkemail .chkAuthNum {
  margin: 2.1rem 0;
  width: 40rem;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #018bf8;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.signup .div_main .top-line {
  width: 90.8rem;
  height: 0.1rem;
  position: absolute;
  left: 50.6rem;
  top: 6.3rem;
  background-color: #727272;
}
.signup .div_main .buttons {
  width: 84rem;
  height: 5rem;
  position: absolute;
  left: 54rem;
  top: 86.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup .div_main .buttons .btnsignup {
  margin-right: 1.2rem;
  width: 31.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #07b47f;
  border-radius: 1rem;
  flex-shrink: 0;
  cursor: pointer;
}
.signup .div_main .buttons .btnback {
  width: 31.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #c0c0c0;
  border-radius: 1rem;
  flex-shrink: 0;	
  cursor: pointer;

}
