
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}

a {
  text-decoration-line : none;
}

.pointer{
	cursor: pointer;
}

.pages {
	color: #999999; 
} 
 
.selected {
	font-weight: bold;
	color: #000000;
}

.selected_anchor{
  margin-right: 1rem;
  width: 4.8rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8888888889;
  letter-spacing: -0.1rem;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
  color: #000000;
}

.main_search {
	width: 100%;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
	border: #ffffff;
	font-size: 16px; 
}

.main_search:focus { 
	outline: none !important; 
	border-color: #FFFFFF;
}

.header_top {
  box-sizing: border-box;
  padding: 2.5rem 32rem 0.7rem 32rem;
  width: 100%;
  height: 15.4rem;
  display: flex;
  align-items: center;
  background-color: #fdd00f;
  flex-shrink: 0;
}

.header_top .logo {
  margin-right: 20rem;
  font-size: 4.6rem;
  font-weight: bolder;
  line-height: 1;
  color: #ffffff;
  font-family: 'GmarketSans', 'Source Sans 3', sans-serif;
  flex-shrink: 0;
}

.header_top .searchbar {
  margin: 2.5rem 14.8rem 3.9rem 0rem;
  width: 64rem;
  height: calc(100% - 6.4rem);
  position: relative;
  background-color: #ffffff;
  border-radius: 1rem 1rem 1rem 1rem;
  flex-shrink: 0;
}

.header_top .searchbar .main_search{
  margin: 1.5rem 0 0 1.5rem;
  width: 50rem;
  font-size: 20px;
   font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;

}


.header_top .searchbar .searchicon {
  padding: 1.6rem 2.144rem 1.558rem 3.5rem;
  width: 6.5rem;
  height: 5.2rem;
  position: absolute;
  left: 55.5rem;
  top: 0;
  background-color: #ffffff;
  border: none;
}
.header_top .searchbar .searchicon .iconsearch-tj3 {
  width: 2.1558rem;
  height: 2.0424rem;
  margin-top: 0.2rem;
  object-fit: contain;
  vertical-align: top;
}
.header_top .searchbar .searchtext {
  box-sizing: border-box;
  padding: 0.2rem 2.4rem 0 2.4rem;
  width: 55.5rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.1666666667;
  letter-spacing: -0.1rem;
  color: #c0c0c0;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem 0 0 1rem;
}

.header_top .div_login {
  margin: 2rem 3.1rem 4.4rem 0rem;
  width: 6.5rem;
  height: calc(100% - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 570;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #FFFFFF;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}


.header_top .div_signup {
  margin: 2rem 0rem 4.4rem 0rem;
  width: 8.6rem;
  height: calc(100% - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #FFFFFF;
  font-family: 'Noto Sans KR', 'Source Sans 3', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}





.gnb-EhX {
  box-sizing: border-box;
  padding: 0.1rem 32.5rem 0rem 34.5rem;
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.gnb-EhX .divintro-9pV {
  margin-right: 16rem;
  width: 3.6rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gnb-EhX .divevent-3Q5 {
  margin-right: 15rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gnb-EhX .divcommunity-xG9 {
  margin-right: 15rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gnb-EhX .divfaq-fwF {
  margin-right: 14rem;
  width: 3.7rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gnb-EhX .divmypage-o1s {
  margin-right: 11.7rem;
  width: 9.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.gnb-EhX .divopentalk-DLV {
  margin: 1.6rem 2rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 2rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #f796af;
  border-radius: 100rem;
  flex-shrink: 0;
  cursor: pointer;
}
.gnb-EhX .divopentalk-DLV .iconopentalk-vEu {
  margin-left: 0.5rem;
  width: 1.7971rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gnb-EhX .divopentalk-DLV .opentalk-GJm {
  display: flex;
  margin-left: 0.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gnb-EhX .divmessage-aaM {
  margin: 1.6rem 0rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 1.5rem 0rem 1.5rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #46c3d3;
  border-radius: 100rem;
  flex-shrink: 0;
  cursor: pointer;
}
.gnb-EhX .divmessage-aaM .iconmessage-VBX {
  margin-right: 0.5rem;
  width: 1.7rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gnb-EhX .divmessage-aaM .message-Rqs {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dropdown_main {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

.dropdown_main .gnb_dropdown {
  box-sizing: border-box;
  padding: 0rem 0rem 0rem 30rem;
  width: 100%;
  height: 30.8rem;
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.8999999762);
  z-index: 1;
  position: absolute;
	
}
.dropdown_main .gnb_dropdown .div_introduce {
  display: flex;
  width: 130px;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  
}
.dropdown_main .gnb_dropdown .div_introduce .pageinfo {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  text-align: center;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_introduce .teaminfo {
  display: flex;
  margin: auto 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  text-align: center;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_eventlist {
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_eventlist .festival {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  text-align: center;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_eventlist .domestic {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  text-align: center;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_eventlist .overseas {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  text-align: center;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_eventlist .musical {
  display: flex;
  margin-right: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  text-align: center;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_eventlist .localfestival {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  text-align: center;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_boardlist {
  width: 145px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  margin-right: 11.6rem;
}
.dropdown_main .gnb_dropdown .div_boardlist .freelist_text {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_boardlist .reviewlist {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_boardlist .togetherlist {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .faq {
  display: flex;
  width: 50px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
}
.dropdown_main .gnb_dropdown .div_infolist {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  width: 340px;
}
.dropdown_main .gnb_dropdown .div_infolist .wishlist {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_infolist .message {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dropdown_main .gnb_dropdown .div_infolist .memberinfo {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.125;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}




.category{
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
label {
	vertical-align: middle;
  font-size: 18px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
}
fieldset{
	display: flex;
	margin-top: 0.8rem;
}
[type="radio"],
span {
  vertical-align: middle;
  appearance: none;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  
}
[type="radio"]:checked {
  border: 0.4em solid #07b47f;
  margin-bottom: 0.5rem;
}
[type="radio"]:focus-visible {
  outline: max(2px, 0.1em) dotted #07b47f;
  outline-offset: max(2px, 0.1em);
}
[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}
[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
  margin-bottom: 0.5rem;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}
[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
  margin-bottom: 0.5rem;
}

.boardlistfree-2b3 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.boardlistfree-2b3 .header-xDo {
  box-sizing: border-box;
  padding: 3.1rem 32.9rem 0.7rem 32rem;
  width: 100%;
  height: 15.4rem;
  display: flex;
  align-items: center;
  background-color: #fdd00f;
  flex-shrink: 0;
}
.boardlistfree-2b3 .header-xDo .logo-fe1 {
  margin-right: 27.4rem;
  max-width: 5.6rem;
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gmarket Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.boardlistfree-2b3 .header-xDo .searchbar-aky {
  margin: 2rem 14.9rem 4.4rem 0rem;
  width: 62rem;
  height: calc(100% - 6.4rem);
  position: relative;
  flex-shrink: 0;
}
.boardlistfree-2b3 .header-xDo .searchbar-aky .searchicon-FcD {
  box-sizing: border-box;
  padding: 1.6rem 2.144rem 1.558rem 2.2rem;
  width: 6.5rem;
  height: 5.2rem;
  position: absolute;
  left: 55.5rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 0;
}
.boardlistfree-2b3 .header-xDo .searchbar-aky .searchicon-FcD .iconsearch-jnH {
  width: 2.1558rem;
  height: 2.0424rem;
  object-fit: contain;
  vertical-align: top;
}
.boardlistfree-2b3 .header-xDo .searchbar-aky .searchtext-NqF {
  box-sizing: border-box;
  padding: 0 2.4rem;
  width: 55.5rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.1666666667;
  letter-spacing: -0.1rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem 0 0 1rem;
}
.boardlistfree-2b3 .header-xDo .searchbar-aky .divsearch-Y7T {
  width: 62rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1rem;
}
.boardlistfree-2b3 .header-xDo .login-egH {
  margin: 0rem 4.3rem 2.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .header-xDo .signup-huT {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry {
  box-sizing: border-box;
  padding: 0.1rem 32rem 0rem 32rem;
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divintro-JPT {
  margin-right: 18.4rem;
  width: 3.6rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divevent-QxH {
  margin-right: 13.2rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divcommunity-XX7 {
  margin-right: 15.8rem;
  width: 7.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divfaq-3kM {
  margin-right: 15.8rem;
  width: 3.7rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divmypage-mgM {
  margin-right: 13.7rem;
  width: 9.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.15;
  letter-spacing: -0.1rem;
  color: #222222;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divopentalk-f13 {
  margin: 1.6rem 4.303rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 2.4rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #f796af;
  border-radius: 100rem;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divopentalk-f13 .iconopentalk-AyP {
  margin-right: 0.5rem;
  width: 1.7971rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divopentalk-f13 .opentalk-7td {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divmessage-boo {
  margin: 1.6rem 0rem 1.7rem 0rem;
  box-sizing: border-box;
  padding: 0rem 1rem 0rem 1.1rem;
  height: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  background-color: #46c3d3;
  border-radius: 100rem;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divmessage-boo .iconmessage-hbw {
  margin-right: 0.5rem;
  width: 1.7rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.boardlistfree-2b3 .gnb-yry .divmessage-boo .message-S3j {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD {
  width: 100%;
  height: 151.2rem;
  display: flex;
  column-gap: 3.5rem;
  align-items: center;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .paddingleft-Sxq {
  width: 32rem;
  height: 151.2rem;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs {
  margin: 13.5rem 0rem 8.8rem 0rem;
  width: 121rem;
  height: calc(100% - 22.3rem);
  position: relative;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-mwuv-w8u {
  width: 24.2rem;
  height: 2.2rem;
  position: absolute;
  left: 94.5rem;
  top: 126.7rem;
  display: flex;
  align-items: center;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-mwuv-w8u .golistbtn-FfP {
  margin: 0.2rem 4.2rem 0rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #c0c0c0;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-mwuv-w8u .divwritebtn-9Ey {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding-left: 0.2188rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
   background: none;
  border: none;
  margin-right: 0.5rem;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-mwuv-w8u .divwritebtn-9Ey .pencilline-G4h {
  margin: 0rem 1.156rem 0.062rem 0rem;
  width: 1.6251rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-mwuv-w8u .divwritebtn-9Ey .writebtn-mn9 {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .contentinput-Vi9 {
  width: 18.4rem;
  height: 3rem;
  position: absolute;
  left: 0.5rem;
  top: 27.7rem;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #dcdcdc;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .divtitle-bFP {
  width: 121rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 13.7rem;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.6666666667;
  letter-spacing: -0.07rem;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #dcdcdc;
  box-sizing: border-box;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s {
  box-sizing: border-box;
  padding-bottom: 5.5rem;
  width: 121rem;
  height: 13.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divwriter-RVK {
  margin: 0rem 103rem 3rem 0rem;
  width: calc(100% - 103rem);
  display: flex;
  align-items: center;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divwriter-RVK .writertitle-YK3 {
  margin-right: 6.9rem;
  display: flex;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divwriter-RVK .writerinput-ecy {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 {
  height: 2.6rem;
  display: flex;
  align-items: center;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 .categorytitle-6zm {
  margin-right: 4.3rem;
  display: flex;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 .btnradio-SYq {
  margin: 0.3rem 0;
  height: calc(100% - 0.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 .btnradio-SYq .radiofree-nsb {
  margin-right: 1.5rem;
  box-sizing: border-box;
  padding-right: 3rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 .btnradio-SYq .radiofree-nsb .group-34-wkV {
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 2rem;
  height: 100%;
  border: solid 0.2rem #07b47f;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 .btnradio-SYq .radiofree-nsb .group-34-wkV .rectangle-138-sPF {
  width: 100%;
  height: 1rem;
  background-color: #07b47f;
  border-radius: 3rem;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 .btnradio-SYq .radiofree-nsb .free-M3X {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8;
  color: #07b47f;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 .btnradio-SYq .radiotogether-sXf {
  box-sizing: border-box;
  padding-right: 3rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 .btnradio-SYq .radiotogether-sXf .group-34-cEM {
  margin-right: 0.8rem;
  width: 2rem;
  height: 100%;
  border-radius: 10rem;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 .btnradio-SYq .radiotogether-sXf .group-34-cEM .rectangle-137-ZvH {
  width: 100%;
  height: 2rem;
  border: solid 0.2rem #cdcdcd;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10rem;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .auto-group-zphp-V5s .divcategory-ZE9 .btnradio-SYq .radiotogether-sXf .together-eB3 {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8;
  color: #cdcdcd;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.boardlistfree-2b3 .main-uCD .divmain-QPs .bottomline-Bgm {
  width: 121rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 123.7rem;
  background-color: #dcdcdc;
}
.boardlistfree-2b3 .main-uCD .paddingright-6Hw {
  width: 32rem;
  height: 151.2rem;
  flex-shrink: 0;
}
