<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>아이디 찾기 결과</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet"> 
<link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/styles/findidcomplete.css}"/>
</head>
<body>
<div class="findidcomplete-bVs" layout:fragment="content">
  <div class="title-oNH">아이디 찾기 완료</div>
  <div class="item--8fT">고객님의 정보와 일치하는 아이디입니다.</div>
  <img class="checkcircle-Qss" src="/assets/checkcircle-hAh.png"/>
  <div class="auto-group-vb4m-Yz5">
    <div class="frame-330-G9P">
      <div class="item--C33">아이디</div>
      <div class="nameid1234-7Qu">name_id1234</div>
    </div>
    <div class="group-43-M4M">
      <div class="item--Uuf">비밀번호가 기억나지 않는다면?</div>
      <div class="item--ZgD">비밀번호 찾기</div>
    </div>
    <div class="btnlogin-sgu">로그인</div>
  </div>
</div>
</body>