<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>비밀번호 찾기</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet"> 
<link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/styles/findpassword.css}"/>
</head>
<body>
<div class="findpassword-vJ5" layout:fragment="content">
  <div class="title-9C5">비밀번호 찾기</div>
  <div class="auto-group-huah-UVF">
	<!--아이디 -->  
    <div class="current-password-BuT">
      <div class="item--jvy">아이디</div>
      <div class="auto-group-pbpm-Dr9">
		  
        <div class="btnconfirm-xYq">확인</div>
        <input class="passworddefault-sA1"  placeholder="아이디를 입력해주세요" required></input>
        
      </div>
    </div>
    
    <!--이름 -->  
    <div class="new-password-yiq">
      <div class="item--Y1F">이름</div>
      <input class="rectangle-144-ea5" placeholder="이름을 입력해주세요" required></input>
      
    </div>
    
    <!-- 이메일 -->  
    <div class="new-passwordconfirm-B4D">
      <div class="item--Xds">이메일</div>
      <div class="auto-group-mzpf-eCh">
		<input class="checkEmail"  placeholder="이메일을 입력해주세요" required>
		<div class="checkEmailBtn">확인</div>
		
	  </div>
    </div>
    
    <!-- 인증번호 -->  
    <div class="inputverificationcode-Vz1">
      <div class="item--rJm">인증번호 입력</div>
      <input class="inputverificationcode-YSV"  placeholder="인증번호를 입력해주세요" required></input>
    </div>
    
    <div class="questionfindid-h4V">
      <div class="item--2Mf">아이디가 기억나지 않는다면?</div>
      <a th:href="@{/login/findid}">
      	<div class="item--7P7">아이디 찾기</div>
      </a>
    </div>
    <a th:href="@{/login/passwordreset}" class="btnfindpassword-R8u">
    	<div class="btnfindpassword-R8u">비밀번호 찾기</div>
    </a>
    <div class="btnback-uJy">뒤로가기</div>
  </div>
</div>
</body>