<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>비밀번호 재설정</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet"> 
<link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/styles/passwordreset.css}"/>
</head>
<body>
<div class="passwordreset-GJu" layout:fragment="content">
  <div class="title-NPB">비밀번호 재설정</div>
  <div class="auto-group-7ypd-u8D">
    <div class="current-password-cYR">
      <div class="item--mAR">현재 비밀번호</div>
      <div class="auto-group-o91s-dyK">
        <div class="btnconfirm-nLR">확인</div>
        <div class="passworddefault-VEq">
        </div>
        <div class="item--1iy">현재 비밀번호</div>
      </div>
    </div>
    <div class="new-password-W9w">
      <div class="item--rUh">새 비밀번호</div>
      <div class="auto-group-1q7f-xnd">
        <div class="item--X53">새 비밀번호</div>
        <div class="rectangle-144-21o">
        </div>
      </div>
    </div>
    <div class="new-passwordconfirm-w8m">
      <div class="item--UuP">새 비밀번호 (확인)</div>
      <div class="auto-group-1e7s-y5T">
        <div class="item--vFb">비밀번호 재입력</div>
        <div class="rectangle-145-1nq">
        </div>
      </div>
    </div>
    <div class="questionfindid-LKK">
      <div class="item--GTs">아이디가 기억나지 않는다면?</div>
      <div class="item--ZSy">아이디 찾기</div>
    </div>
    <div class="btnpwreset-UZw">비밀번호 재설정</div>
    <div class="btnback-AxZ">뒤로가기</div>
  </div>
</div>
</body>