<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>비밀번호 재설정</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet"> 
<link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/styles/passwordreset.css}"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script type="text/javascript">
	$(function(){
		//비밀번호 확인 
	    const passwordInput = $("#password");
	    const passwordStatus = $("#password-status");  //비밀번호 작성 결과
		const pwdDoubleCheckBtn=$(".btnpwreset-UZw");
		const resultCheckPwd=$(".resultCheckPwd");  //비밀번호 재확인 결과
		var pwdCheck=0;
		var pwd;
		//비밀번호 체크
	    passwordInput.on("input", function() {
	        const password = $(this).val();
	        pwd=password;
	        const isValid = checkPasswordValidity(password);
			
	        if (isValid) {
	            passwordStatus.text("암호로 사용 가능합니다");
	            passwordStatus.css("color", "#018bf8");
	            pwdCheck=1;
	        } else {
	            passwordStatus.text("암호로 사용 불가능합니다");
	            passwordStatus.css("color", "red");
	            pwdCheck=0;
	        }
	    });
	
		// 비밀번호 규칙 체크를 수행하고 결과를 반환하는 함수
	    function checkPasswordValidity(password) {
	        const regex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
	        return regex.test(password);
	    }
	    
	    //비밀번호 확인 
	    pwdDoubleCheckBtn.on("click",function(){
			if(pwdCheck==1){  //비밀번호 규칙 준수 여부 확인
				const doublePassword = $("#pwdDoubleCheck").val(); //비밀번호 재 작성
				const id=$("#id").val();
				if(pwd===doublePassword){
					pwdDouble=1; //비밀 번호 더블 체크 확인
					$.ajax({
						url:"/changePwd",
						data:{id:id,newPwd:doublePassword},
						success:function(){
							location.href="/login/passwordresetcomplete"; 	
						}
					});
				}else{
					resultCheckPwd.text("암호가 일치하지 않습니다");
					resultCheckPwd.css("color","red");
					pwdDouble=0;
				}
			}
		});
		
	});	
</script>	
</head>
<body>
<div class="passwordreset-GJu" layout:fragment="content">
  <input type="hidden" th:value="${id}" id="id">	
  <div class="title-NPB">비밀번호 재설정</div>
  <div class="auto-group-7ypd-u8D">
    <!--새비밀번호 입력 -->
    <div class="new-password-W9w">
      <div class="item--rUh">새 비밀번호</div>
      <div class="auto-group-1q7f-xnd">
       	 <input type="password" class="item--X53" id="password" placeholder="새 비밀번호" required></input>
      </div>
      <div class="checkNewPwd" id="password-status"></div>
    </div>
    
    <!--새비밀번호 확인 -->
    <div class="new-passwordconfirm-w8m">
      <div class="item--UuP">새 비밀번호 (확인)</div>
      <div class="auto-group-1e7s-y5T">
        <input type="password" id="pwdDoubleCheck" class="item--vFb" placeholder="비밀번호 재입력" required></input>
      </div>
      <div class="resultCheckPwd"></div>
    </div>
    
    <div class="questionfindid-LKK">
      <div class="item--GTs">아이디가 기억나지 않는다면?</div>
      <a th:href="@{/login/findid}">
      	<div class="item--ZSy">아이디 찾기</div>
      </a>
    </div>
   	<div class="btnpwreset-UZw">비밀번호 재설정</div>
   	<a class="btnback-AxZ" th:href="@{/login/login}">
 	   <div class="btnback-AxZ">뒤로가기</div>
    </a>
  </div>
</div>
</body>