<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}"/>
<head th:fragment="mainHeader">
	   <!-- header_top div 시작 -->
		  <div class="header_top">
			
			<!--logo p 시작-->
		    <p class="logo" style="cursor: pointer;" onclick="location.href='/mainPage'">
		    컬쳐
		    <br/>
		    모아
		    </p>
		    <!--logo p 끝-->
		    
		    <!--searchbar div 시작-->
		    <div class="searchbar">
			  <input class="main_search" type="text" name="keyword_main" id="keyword_main" placeholder="검색어를 입력하세요.">
			  <!-- searchicon div 시작 -->
		      <button class="searchicon" id="searchicon" onclick="alert('반가워요!')">
		        <img class="iconsearch-tj3" src="/assets/iconsearch-wow.png"/>
		      </button>
		      <!-- searchicon div 끝 -->
	
		      
		    </div>
		    <!--searchbar div 끝-->
		    
		    <div class="div_login" style="cursor: pointer;" onclick="location.href='/login'">로그인</div>
		    <div class="div_signup"  style="cursor: pointer;" onclick="location.href='/signup'">회원가입</div>
		    
		  </div>
		  <!-- header_top div 끝 -->
	 
	    
	    <!--gnb -->
	    <div class="gnb-EhX"  onmouseover="showDropDown()"  onmouseout="hideDropDown()">
	      <div class="divintro-9pV">소개</div>
	      <div class="divevent-3Q5">행사소식</div>
	      <div class="divcommunity-xG9">커뮤니티</div>
	      <div class="divfaq-fwF">FAQ</div>
	      <div class="divmypage-o1s">마이페이지</div>
	      <div class="divopentalk-DLV">
	        <img class="iconopentalk-vEu" src="/assets/iconopentalk-2m7.png"/>
	        <div class="opentalk-GJm" onclick="opentalk()">오픈톡</div>
	      </div>
	      <div class="divmessage-aaM">
	        <img class="iconmessage-VBX" src="/assets/iconmessage-2Bj.png"/>
	        <div class="message-Rqs" onclick="location.href=''">쪽지</div>
	      </div>
	    </div>
	  </div>
	  <!-- header 끝 -->
	 <!--dropdown_main 시작-->
  <div class="dropdown_main">
	<!-- gnb 드롭다운 시작 -->
    <div class="gnb_dropdown"  style="visibility: hidden;" id="gnbDropdown"  onmouseover="cancelHide()" onmouseout="hideDropDown()">
      
      <!--div_introduce 시작-->
      <div class="div_introduce">
        <div class="pageinfo pointer" onclick="location.href='/pageinfo'">페이지소개</div>
        <div class="teaminfo pointer" onclick="location.href='/teaminfo'">팀원소개</div>
      </div>
      <!--div_introduce 끝-->
      
      <!--div_eventlist 시작-->
      <div class="div_eventlist">
        <div class="festival pointer" onclick="location.href='/event/festivallist'">페스티벌</div>
        <div class="localfestival pointer" onclick="location.href='/event/playlist'">연극</div>
        <div class="domestic pointer" onclick="location.href='/event/domesticconcertlist'">국내공연</div>
        <div class="overseas pointer" onclick="location.href='/event/koreaconcertlist'">내한공연</div>
        <div class="musical pointer" onclick="location.href='/event/musicallist'">뮤지컬</div>
      </div>
      <!--div_eventlist 끝-->
      
      <!--div_boardlist 시작-->
      <div class="div_boardlist">
        <div class="freelist_text pointer" onclick="location.href='/boards/board/freelist'">자유게시판</div>
        <div class="reviewlist pointer" onclick="location.href='/boards/review/reviewlist'">후기게시판</div>
        <div class="togetherlist pointer" onclick="location.href='/boards/board/togetherlist'">동행게시판</div>
      </div>
      <!--div_boardlist 끝-->
      
      <div class="faq pointer" onclick="location.href='/FAQ'">FAQ</div>
      
      <!--div_infolist 시작-->
      <div class="div_infolist">
        <div class="wishlist pointer" onclick="location.href='/member/mypage'">관심목록</div>
        <div class="message pointer" onclick="location.href='/member/mypage'">쪽지함</div>
        <div class="memberinfo pointer" onclick="location.href='/member/mypage'">회원정보</div>
      </div>
      <!--div_infolist 끝-->
    </div>
	<!-- gnb 드롭다운 끝 -->
</head>
<body>
	<div layout:fragment="content"></div>
</body>
</html>