<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>board_list_review</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="./styles/insertBoard_review.css"/>
</head>
<body>
<div class="boardlistreview-gXb">
  <div class="header-DXX">
    <p class="logo-K4m">
    컬쳐
    <br/>
    모아
    </p>
    <div class="searchbar-S9P">
      <div class="searchicon-Zjo">
        <img class="iconsearch-Rn1" src="./assets/iconsearch-f2H.png"/>
      </div>
      <div class="searchtext-kJV">검색어를 입력하세요.</div>
      <div class="divsearch-At1">
      </div>
    </div>
    <div class="login-uah">로그인</div>
    <div class="signup-pBs">회원가입</div>
  </div>
  <div class="gnb-Jsj">
    <div class="divintro-2Yq">소개</div>
    <div class="divevent-8bs">행사소식</div>
    <div class="divcommunity-eaD">커뮤니티</div>
    <div class="divfaq-LT3">FAQ</div>
    <div class="divmypage-G5o">마이페이지</div>
    <div class="divopentalk-yW1">
      <img class="iconopentalk-3Vs" src="./assets/iconopentalk-dE9.png"/>
      <div class="opentalk-Bry">오픈톡</div>
    </div>
    <div class="divmessage-Vsf">
      <img class="iconmessage-Cn5" src="./assets/iconmessage-sSq.png"/>
      <div class="message-jn1">쪽지</div>
    </div>
  </div>
  <div class="main-DSH">
    <div class="paddingleft-N4H">
    </div>
    <div class="divmain-uK7">
      <div class="auto-group-kd3o-pws">
        <div class="divwriter-jZ3">
          <div class="writertitle-FGV">작성자</div>
          <div class="writerinput-xAu">teddie</div>
        </div>
        <div class="dropdownreview-4Uq">
          <div class="component-20-Q2u">
            <div class="auto-group-huq7-Yuo">
              <div class="eventcategory-i3b">공연카테고리</div>
              <img class="vector-1-QBK" src="./assets/vector-1-bB7.png"/>
            </div>
          </div>
        </div>
        <div class="search-LKs">
        </div>
      </div>
      <div class="divtitle-4mf">제목</div>
      <div class="contentinput-waZ">내용을 입력해주세요.</div>
      <div class="bottomline-TJ1">
      </div>
      <div class="auto-group-ujz1-cAu">
        <div class="golistbtn-iDw">게시글 목록</div>
        <div class="divwritebtn-cid">
          <img class="pencilline-y3P" src="./assets/pencilline-sQV.png"/>
          <div class="writebtn-6do">게시글 작성</div>
        </div>
      </div>
    </div>
    <div class="paddingright-QPb">
    </div>
  </div>
</div>
</body>