<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>board_review_detail</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700"/>
   <link rel="stylesheet" type="text/css" th:href="@{/styles/reviewDetail.css}"/>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
	//목록으로 돌아가기
	function goReview(){
		var review = "/boards/review/reviewlist";
        window.location.href = review;
	}
	//게시글 삭제하기
	function remove(){
		if(confirm("게시글을 삭제하시겠습니까?")){
			var reviewno=$("#reviewno").val();
			$.ajax({
				type:"GET",
				url:"/deleteReview?reviewno=" + reviewno,
				success:function(){
					alert("삭제되었습니다");
					window.location.href="/boards/review/reviewlist";
				}
			});
		}else{
			return false;
		}
	}
	//본인이 작성한 글일 경우 '수정,삭제,목록' 아닐경우 '목록'만 보이기
	$(function(){
		var id=$("#id").val();
		var writer=$(".inputwriter-Y8q").text();
		//수정버튼
		const btn1 = document.querySelector(".updatebtn-Jf3"); 
		//삭제버튼
        const btn2 = document.querySelector(".deletebtn-kG9");
		if(id==writer){
		   
	        btn1.style.visibility = 'visible';
	        btn2.style.visibility = 'visible';
	        
		}else{
			btn2.style.visibility = 'hidden';
        	btn1.style.visibility = 'hidden';
		}
	})
	//수정 버튼 클릭시 수정 페이지로 이동
	function update(){
		var reviewno=$("#reviewno").val();
		var reviewUpdate = '/boards/review/reviewUpdate?reviewno=' + reviewno;
        window.location.href = reviewUpdate;
        
		
	}
</script>
<body>
<div class="boardreviewdetail-XaZ">
  <div class="header-fgm">
    <p class="logo-zU9">
    컬쳐
    <br/>
    모아
    </p>
    <div class="searchbar-7of">
      <div class="searchicon-F9B">
        <img class="iconsearch-AG9" src="./assets/iconsearch-nad.png"/>
      </div>
      <div class="searchtext-prV">검색어를 입력하세요.</div>
      <div class="divsearch-g81">
      </div>
    </div>
    <div class="login-Ddj">로그인</div>
    <div class="signup-obw">회원가입</div>
  </div>
  <div class="gnb-gQq">
    <div class="divintro-nim">소개</div>
    <div class="divevent-tG1">행사소식</div>
    <div class="divcommunity-zpq">커뮤니티</div>
    <div class="divfaq-uwo">FAQ</div>
    <div class="divmypage-SRw">마이페이지</div>
    <div class="divopentalk-jA9">
      <img class="iconopentalk-3Rj" src="./assets/iconopentalk-tbB.png"/>
      <div class="opentalk-Zey">오픈톡</div>
    </div>
    <div class="divmessage-fi1">
      <img class="iconmessage-nnd" src="./assets/iconmessage-3cD.png"/>
      <div class="message-KnZ">쪽지</div>
    </div>
  </div>
  <div class="main-pUR">
    <div class="auto-group-q6mw-PGd">
      <div class="maintitle-6B3">후기게시판</div>
      <div class="mainheader-Msf">
        <div class="framemainheader-gQ9">
          <div class="framelocation-EgZ">
            <div class="home-P3f">홈</div>
            <img class="icon-JwK" src="./assets/icon-E6M.png"/>
            <div class="board-DoP">게시판</div>
            <img class="icon-Meh" src="./assets/icon-Sc1.png"/>
            <div class="boardreview-hTf">공연후기</div>
          </div>
        </div>
      </div>
    </div>
    <!--main -->
    <!-- 회원 id -->
    <input type="hidden" id="id" th:value="${id}"> 
    <input type="hidden" id="reviewno" th:value="${r.reviewno}">
    <div class="divmain-bZ3">
      <div class="divtitle-uJq">
		<!-- title -->
        <div class="divmaintitle-DqK">
          <div class="category-Luw">[후기]</div>
          <div class="title-3pM" th:text="${r.reviewtitle}"></div>
        </div>
        <div class="divsubtitle-b5B">
          <div class="auto-group-m8ty-v7T">
			<!-- 작성자 --> 
            <div class="divwrtier-faq">
              <div class="writer-zt1">작성자</div>
              <div class="inputwriter-Y8q" th:text="${r.member.id}"></div>
            </div>
            <div class="line1-TFo">
            </div>
            <!-- 작성일 --> 
            <div class="regdate-arD" th:text="${r.regdate}"></div>
            <div class="line2-ToX">
            </div>
          </div>
          <!-- 조회수 --> 
          <div class="divhi-ocV">
            <div class="hitinput-mZK">조회수 </div>
            <div class="hittitile-Gky"  th:text="${r.reviewhit}"></div>
          </div>
        </div>
      </div>
      <!--게시글  --> 
      <div class="maincontent-zws">
		<!-- 후기를 작성한 공연정보 -->   
        <div class="event-7Fo">
          <div class="eventcontent-emX">
           <!-- 포스터 -->  
           <img class="poster-yJ1" th:src="@{'/images/'+${event.eventfname}}"/> 

            <div class="content-r6u">
			  <!-- 공연이름 --> 
              <div class="eventname-mzZ" th:text="${event.eventname}"></div>
              <div class="eventtitle-GRX">
				<!-- 공연장소 -->   
                <div class="eventaddr-C4H" th:text="${event.eventplace}"></div>
                <div class="auto-group-32bj-sgD">
                  <div class="line-8-2JD">
                  </div>
                  <!-- 공연기간 --> 
                  <div class="eventdate-mmb" th:text="${day}"></div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- 게시글 내용-->
        <div class="file-tbK" th:utext="${r.reviewcontent}">
        </div>
      </div>
      <!--버튼 -->
      <div class="mainfooter-m9K" >
        <div class="updatebtn-Jf3" onclick="update()">수정하기</div>
        <div class="deletebtn-kG9" onclick="remove()">삭제하기</div>
        <div  class="listbtn" onclick=" goReview()">목록보기</div>
      </div>
      
    </div>
  </div>
</div>
</body>