<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>자유게시판</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+3&display=swap" rel="stylesheet">  
  <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/reviewlist.css}"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script type="text/javascript">
	$(function() {
		$("#searchbtn").click(function() {
			var keyword = $("#keyword").val();
			if(keyword!=null && keyword!='') {
				url = "/boards/review/reviewlist/"+keyword+"/1/regdate";
			}
			else {
				url = "/boards/review/reviewlist/all/1/regdate";
			}
			location.href = url;
		})
		
		$("#register_anchor").click(function() {
			$("#register_anchor").css("color", "black");
		})
		
		$("#popular_anchor").click(function() {
			$("#popular_anchor").css("color", "black");
		})
	})	

		//--------gnb드롭다운
	//마우스가 올라오면 드롭다운
	 function showDropDown() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'visible';
      }
	//gnb에 마우스가 벗어나면 드롭다운 없애기
     function hideDropDown() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'hidden';
     }
    //gnb에 마우스가 벗어나도 드롭다운에 마우스가 올라오면 드롭다운 그대로 유지
     function cancelHide() {
         const gnbDropdown = document.getElementById('gnbDropdown');
         gnbDropdown.style.visibility = 'visible';
     }
     
    //--------------오픈톡
	//버튼 선택시 오픈톡 새창 띄우기
	function opentalk(){
		// 새 창을 띄우기 위한 옵션 설정
        var windowFeatures = 'width=550px,height=550px';
        // 새 창 열기
        var newWindow = window.open('/opentalk', '_blank', windowFeatures);
        // 새 창이 차단되었을 경우 알림
        if (!newWindow) {
            alert('팝업 차단 기능이 활성화되어 있습니다. 새 창이 열리지 않을 수 있습니다.');
        }
	}	
	//게시글 선택 시 해당 상세 게시글로 이동
    function goReview(review){
		var reviewno=review.getAttribute("value")
		var reviewDetail = '/boards/review/reviewDetail?reviewno=' + reviewno;
        window.location.href = reviewDetail;
	}
</script>
</head>
	<body>
	<!--freelist div 시작-->
	<div class="freelist" layout:fragment="content">

	  <!-- main div 시작 -->
	  <div class="main">
		
		<!-- location div 시작 -->
	    <div class="location">
	      <a th:href="@{/mainPage}" class="home" th:text="홈"></a>
	      <img class="nexticon" src="/assets/icon-YJu.png"/>
	      <div class="community">커뮤니티</div>
	      <img class="nexticon2" src="/assets/icon-umT.png"/>
	      <div class="freelist_text">후기게시판</div>
	    </div>
	    <!-- location div 끝 -->
	    
	    <!-- main_content div 시작 -->
	    <div class="main_content">
			
		  <!-- main_content_top div 시작 -->
	      <div class="main_content_top">
	        <div class="title">후기게시판</div>
	        
	        <!-- main_searchbar div 시작 -->
	        <div class="main_searchbar">
			  <!--main_searchtext div 시작-->
	          <div class="main_searchtext">
				  <input type="text" name="keyword" id="keyword" placeholder="검색어를 입력하세요.">
			  	  <!-- searchbtn button 시작 -->
		          <button class="searchbtn" id="searchbtn">
		            <img class="search_icon" src="/assets/icon-YCy.png"/>
		          </button>
	        	  <!-- searchbtn button 끝 -->
			  </div>
			  <!--main_searchtext div 끝-->
	        </div>
	        <!-- main_searchbar div 끝 -->
	        
	        <!-- filter div 시작 -->
	        <div class="filter">
	          <div class="register">
			  	  <a id="register_anchor" class="register_anchor" th:href="@{'/boards/review/reviewlist/'+${session.keyword}+'/1/regdate'}" th:text="등록순"></a>
			  </div>
	          <div class="middleline"></div>
	          <div class="popular">
				  <a id="popular_anchor" class="popular_anchor" th:href="@{'/boards/review/reviewlist/'+${session.keyword}+'/1/reviewhit'}" th:text="인기순"></a>
			  </div>
	        </div>
	        <!-- filter div 끝 -->
	      </div>
	      <!-- main_content_top div 끝 -->
	      
	      <!-- main_content_middle div 시작 -->
	      <div class="main_content_middle">
			  
			<!-- list_title div 시작 -->
	        <div class="list_title">
				
			  <!-- div_names div 시작 -->
	          <div class="div_names">
				<!-- names div 시작 -->
	            <div class="names">
	              <div class="dno_name">글번호</div>
	              <div class="title_name">제목</div>
	              <div class="regdate_name">작성일</div>
	              <div class="id_name">ID</div>
	              <div class="hit_name">조회수</div>
	              <div class="like_name">좋아요</div>
	            </div>
	            <!-- names div 끝 -->
	          </div>
	          <!-- div_names div 끝 -->
	        </div>
	        <!-- list_title div 끝 -->
	        
	        
	        <!-- list div 시작 -->
	        <div class="list">
			  <span th:each="b:${list}">
				  <!-- div_list 시작 -->
		          <div class="div_list" onclick="goReview(this)" th:value="${b.reviewno}">
		            <div class="rno"  th:text="${b.reviewno}"></div>
		            <div class="title" th:text="${b.reviewtitle}"></div>
		            <div class="regdate" th:text="${b.regdate}"></div>
		            <div class="userid" th:text="${b.member.id}"></div>
		            <div class="hit" th:text="${b.reviewhit}"></div>
		            <div class="likes" th:text="${b.reviewlike}"></div>
		          </div>
		          <!-- div_list 끝 -->
		      </span>
	        </div>
	        <!-- list div 끝 -->
	      </div>
	      <!-- main_content_middle div 끝 -->
	      
	      <!-- main_content_bottom div 시작 -->
	      <div class="main_content_bottom">
			<!-- insertboardbtn div 시작 -->
	        <div class="insertboardbtn">
			  <img class="inserticon" src="/assets/icon-wLD.png"/>
	          <a class="insert_text" th:text="게시글작성" href="/boards/review/insertBoard_review"></a>
	        </div>
	        <!-- insertboardbtn div 끝 -->
	        
	<!--         paging div 시작 
	        <div class="paging">
	          <img class="btndoubleprevious" src="/assets/btndoubleprevious-erm.png"/>
	          <img class="btnprevious" src="/assets/btnprevious-bzR.png"/>
	          <th:block th:each="i:${#numbers.sequence(startPage, endPage)}">
		          <div class="page1">
					  <a th:href="@{'/boards/review/reviewlist/'+${session.keyword}+'/'+${i}+'/'+${session.orderby}}" th:text="${i}" class="pages"></a>
				  </div>
			  </th:block>
	          <img class="btnnext" src="/assets/btnnext-UfK.png"/>
	          <img class="btndoublenext" src="/assets/btndoublenext-aoT.png"/>
	        </div>
	         paging div 끝 
	        -->
	        
		    <!-- paging div 시작 -->
			<div class="paging">
				<!-- 이전 버튼 -->
				<a th:if="${currentPage > 1}" th:href="@{/boards/review/reviewlist/1}">
				  <img class="btndoubleprevious" src="/assets/btndoubleprevious-zc9.png"/>
				</a>
				<a th:if="${currentPage > 1}" th:href="@{'/boards/review/reviewlist/'+${currentPage-1}}">
				  <img class="btnprevious" src="/assets/btnprevious-fUm.png"/>
				</a>
				<!-- 페이지 숫자 출력 및 클릭 가능한 링크로 설정 -->
				<div class="div_page" th:if="${totalPages > 1}">
				  <th:block th:with="startPage=${(currentPage-1)/10*10+1}">
					  <th:block th:with="endPage=${(startPage+9) < totalPages ? (startPage+9) : totalPages}">
				      <th:block th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
				        <!-- 페이지 숫자를 답는 div -->
				        <div class="page1">
				        	<a class="pages" th:href="@{'/boards/review/reviewlist/'+${session.keyword}+'/'+${pageNum}+'/'+${session.orderby}}" th:text="${pageNum}" th:classappend="${pageNum == currentPage} ? 'selected' : ''">
				        	</a>
				        </div> 
				      </th:block>
				    </th:block>
				  </th:block>
				</div>
				<!-- 다음 버튼 -->
				<a th:if="${currentPage < totalPages}" th:href="@{'/boards/review/reviewlist/'+${session.keyword}+'/'+${currentPage+1}+'/'+${session.orderby}}">
				  <img class="btnnext" src="/assets/btnnext-zrm.png"/>
				</a>
				<a th:if="${currentPage < totalPages}" th:href="@{'/boards/review/reviewlist/'+${session.keyword}+'/'+${totalPages}+'/'+${session.orderby}}">
				  <img class="btndoublenext" src="/assets/btndoublenext-Y7s.png"/>
				</a>
			</div>
		    <!-- paging div 끝 -->    
		        
	        
	      </div>
	      <!-- main_content_bottom div 끝 -->
	    </div>
	    <!-- main_content div 끝 -->
	  </div>
	  <!-- main div 끝 -->
	 <!-- </div>-->
	  <!--dropdown_main 끝-->
	</div>
	<!--freelist div 끝-->
	</body>
	</th:block>
</html>